---
layout: post
author: lovell
categories: jammu-kashmir

title: Pangong Tso, Ladakh (Pangong Lake)
excerpt: Day 7 of our trip to Jammu and Kashmir. To the Pangong Lake,
    it was! One of the most beautiful lakes in Ladakh. This is a short account of
    that day.
long_excerpt: Day 7 of our trip to Jammu and Kashmir. To the Pangong Lake, it was! One
  of the most beautiful lakes in Ladakh. This is a short account of that day. All
  these photos were clicked using a Canon 1000D. I could not afford expensive gear
  back then.

image:
  main: https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_b.jpg
  datasrcset: 'https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_n.jpg 320w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05.jpg 500w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_z.jpg 640w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_b.jpg 1000w'

tags:
- Clouds
- India
- Ladakh
- Leh
- Pangong Lake
- Pangong Tso
- Travel

geo:
  geo_latitude: '33.752492'
  geo_longitude: '78.66824'
  geo_public: '1'
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Sep 2nd, 2009. Day 7 of our trip through the beautiful <a href="https://happyfeet.us/jammu-kashmir/" title="Jammu & Kashmir on Happy Feet" target="_blank">Jammu and Kashmir</a>. To the Pangong Lake, it was! One of the most beautiful lakes in Ladakh. This is a short account of that day. All these photos were clicked using a <a href="https://amzn.to/UGuIwr" re="nofollow" target="_blank">Canon 1000D</a>. I could not afford expensive gear back then.</p>

    <p>The day was slightly overcast. But we decided to make the trip anyway. We hadn’t come all the way to Ladakh to miss the Pangong Lake. We hired an Innova and hit the road. The weather was perfect. A slight drizzle and some cold Himalayan breeze kept us from rolling down our windows. We started our ascent over some mountains and then out of nowhere, snowstorm!</p>

    <p>Now, city and village boys that we were, the sight of all this snow around us, was amazing. We were like, “Dude, snow! Look, snow! Everywhere... snow!!” But our driver was not too impressed. Apparently, all this snow was not a good sign. He wasn’t pleased. And, after a while, neither were we. The roads were slippery and our car started to drift as we climbed up the mountain. All this drifting would have been a whole load of fun, had it not been for the crazy altitude we were at. Skidding off the Himalayas is a really big “Nope!” for anyone.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6158/6201267786_7584c6126b_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6158/6201267786_7584c6126b_n.jpg 320w, https://farm7.staticflickr.com/6158/6201267786_7584c6126b.jpg 500w, https://farm7.staticflickr.com/6158/6201267786_7584c6126b_z.jpg 640w, https://farm7.staticflickr.com/6158/6201267786_7584c6126b_b.jpg 1000w" %}

    <p>We battle on. Fighting the snow, as we crawled our way up. Another vehicle ahead of us was finding it tough to negotiate a hairpin turn. It kept skidding back as it tried to turn. An army truck, thanks to the chains it had on its wheels, went past us with ease. Some mud was thrown onto the road and the skidding vehicle was back on track. And so were we. And after a while, we were at Chang La (pass). Yup, 5.36 kms (17586 ft) above sea level!</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6166/6200757629_beee9b7a67_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6166/6200757629_beee9b7a67_n.jpg 320w, https://farm7.staticflickr.com/6166/6200757629_beee9b7a67.jpg 500w, https://farm7.staticflickr.com/6166/6200757629_beee9b7a67_z.jpg 640w, https://farm7.staticflickr.com/6166/6200757629_beee9b7a67_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6164/6201268482_e5c461703b_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6164/6201268482_e5c461703b_n.jpg 320w, https://farm7.staticflickr.com/6164/6201268482_e5c461703b.jpg 500w, https://farm7.staticflickr.com/6164/6201268482_e5c461703b_z.jpg 640w, https://farm7.staticflickr.com/6164/6201268482_e5c461703b_b.jpg 1000w" %}

    <p>Boy it was freezing cold! Luckily for us, the chaps from the Indian Army posted there were very nice and welcomed us into their barracks. They offered us some nice hot tea and warned us not to hang out in the cold for too long. We made a pit stop there for a short while.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6180/6200758477_851769c530_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6180/6200758477_851769c530_n.jpg 320w, https://farm7.staticflickr.com/6180/6200758477_851769c530.jpg 500w, https://farm7.staticflickr.com/6180/6200758477_851769c530_z.jpg 640w, https://farm7.staticflickr.com/6180/6200758477_851769c530_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6153/6201269276_c41578bae9_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6153/6201269276_c41578bae9_n.jpg 320w, https://farm7.staticflickr.com/6153/6201269276_c41578bae9.jpg 500w, https://farm7.staticflickr.com/6153/6201269276_c41578bae9_z.jpg 640w, https://farm7.staticflickr.com/6153/6201269276_c41578bae9_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6155/6200759069_211b46d77a_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6155/6200759069_211b46d77a_n.jpg 320w, https://farm7.staticflickr.com/6155/6200759069_211b46d77a.jpg 500w, https://farm7.staticflickr.com/6155/6200759069_211b46d77a_z.jpg 640w, https://farm7.staticflickr.com/6155/6200759069_211b46d77a_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6127/6200759341_642751cf15_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6127/6200759341_642751cf15_n.jpg 320w, https://farm7.staticflickr.com/6127/6200759341_642751cf15.jpg 500w, https://farm7.staticflickr.com/6127/6200759341_642751cf15_z.jpg 640w, https://farm7.staticflickr.com/6127/6200759341_642751cf15_b.jpg 1000w" %}

    <p>And we were back on the road soon. The snow had stopped. But then it started to rain. Not something we wanted right now.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6002/6201270356_be1d791ef2_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6002/6201270356_be1d791ef2_n.jpg 320w, https://farm7.staticflickr.com/6002/6201270356_be1d791ef2.jpg 500w, https://farm7.staticflickr.com/6002/6201270356_be1d791ef2_z.jpg 640w, https://farm7.staticflickr.com/6002/6201270356_be1d791ef2_b.jpg 1000w" %}

    <p>We came across this couple whose vehicle wasn’t able to climb the mountain. We stopped, so that they could have the road to themselves. Also because we did not want their vehicle to skid onto ours and send us all rolling down the valley to meet our death.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6007/6201270746_15ebc84b85_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6007/6201270746_15ebc84b85_n.jpg 320w, https://farm7.staticflickr.com/6007/6201270746_15ebc84b85.jpg 500w, https://farm7.staticflickr.com/6007/6201270746_15ebc84b85_z.jpg 640w, https://farm7.staticflickr.com/6007/6201270746_15ebc84b85_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6014/6200760523_ef89bd6283_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6014/6200760523_ef89bd6283_n.jpg 320w, https://farm7.staticflickr.com/6014/6200760523_ef89bd6283.jpg 500w, https://farm7.staticflickr.com/6014/6200760523_ef89bd6283_z.jpg 640w, https://farm7.staticflickr.com/6014/6200760523_ef89bd6283_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6140/6201271314_2ac1fe27e7_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6140/6201271314_2ac1fe27e7_n.jpg 320w, https://farm7.staticflickr.com/6140/6201271314_2ac1fe27e7.jpg 500w, https://farm7.staticflickr.com/6140/6201271314_2ac1fe27e7_z.jpg 640w, https://farm7.staticflickr.com/6140/6201271314_2ac1fe27e7_b.jpg 1000w" %}

    <p>We finally reached the foot of the mountain and miraculously, the skies also cleared. We stopped by for a moment to talk to the locals and admire their yak.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6023/6201271782_ee41651254_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6023/6201271782_ee41651254_n.jpg 320w, https://farm7.staticflickr.com/6023/6201271782_ee41651254.jpg 500w, https://farm7.staticflickr.com/6023/6201271782_ee41651254_z.jpg 640w, https://farm7.staticflickr.com/6023/6201271782_ee41651254_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6176/6200761635_4e9edf9ba5_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6176/6200761635_4e9edf9ba5_n.jpg 320w, https://farm7.staticflickr.com/6176/6200761635_4e9edf9ba5.jpg 500w, https://farm7.staticflickr.com/6176/6200761635_4e9edf9ba5_z.jpg 640w, https://farm7.staticflickr.com/6176/6200761635_4e9edf9ba5_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6005/6200762031_20faa38b1c_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6005/6200762031_20faa38b1c_n.jpg 320w, https://farm7.staticflickr.com/6005/6200762031_20faa38b1c.jpg 500w, https://farm7.staticflickr.com/6005/6200762031_20faa38b1c_z.jpg 640w, https://farm7.staticflickr.com/6005/6200762031_20faa38b1c_b.jpg 1000w" %}

    <p>I shall now leave you for a while with the clear skies and impressive mountains that we experienced for the rest of the journey.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6164/6201272936_4061c7d652_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6164/6201272936_4061c7d652_n.jpg 320w, https://farm7.staticflickr.com/6164/6201272936_4061c7d652.jpg 500w, https://farm7.staticflickr.com/6164/6201272936_4061c7d652_z.jpg 640w, https://farm7.staticflickr.com/6164/6201272936_4061c7d652_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6178/6200762617_540e9053ba_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6178/6200762617_540e9053ba_n.jpg 320w, https://farm7.staticflickr.com/6178/6200762617_540e9053ba.jpg 500w, https://farm7.staticflickr.com/6178/6200762617_540e9053ba_z.jpg 640w, https://farm7.staticflickr.com/6178/6200762617_540e9053ba_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6168/6200762983_36df28fd15_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6168/6200762983_36df28fd15_n.jpg 320w, https://farm7.staticflickr.com/6168/6200762983_36df28fd15.jpg 500w, https://farm7.staticflickr.com/6168/6200762983_36df28fd15_z.jpg 640w, https://farm7.staticflickr.com/6168/6200762983_36df28fd15_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6154/6200763217_41e8cc101a_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6154/6200763217_41e8cc101a_n.jpg 320w, https://farm7.staticflickr.com/6154/6200763217_41e8cc101a.jpg 500w, https://farm7.staticflickr.com/6154/6200763217_41e8cc101a_z.jpg 640w, https://farm7.staticflickr.com/6154/6200763217_41e8cc101a_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6167/6200763469_96e3986a56_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6167/6200763469_96e3986a56_n.jpg 320w, https://farm7.staticflickr.com/6167/6200763469_96e3986a56.jpg 500w, https://farm7.staticflickr.com/6167/6200763469_96e3986a56_z.jpg 640w, https://farm7.staticflickr.com/6167/6200763469_96e3986a56_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6158/6201274628_dd8ea91dc2_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6158/6201274628_dd8ea91dc2_n.jpg 320w, https://farm7.staticflickr.com/6158/6201274628_dd8ea91dc2.jpg 500w, https://farm7.staticflickr.com/6158/6201274628_dd8ea91dc2_z.jpg 640w, https://farm7.staticflickr.com/6158/6201274628_dd8ea91dc2_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6161/6200764385_f7ebd10339_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6161/6200764385_f7ebd10339_n.jpg 320w, https://farm7.staticflickr.com/6161/6200764385_f7ebd10339.jpg 500w, https://farm7.staticflickr.com/6161/6200764385_f7ebd10339_z.jpg 640w, https://farm7.staticflickr.com/6161/6200764385_f7ebd10339_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6166/6200764737_d5c3a46a1e_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6166/6200764737_d5c3a46a1e_n.jpg 320w, https://farm7.staticflickr.com/6166/6200764737_d5c3a46a1e.jpg 500w, https://farm7.staticflickr.com/6166/6200764737_d5c3a46a1e_z.jpg 640w, https://farm7.staticflickr.com/6166/6200764737_d5c3a46a1e_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6137/6201275844_51dae7e56b_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6137/6201275844_51dae7e56b_n.jpg 320w, https://farm7.staticflickr.com/6137/6201275844_51dae7e56b.jpg 500w, https://farm7.staticflickr.com/6137/6201275844_51dae7e56b_z.jpg 640w, https://farm7.staticflickr.com/6137/6201275844_51dae7e56b_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6151/6201276328_46cb73739e_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6151/6201276328_46cb73739e_n.jpg 320w, https://farm7.staticflickr.com/6151/6201276328_46cb73739e.jpg 500w, https://farm7.staticflickr.com/6151/6201276328_46cb73739e_z.jpg 640w, https://farm7.staticflickr.com/6151/6201276328_46cb73739e_b.jpg 1000w" %}

    <p>And then suddenly, marmots!!</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6151/6200765929_a619007791_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6151/6200765929_a619007791_n.jpg 320w, https://farm7.staticflickr.com/6151/6200765929_a619007791.jpg 500w, https://farm7.staticflickr.com/6151/6200765929_a619007791_z.jpg 640w, https://farm7.staticflickr.com/6151/6200765929_a619007791_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6167/6200766599_75755e7a27_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6167/6200766599_75755e7a27_n.jpg 320w, https://farm7.staticflickr.com/6167/6200766599_75755e7a27.jpg 500w, https://farm7.staticflickr.com/6167/6200766599_75755e7a27_z.jpg 640w, https://farm7.staticflickr.com/6167/6200766599_75755e7a27_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6176/6200767297_cac7cf7e05_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6176/6200767297_cac7cf7e05_n.jpg 320w, https://farm7.staticflickr.com/6176/6200767297_cac7cf7e05.jpg 500w, https://farm7.staticflickr.com/6176/6200767297_cac7cf7e05_z.jpg 640w, https://farm7.staticflickr.com/6176/6200767297_cac7cf7e05_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6166/6201278384_344129f46b_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6166/6201278384_344129f46b_n.jpg 320w, https://farm7.staticflickr.com/6166/6201278384_344129f46b.jpg 500w, https://farm7.staticflickr.com/6166/6201278384_344129f46b_z.jpg 640w, https://farm7.staticflickr.com/6166/6201278384_344129f46b_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6153/6201278902_f4e95222a2_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6153/6201278902_f4e95222a2_n.jpg 320w, https://farm7.staticflickr.com/6153/6201278902_f4e95222a2.jpg 500w, https://farm7.staticflickr.com/6153/6201278902_f4e95222a2_z.jpg 640w, https://farm7.staticflickr.com/6153/6201278902_f4e95222a2_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6015/6201279374_35357ca676_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6015/6201279374_35357ca676_n.jpg 320w, https://farm7.staticflickr.com/6015/6201279374_35357ca676.jpg 500w, https://farm7.staticflickr.com/6015/6201279374_35357ca676_z.jpg 640w, https://farm7.staticflickr.com/6015/6201279374_35357ca676_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6004/6201279930_430cc05b86_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6004/6201279930_430cc05b86_n.jpg 320w, https://farm7.staticflickr.com/6004/6201279930_430cc05b86.jpg 500w, https://farm7.staticflickr.com/6004/6201279930_430cc05b86_z.jpg 640w, https://farm7.staticflickr.com/6004/6201279930_430cc05b86_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6022/6201280576_74e262d218_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6022/6201280576_74e262d218_n.jpg 320w, https://farm7.staticflickr.com/6022/6201280576_74e262d218.jpg 500w, https://farm7.staticflickr.com/6022/6201280576_74e262d218_z.jpg 640w, https://farm7.staticflickr.com/6022/6201280576_74e262d218_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6164/6201280958_945a3893e4_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6164/6201280958_945a3893e4_n.jpg 320w, https://farm7.staticflickr.com/6164/6201280958_945a3893e4.jpg 500w, https://farm7.staticflickr.com/6164/6201280958_945a3893e4_z.jpg 640w, https://farm7.staticflickr.com/6164/6201280958_945a3893e4_b.jpg 1000w" %}

    <p>We left them to share their love, gave them some of our biscuits and carried on to our beautiful destination, The Pangong Lake.</p>


   {% include image.html
      loc="https://farm7.staticflickr.com/6176/6200771255_b70ef35674_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6176/6200771255_b70ef35674_n.jpg 320w, https://farm7.staticflickr.com/6176/6200771255_b70ef35674.jpg 500w, https://farm7.staticflickr.com/6176/6200771255_b70ef35674_z.jpg 640w, https://farm7.staticflickr.com/6176/6200771255_b70ef35674_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6167/6201282918_812cafc49e_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6167/6201282918_812cafc49e_n.jpg 320w, https://farm7.staticflickr.com/6167/6201282918_812cafc49e.jpg 500w, https://farm7.staticflickr.com/6167/6201282918_812cafc49e_z.jpg 640w, https://farm7.staticflickr.com/6167/6201282918_812cafc49e_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6164/6200773159_d2ccb3bcec_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6164/6200773159_d2ccb3bcec_n.jpg 320w, https://farm7.staticflickr.com/6164/6200773159_d2ccb3bcec.jpg 500w, https://farm7.staticflickr.com/6164/6200773159_d2ccb3bcec_z.jpg 640w, https://farm7.staticflickr.com/6164/6200773159_d2ccb3bcec_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6177/6201285574_881a1b1756_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6177/6201285574_881a1b1756_n.jpg 320w, https://farm7.staticflickr.com/6177/6201285574_881a1b1756.jpg 500w, https://farm7.staticflickr.com/6177/6201285574_881a1b1756_z.jpg 640w, https://farm7.staticflickr.com/6177/6201285574_881a1b1756_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6162/6200775127_c0e9610845_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6162/6200775127_c0e9610845_n.jpg 320w, https://farm7.staticflickr.com/6162/6200775127_c0e9610845.jpg 500w, https://farm7.staticflickr.com/6162/6200775127_c0e9610845_z.jpg 640w, https://farm7.staticflickr.com/6162/6200775127_c0e9610845_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6126/6201286440_999633a46b_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6126/6201286440_999633a46b_n.jpg 320w, https://farm7.staticflickr.com/6126/6201286440_999633a46b.jpg 500w, https://farm7.staticflickr.com/6126/6201286440_999633a46b_z.jpg 640w, https://farm7.staticflickr.com/6126/6201286440_999633a46b_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6153/6201286900_caab4fa19f_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6153/6201286900_caab4fa19f_n.jpg 320w, https://farm7.staticflickr.com/6153/6201286900_caab4fa19f.jpg 500w, https://farm7.staticflickr.com/6153/6201286900_caab4fa19f_z.jpg 640w, https://farm7.staticflickr.com/6153/6201286900_caab4fa19f_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_n.jpg 320w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05.jpg 500w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_z.jpg 640w, https://farm7.staticflickr.com/6142/6200776543_8cd072ae05_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6153/6201288008_12ff2e9184_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6153/6201288008_12ff2e9184_n.jpg 320w, https://farm7.staticflickr.com/6153/6201288008_12ff2e9184.jpg 500w, https://farm7.staticflickr.com/6153/6201288008_12ff2e9184_z.jpg 640w, https://farm7.staticflickr.com/6153/6201288008_12ff2e9184_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6174/6201288746_3427336af9_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6174/6201288746_3427336af9_n.jpg 320w, https://farm7.staticflickr.com/6174/6201288746_3427336af9.jpg 500w, https://farm7.staticflickr.com/6174/6201288746_3427336af9_z.jpg 640w, https://farm7.staticflickr.com/6174/6201288746_3427336af9_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6139/6201290446_290a4eb0a8_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6139/6201290446_290a4eb0a8_n.jpg 320w, https://farm7.staticflickr.com/6139/6201290446_290a4eb0a8.jpg 500w, https://farm7.staticflickr.com/6139/6201290446_290a4eb0a8_z.jpg 640w, https://farm7.staticflickr.com/6139/6201290446_290a4eb0a8_b.jpg 1000w" %}

    <p>And what a sight it was! We grabbed some refreshments from a tiny restaurant by the lake and enjoyed some quiet time there.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6177/6201290938_af49650359_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6177/6201290938_af49650359_n.jpg 320w, https://farm7.staticflickr.com/6177/6201290938_af49650359.jpg 500w, https://farm7.staticflickr.com/6177/6201290938_af49650359_z.jpg 640w, https://farm7.staticflickr.com/6177/6201290938_af49650359_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6152/6201291360_f1d22defdb_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6152/6201291360_f1d22defdb_n.jpg 320w, https://farm7.staticflickr.com/6152/6201291360_f1d22defdb.jpg 500w, https://farm7.staticflickr.com/6152/6201291360_f1d22defdb_z.jpg 640w, https://farm7.staticflickr.com/6152/6201291360_f1d22defdb_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6141/6200780793_b6fc90bda5_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6141/6200780793_b6fc90bda5_n.jpg 320w, https://farm7.staticflickr.com/6141/6200780793_b6fc90bda5.jpg 500w, https://farm7.staticflickr.com/6141/6200780793_b6fc90bda5_z.jpg 640w, https://farm7.staticflickr.com/6141/6200780793_b6fc90bda5_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6015/6201292068_676ce8f414_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6015/6201292068_676ce8f414_n.jpg 320w, https://farm7.staticflickr.com/6015/6201292068_676ce8f414.jpg 500w, https://farm7.staticflickr.com/6015/6201292068_676ce8f414_z.jpg 640w, https://farm7.staticflickr.com/6015/6201292068_676ce8f414_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6169/6200781825_e0a664d3e9_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6169/6200781825_e0a664d3e9_n.jpg 320w, https://farm7.staticflickr.com/6169/6200781825_e0a664d3e9.jpg 500w, https://farm7.staticflickr.com/6169/6200781825_e0a664d3e9_z.jpg 640w, https://farm7.staticflickr.com/6169/6200781825_e0a664d3e9_b.jpg 1000w" %}

    <p>Later that evening, we headed back. Past one crazy river that was starting to fill up, thanks to the melting snow.</p>

   {% include image.html
      loc="https://farm7.staticflickr.com/6144/6200783289_ae8106aa29_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6144/6200783289_ae8106aa29_n.jpg 320w, https://farm7.staticflickr.com/6144/6200783289_ae8106aa29.jpg 500w, https://farm7.staticflickr.com/6144/6200783289_ae8106aa29_z.jpg 640w, https://farm7.staticflickr.com/6144/6200783289_ae8106aa29_b.jpg 1000w" %}

   {% include image.html
      loc="https://farm7.staticflickr.com/6159/6201295708_cfe63f0c1f_b.jpg"
      alt="To Pangong Tso (Lake)"
      datasrcset="https://farm7.staticflickr.com/6159/6201295708_cfe63f0c1f_n.jpg 320w, https://farm7.staticflickr.com/6159/6201295708_cfe63f0c1f.jpg 500w, https://farm7.staticflickr.com/6159/6201295708_cfe63f0c1f_z.jpg 640w, https://farm7.staticflickr.com/6159/6201295708_cfe63f0c1f_b.jpg 1000w" %}

    <p>The Pangong Lake is a must visit if you ever plan to head to Ladakh.</p>
  </div>
</section>