---
layout: post
author: lovell
categories: jammu-kashmir

title: Approaching Zoji La
excerpt: The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.
long_excerpt: We were on our way to Srinagar and had to make our way past the Zoji La. These are photos shot before we started the long journey through the crazy terrain of the Zoji La (also known as the Zoji La Pass). The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.

image: https://c2.staticflickr.com/4/3696/9230465952_fb261840d9_o.jpg

tags:
- Himalayas
- India
- Jammu &amp; Kashmir
- Pass
- Travel
- Zoji La
- Zoji La Pass

dsq_thread_id: 2720676042
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>We were on our way to Srinagar and had to make our way past the <a href="http://click.lovelldsouza.com/82/zoji-la" title="Zoji La" target="_blank">Zoji La</a>. These are photos shot before we started the long journey through the crazy terrain of the Zoji La (also known as the Zoji La Pass). The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.</p>

    {% include image.html
       loc = "https://farm4.staticflickr.com/3804/9227685847_d1eb824190_h.jpg"
       alt = "Approaching Zoji La"
       caption = "The road through paradise" %}

    <p>This is a rough location of where we were. I did not have any GPS logging device back then. I used to use a Nokia E71, which took forever to lock onto satellites. All these photos are shot using a Canon 1000D. Some of them are HDR photos.</p>

    <p><iframe class="img-polaroid" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Zoji+La&amp;aq=&amp;sll=17.408909,78.465759&amp;sspn=0.566739,1.056747&amp;t=h&amp;ie=UTF8&amp;ll=34.328907,75.566368&amp;spn=0.031896,0.087805&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></p>

    {% include image.html
       loc = "https://c2.staticflickr.com/4/3742/9230466674_d41e5eb4a5_o.jpg"
       alt = "Approaching Zoji La"
       caption = "Driving through the valley" %}

    {% include image.html
       loc = "https://c2.staticflickr.com/6/5463/9230465954_23d19fa911_o.jpg"
       alt = "Approaching Zoji La"
       caption = "Lush snow-capped mountains kiss the clouds" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7453/9230466534_381106600c_h.jpg"
       alt = "Approaching Zoji La"
       caption = "The mighty mountains en route the Zoji La" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3680/9230466930_973cc4318d_h.jpg"
       alt = "Approaching Zoji La"
       caption = "The mountain sheep and their master" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7431/9227686031_f073ddebe5_h.jpg"
       alt = "Approaching Zoji La"
       caption = "Mountain sheep grazing away to glory" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5493/9230466694_57e83e74ba_h.jpg"
       alt = "Approaching Zoji La"
       caption = "The lone mountain shepherd" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2888/9230466332_a352ddceff_h.jpg"
       alt = "Approaching Zoji La"
       caption = "Local kid immune to the harsh climate" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3794/9230466360_c78e25ed0f_h.jpg"
       alt = "Approaching Zoji La"
       caption = "Jagged snowy peaks contrast the lush green landscape" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5515/9227685783_cf224b28cb_h.jpg"
       alt = "Approaching Zoji La"
       caption = "Blink-and-you-miss-em &mdash; wild horses" %}
  </div>
</section>