---
layout: post
comments: true
author: lovell
categories: jammu-kashmir

title: Approaching Zoji La
excerpt: The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.
long_excerpt: We were on our way to Srinagar and had to make our way past the Zoji La. These are photos shot before we started the long journey through the crazy terrain of the Zoji La (also known as the Zoji La Pass). The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.

amp: true
amp-img: https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_n.jpg
amp-components: [ iframe ]

image:
  main: https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_n.jpg
  datasrcset: 'https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_n.jpg 320w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede.jpg 500w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_z.jpg 640w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_c.jpg 800w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_b.jpg 1024w'

tags:
- Himalayas
- India
- Jammu &amp; Kashmir
- Pass
- Travel
- Zoji La
- Zoji La Pass

dsq_thread_id: 2720676042
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>We were on our way to Srinagar and had to make our way past the <a href="https://click.lovelldsouza.com/82/zoji-la" title="Zoji La" target="_blank">Zoji La</a>. These are photos shot before we started the long journey through the crazy terrain of the Zoji La (also known as the Zoji La Pass). The landscape was out of the world. Jammu and Kashmir truly living up to being a paradise on earth.</p>

    {% include image.html
       loc="https://farm4.staticflickr.com/3804/9227685847_ec0f29e514.jpg"
       alt="Approaching Zoji La"
       caption="The road through paradise."
       datasrcset="https://farm4.staticflickr.com/3804/9227685847_ec0f29e514_n.jpg 320w, https://farm4.staticflickr.com/3804/9227685847_ec0f29e514.jpg 500w, https://farm4.staticflickr.com/3804/9227685847_ec0f29e514_z.jpg 640w, https://farm4.staticflickr.com/3804/9227685847_ec0f29e514_c.jpg 800w, https://farm4.staticflickr.com/3804/9227685847_ec0f29e514_b.jpg 1024w, https://farm4.staticflickr.com/3804/9227685847_d1eb824190_h.jpg 1600w" %}

    <p>This is a rough location of where we were. I did not have any GPS logging device back then. I used to use a Nokia E71, which took forever to lock onto satellites. All these photos are shot using a Canon 1000D. Some of them are HDR photos.</p>

    {% include embed.html type = 'googlemap' 
       src = 'https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Zoji+La&amp;aq=&amp;sll=17.408909,78.465759&amp;sspn=0.566739,1.056747&amp;t=h&amp;ie=UTF8&amp;ll=34.328907,75.566368&amp;spn=0.031896,0.087805&amp;z=14&amp;iwloc=A&amp;output=embed' %}

    {% include image.html
       loc="https://farm4.staticflickr.com/3742/9230466674_7daf713945.jpg"
       alt="Approaching Zoji La"
       caption="riving through the valley."
       datasrcset="https://farm4.staticflickr.com/3742/9230466674_7daf713945_n.jpg 320w, https://farm4.staticflickr.com/3742/9230466674_7daf713945.jpg 500w, https://farm4.staticflickr.com/3742/9230466674_7daf713945_z.jpg 640w, https://farm4.staticflickr.com/3742/9230466674_7daf713945_c.jpg 800w, https://farm4.staticflickr.com/3742/9230466674_7daf713945_b.jpg 1024w" %}

    {% include image.html
       loc="https://farm4.staticflickr.com/3696/9230465952_d4a0739ede.jpg"
       alt="Approaching Zoji La"
       caption=""
       datasrcset="https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_n.jpg 320w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede.jpg 500w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_z.jpg 640w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_c.jpg 800w, https://farm4.staticflickr.com/3696/9230465952_d4a0739ede_b.jpg 1024w" %}

    {% include image.html
       loc="https://farm6.staticflickr.com/5463/9230465954_a5eea40617.jpg"
       alt="Approaching Zoji La"
       caption="Lush snow-capped mountains kiss the clouds."
       datasrcset="https://farm6.staticflickr.com/5463/9230465954_a5eea40617_n.jpg 320w, https://farm6.staticflickr.com/5463/9230465954_a5eea40617.jpg 500w, https://farm6.staticflickr.com/5463/9230465954_a5eea40617_z.jpg 640w, https://farm6.staticflickr.com/5463/9230465954_a5eea40617_c.jpg 800w, https://farm6.staticflickr.com/5463/9230465954_a5eea40617_b.jpg 1024w" %}

    {% include image.html
       loc="https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba.jpg"
       alt="Approaching Zoji La"
       caption="The mighty mountains en route the Zoji La."
       datasrcset="https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba_n.jpg 320w, https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba.jpg 500w, https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba_z.jpg 640w, https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba_c.jpg 800w, https://farm8.staticflickr.com/7453/9230466534_3ed8a18fba_b.jpg 1024w, https://farm8.staticflickr.com/7453/9230466534_381106600c_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm4.staticflickr.com/3680/9230466930_3b23fefba2.jpg"
       alt="Approaching Zoji La"
       caption="The mountain sheep and their master."
       datasrcset="https://farm4.staticflickr.com/3680/9230466930_3b23fefba2_n.jpg 320w, https://farm4.staticflickr.com/3680/9230466930_3b23fefba2.jpg 500w, https://farm4.staticflickr.com/3680/9230466930_3b23fefba2_z.jpg 640w, https://farm4.staticflickr.com/3680/9230466930_3b23fefba2_c.jpg 800w, https://farm4.staticflickr.com/3680/9230466930_3b23fefba2_b.jpg 1024w, https://farm4.staticflickr.com/3680/9230466930_973cc4318d_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6.jpg"
       alt="Approaching Zoji La"
       caption="Mountain sheep grazing away to glory."
       datasrcset="https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6_n.jpg 320w, https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6.jpg 500w, https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6_z.jpg 640w, https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6_c.jpg 800w, https://farm8.staticflickr.com/7431/9227686031_c59ae65cd6_b.jpg 1024w, https://farm8.staticflickr.com/7431/9227686031_f073ddebe5_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm6.staticflickr.com/5493/9230466694_9ac831e215.jpg"
       alt="Approaching Zoji La"
       caption="The lone mountain shepherd."
       datasrcset="https://farm6.staticflickr.com/5493/9230466694_9ac831e215_n.jpg 320w, https://farm6.staticflickr.com/5493/9230466694_9ac831e215.jpg 500w, https://farm6.staticflickr.com/5493/9230466694_9ac831e215_z.jpg 640w, https://farm6.staticflickr.com/5493/9230466694_9ac831e215_c.jpg 800w, https://farm6.staticflickr.com/5493/9230466694_9ac831e215_b.jpg 1024w, https://farm6.staticflickr.com/5493/9230466694_57e83e74ba_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm3.staticflickr.com/2888/9230466332_30557d2ab2.jpg"
       alt="Approaching Zoji La"
       caption="Local children, immune to the harsh climate."
       datasrcset="https://farm3.staticflickr.com/2888/9230466332_30557d2ab2_n.jpg 320w, https://farm3.staticflickr.com/2888/9230466332_30557d2ab2.jpg 500w, https://farm3.staticflickr.com/2888/9230466332_30557d2ab2_z.jpg 640w, https://farm3.staticflickr.com/2888/9230466332_30557d2ab2_c.jpg 800w, https://farm3.staticflickr.com/2888/9230466332_30557d2ab2_b.jpg 1024w, https://farm3.staticflickr.com/2888/9230466332_a352ddceff_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm4.staticflickr.com/3794/9230466360_89f2118ee4.jpg"
       alt="Approaching Zoji La"
       caption="Jagged snowy peaks contrast the lush green landscape."
       datasrcset="https://farm4.staticflickr.com/3794/9230466360_89f2118ee4_n.jpg 320w, https://farm4.staticflickr.com/3794/9230466360_89f2118ee4.jpg 500w, https://farm4.staticflickr.com/3794/9230466360_89f2118ee4_z.jpg 640w, https://farm4.staticflickr.com/3794/9230466360_89f2118ee4_c.jpg 800w, https://farm4.staticflickr.com/3794/9230466360_89f2118ee4_b.jpg 1024w, https://farm4.staticflickr.com/3794/9230466360_c78e25ed0f_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm6.staticflickr.com/5515/9227685783_3214ceaefb.jpg"
       alt="Approaching Zoji La"
       caption="Blink-and-you-miss-em &mdash; wild horses."
       datasrcset="https://farm6.staticflickr.com/5515/9227685783_3214ceaefb_n.jpg 320w, https://farm6.staticflickr.com/5515/9227685783_3214ceaefb.jpg 500w, https://farm6.staticflickr.com/5515/9227685783_3214ceaefb_z.jpg 640w, https://farm6.staticflickr.com/5515/9227685783_3214ceaefb_c.jpg 800w, https://farm6.staticflickr.com/5515/9227685783_3214ceaefb_b.jpg 1024w, https://farm6.staticflickr.com/5515/9227685783_cf224b28cb_h.jpg 1600w" %}
  </div>
</section>