---
layout: post
comments: true
author: priya
categories: tamil-nadu

title: On the ruins of Alamparai Fort &amp; the beauty of forgotten places
excerpt: The Alamparai Fort is a desolate yet beautiful sight. The ramparts have battled the vagaries of time, wars, battering of the sea and sheer neglect.

image: https://farm6.staticflickr.com/5781/20898637541_7ba917dae5_h.jpg

tags:
- Alampara Fort
- Alamparai Fort
- Bay of Bengal
- Chennai
- East Coast Road
- ECR
- Edaikazhinadu
- Fort
- Happy Feet
- India
- Kadappakkam
- Madras
- Pondicherry
- Tamil Nadu
- Travel

geo:
  geotag_region: Edaikazhinadu, Tamil Nadu
  geotag_country: India
  geo_address: Edaikazhinadu, Tamil Nadu, India
  geo_latitude: '12.266145'
  geo_longitude: '80.010203'
  geo_public: '1'

dsq_thread_id: 4067989774
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>An unexplained force draws you to abandoned ruins and discarded spaces. You find them beguiling. The old walls tell you things no else can hear. Crumbling structures sing tunes that never even have been written. Others see damage, you see delicateness. Where others notice ramshackles, you spot unfinished stories. Others feel pity, you feel a humbling sense of inevitable mortality. Why do you feel that way? Is it because you are a sucker for nostalgia? Is it because you associate these shunned places with jilted lovers experiencing the painful pangs of unrequited love? Is it because you find mysterious beauty in a certain kind of sadness, a delicious melancholy in emptiness, perhaps? You don’t know why and you never will. But you will continue to tread on forsaken grounds, not even knowing what you are truly looking for.</p>

    <p>You remember seeing a haunting picture of the abandoned ruins of the Alamparai Fort at dusk — indigo skies, dark shadows and alluring silhouettes against the Bay of Bengal. But when you drive 50 kilometres from Mamallapuram in search of the fort that lies forgotten somewhere along the beautiful East Coast Road, it is a bright and sunny afternoon, all blue skies and azure waters. After a smooth drive on the highway along the sea, a signboard asks you to turn left, into a non-descript road near a seaside village called Kadappakkam. You drive on a small, sandy road hugging the sea, past scattered huts with asbestos tops, hungry strays and upturned fishing boats.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5801/20270353263_01c0d873a1_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5781/20898637541_7ba917dae5_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5636/20881705862_560e5777f6_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5782/20268805614_9b94cf7f0e_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/692/20703350350_7506d08971_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5645/20703359520_5faa5035ac_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/741/20898681371_bbcb9c2f9d_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/760/20270418373_f789e833d2_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5735/20268848214_73b1f01fa4_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/685/20881761242_6f400625bc_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5645/20703480718_cc9ff030c1_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5658/20703495228_0a89a2f47b_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/600/20865209376_3b014d1c59_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5688/20703438050_15c23158f7_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5764/20865228706_3de416ac99_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/584/20703457700_b17d9eeacc_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm1.staticflickr.com/720/20865246626_3b8ae1cb24_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5778/20703555368_1b5971d5bd_h.jpg"
       alt = "Alamparai Fort, Tamil Nadu" %} 
  </div>
</section>