---
layout: post
comments: true
comments: true
author: lovell
categories: goa

title: Football Time! PVC Parra vs Candolim SC
excerpt: It has been a couple of years since I stopped keeping goal for PVC Parra.
long_excerpt: It has been a couple of years since I stopped keeping goal for PVC Parra.
  I had to take up a job at Google, in Hyderabad. With that went my numero uno shirt
  and I am not confined to a nice cubicle punching away at the keyboard and clicking
  the mouse like a madman while I churned away data and wrote some code. I picked
  up my flimsy Canon 1000D and decided to capture some photos of my good 'ol team
  in action without me under that goal post for a change.
image: https://c1.staticflickr.com/5/4066/4322646530_4cbf336528_b.jpg

dsq_thread_id: 1596713420

tags:
- Candolim
- Football
- Goa
- PVC Parra
- Soccer

geo:
  geotag_region: Candolim, Goa
  geotag_country: India
  geo_address: Candolim, Goa, India
  geo_latitude: '15.521041'
  geo_longitude: '73.766853'
  geo_public: '1'
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>It has been a couple of years since I stopped keeping goal for PVC Parra. I had to take up a job at Google, in Hyderabad. With that went my numero uno shirt and I am not confined to a nice cubicle punching away at the keyboard and clicking the mouse like a madman while I churned away data and wrote some code.</p>
    <p>I picked up my flimsy Canon 1000D and decided to capture some photos of my good 'ol team in action without me under that goal post for a change. We headed off to the Dr. Gustavo Monteiro stadium in Candolim. One of my favorite grounds in Goa. Favorite because it is one of the few grounds that have a decent playing surface, unlike most of the hard mud grounds that we play on otherwise. Favorite also because I had some of my best performances here.</p>
    <p>Here are a few photos captured from the second half onward. Our strikers missed a ton of chances (as usual) and we landed up losing 0-1 that evening.</p>
    {% include image.html
       loc = "https://farm5.staticflickr.com/4017/4322644956_a63ec420f5_b.jpg"
       alt = "Dr. Gustavo Monteiro Stadium"
       caption = "At Candolim, Goa." %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4023/4321852853_3bab67186f_b.jpg"
       alt = "Start of the second half" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4028/4321854795_f5db4183de_b.jpg"
       alt = "Game on" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2778/4321855697_31fd2fbdf9_b.jpg"
       alt = "Saved!" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4071/4322591030_b7f78de030_b.jpg"
       alt = "Lawrence takes the goal kick" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4045/4322592844_a54e9c3619_b.jpg"
       alt = "Opportunity missed" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4070/4322594376_9090a756d8_b.jpg"
       alt = "Action" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2735/4322597018_6947c5841c_b.jpg"
       alt = "Saved again" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4036/4322598750_e5e41009d8_b.jpg"
       alt = "Goal mouth nonsense" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2730/4322599756_a209d311ac_b.jpg"
       alt = "Parra vs Candolim" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4009/4322601912_a950664cc0_b.jpg"
       alt = "Defense alert" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2790/4321870583_bf242d18cc_b.jpg"
       alt = "And the ball is cleared" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2717/4321849673_81ae65bd86_b.jpg"
       alt = "Fatso referee" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2721/4322606380_338956e542_b.jpg"
       alt = "Some more action" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2754/4321874289_59187bde80_b.jpg"
       alt = "Shot" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2702/4321876197_77ec63cdec_b.jpg"
       alt = "Opportunity missed" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2725/4321877621_3c9f20ba0a_b.jpg"
       alt = "Easy collection" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4038/4321879589_069b845386_b.jpg"
       alt = "Smack the ball" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4028/4321880725_98660993be_b.jpg"
       alt = "No. 9" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4055/4322615966_dc98f11583_b.jpg"
       alt = "PVC Player" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2721/4322617390_3444016470_b.jpg"
       alt = "Pado doing his thing"
       caption = "Pado = Bull in Konkani." %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4066/4322646530_4cbf336528_b.jpg"
       alt = "The beautiful game" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4033/4321885275_e49a44cf9a_b.jpg"
       alt = "In air action" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4066/4321887147_d199acc634_b.jpg"
       alt = "Some time to relax" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4062/4321889257_acd77f94be_b.jpg"
       alt = "Tired players" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4068/4321890781_d0419797f8_b.jpg"
       alt = "Fat referee cracks a joke" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4039/4322627198_0dddb61a3f_b.jpg"
       alt = "Up and over the bar" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4006/4322629232_fbf08199f8_b.jpg"
       alt = "Free kick" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4031/4322585360_eb653497bf_b.jpg"
       alt = "The game" %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2716/4322631340_bf4e2f1dcb_b.jpg"
       alt = "Smack on the face"
       caption = "The ball smacked the kid, who was sitting behind the goal, right on his face." %}

    {% include image.html
       loc = "https://farm3.staticflickr.com/2773/4322633290_bc8abf7500_b.jpg"
       alt = "Another opportunity missed" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4025/4322635406_0877ed9a6e_b.jpg"
       alt = "Goalkeeper jumps to punch" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4009/4322636854_96a2738d42_b.jpg"
       alt = "But misses" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4030/4321905387_a8e9fdbd53_b.jpg"
       alt = "Another easy save" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4006/4322640940_84f3607aaf_b.jpg"
       alt = "Frantic moments in front of the goal" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4050/4321909203_2ab564c166_b.jpg"
       alt = "Header" %}

    {% include image.html
       loc = "https://farm5.staticflickr.com/4068/4321910529_5546227496_b.jpg"
       alt = "And yet another easy save" %}
  </div>
</section>