---
layout: post
comments: true
author: lovell
categories: goa

title: Music Fever — It's My Life (Live)
excerpt: Here is the video of Music Fever, performing It's My life, live at Leslie’s Molly Malones, Calangute, Goa.

image: https://farm3.staticflickr.com/2880/10002721444_ed4e85605b_h.jpg

tags:
- Acoustic
- Bon Jovi
- Calangute
- Cover
- Fun
- Goa
- Guitar
- Its' My Life
- Jonathan
- Jonathan Zuzarte
- Keyboards
- Live
- Music
- Music Fever
- Nashwin
- Nashwin Cunha Gomes
- Singer
- Song

geo:
  geotag_region: Calangute, Goa
  geotag_country: India
  geo_address: Calangute, Goa, India
  geo_latitude: '15.54279'
  geo_longitude: '73.760855'
  geo_public: '1'

dsq_thread_id: 1866586492
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Finally! Here is the video of <a href="https://www.facebook.com/musicfevergoa" title="Music Fever on Facebook" target="_blank">Music Fever</a>, performing <strong>It's My life</strong>, live at <strong>Leslie’s Molly Malones</strong>, Calangute, Goa. Don't forget to hop onto their Facebook page and show them some love.</p>

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7435/10002430486_a1d83cabaf_h.jpg'
       alt = 'Setting up' %}

    <p>Also, here is a <a href="https://happyfeet.us/goa/music-fever/" title="Music Fever and Us" target="_blank">photo post</a> from the same night. Do watch the video in HD if you have the bandwidth.</p>
    
    {% include youtube.html id = '5EEuaWv0irs' %}
  </div>
</section>