---
layout: post
comments: true
author: lovell
categories: goa

title: Music Fever
excerpt: It was to be the ultimate performance by Music Fever at Leslie's Molly Malones for the season and we all decided to head there and show them some love.

image:
  main: https://farm8.staticflickr.com/7406/10002676344_56d88b2069_h.jpg
  datasrcset: 'https://farm8.staticflickr.com/7406/10002676344_6faed56dd3_n.jpg 320w, https://farm8.staticflickr.com/7406/10002676344_6faed56dd3.jpg 500w, https://farm8.staticflickr.com/7406/10002676344_6faed56dd3_z.jpg 640w, https://farm8.staticflickr.com/7406/10002676344_6faed56dd3_c.jpg 800w, https://farm8.staticflickr.com/7406/10002676344_6faed56dd3_b.jpg 1024w, https://farm8.staticflickr.com/7406/10002676344_56d88b2069_h.jpg 1600w'

tags:
- Friends
- Goa
- Live
- Molly Malones
- Music
- Music Fever

dsq_thread_id: 1809888685
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>It was to be the ultimate performance by <strong><a href="https://fb.com/musicfevergoa" title="Music Fever (Goa) on Facebook" target="_blank">Music Fever</a></strong> at <a href="https://www.facebook.com/LesliesMollyMalone" title="Facebook" target="_blank">Leslie&#8217;s Molly Malones</a> for the season and we all decided to head there and show them some love.</p>

    <p>Music fever were joined by the famous <strong>Daniel Carneiro</strong> aka Francis for a couple of tracks. I decided to capture some footage, which will be turned into a music video soon. Here are a few photos from that night. Some clicked by me, some clicked by others.</p>

   {% include image.html
      loc="https://farm4.staticflickr.com/3795/10002885014_bcba1784d7_h.jpg"
      alt="The Bar at Leslie&apos;s Molly Malones"
      datasrcset="https://farm4.staticflickr.com/3795/10002885014_b6812a9a55_n.jpg 320w, https://farm4.staticflickr.com/3795/10002885014_b6812a9a55.jpg 500w, https://farm4.staticflickr.com/3795/10002885014_b6812a9a55_z.jpg 640w, https://farm4.staticflickr.com/3795/10002885014_b6812a9a55_c.jpg 800w, https://farm4.staticflickr.com/3795/10002885014_b6812a9a55_b.jpg 1024w, https://farm4.staticflickr.com/3795/10002885014_bcba1784d7_h.jpg 1600w" %}

    <p>Below we catch a glimpse of the boys from Music Fever, <strong><a href="https://fb.com/jonathan.zuzarte.1" title="Jonathan on Facebook" target="_blank">Jonathan Zuzarte</a></strong> &#038; <strong><a href="https://fb.com/nashvincunhagomes" title="Nashvin on Facebook" target="_blank">Nashvin Cunha Gomes</a></strong> while I set up a camera.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7435/10002430486_a1d83cabaf_h.jpg"
      alt="Setting up"
      datasrcset="https://farm8.staticflickr.com/7435/10002430486_4dd705c34a_n.jpg 320w, https://farm8.staticflickr.com/7435/10002430486_4dd705c34a.jpg 500w, https://farm8.staticflickr.com/7435/10002430486_4dd705c34a_z.jpg 640w, https://farm8.staticflickr.com/7435/10002430486_4dd705c34a_c.jpg 800w, https://farm8.staticflickr.com/7435/10002430486_4dd705c34a_b.jpg 1024w, https://farm8.staticflickr.com/7435/10002430486_a1d83cabaf_h.jpg 1600w" %}

    <p>And once again the occasion was graced by the evergreen couple <a href="//www.lovelldsouza.com/weddings/melanie-daniel-goa/" title="Melanie's &#038; Daniel's wedding album by Lovell D'souza" target="_blank">Melanie &#038; Daniel</a> along with <a href="https://happyfeet.us/author/priya/" title="Priya's author page on Happy Feet." target="_blank">Priya</a>.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7374/10002392054_478b87e8ab_h.jpg"
      alt="Daniel, Melanie &amp; Priya"
      datasrcset="https://farm8.staticflickr.com/7374/10002392054_0d46127177_n.jpg 320w, https://farm8.staticflickr.com/7374/10002392054_0d46127177.jpg 500w, https://farm8.staticflickr.com/7374/10002392054_0d46127177_z.jpg 640w, https://farm8.staticflickr.com/7374/10002392054_0d46127177_c.jpg 800w, https://farm8.staticflickr.com/7374/10002392054_0d46127177_b.jpg 1024w, https://farm8.staticflickr.com/7374/10002392054_478b87e8ab_h.jpg 1600w" %}

    <p>And <a href="//www.lovelldsouza.com" title="Lovell D'souza's website" target="_blank">moi</a>!</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2815/10002561093_69a6695fba_h.jpg"
      alt="Daniel, Melanie, Priya &amp; Lovell"
      datasrcset="https://farm3.staticflickr.com/2815/10002561093_82c1a51df8_n.jpg 320w, https://farm3.staticflickr.com/2815/10002561093_82c1a51df8.jpg 500w, https://farm3.staticflickr.com/2815/10002561093_82c1a51df8_z.jpg 640w, https://farm3.staticflickr.com/2815/10002561093_82c1a51df8_c.jpg 800w, https://farm3.staticflickr.com/2815/10002561093_82c1a51df8_b.jpg 1024w, https://farm3.staticflickr.com/2815/10002561093_69a6695fba_h.jpg 1600w" %}

    <p>Folks wanted a photo of the two of us. So here, admire this.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7291/10002461185_f9ae503e28_h.jpg"
      alt="Lovell &amp; Priya"
      datasrcset="https://farm8.staticflickr.com/7291/10002461185_bb0a9cecb0_n.jpg 320w, https://farm8.staticflickr.com/7291/10002461185_bb0a9cecb0.jpg 500w, https://farm8.staticflickr.com/7291/10002461185_bb0a9cecb0_z.jpg 640w, https://farm8.staticflickr.com/7291/10002461185_bb0a9cecb0_c.jpg 800w, https://farm8.staticflickr.com/7291/10002461185_bb0a9cecb0_b.jpg 1024w, https://farm8.staticflickr.com/7291/10002461185_f9ae503e28_h.jpg 1600w" %}

    <p>Mandatory rum and coke.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7307/10002573526_53402d1bd0_h.jpg"
      alt="Rum &amp; Coke"
      datasrcset="https://farm8.staticflickr.com/7307/10002573526_dd6dc06969_n.jpg 320w, https://farm8.staticflickr.com/7307/10002573526_dd6dc06969.jpg 500w, https://farm8.staticflickr.com/7307/10002573526_dd6dc06969_z.jpg 640w, https://farm8.staticflickr.com/7307/10002573526_dd6dc06969_c.jpg 800w, https://farm8.staticflickr.com/7307/10002573526_dd6dc06969_b.jpg 1024w, https://farm8.staticflickr.com/7307/10002573526_53402d1bd0_h.jpg 1600w" %}

    <p>The girls liked this photo of Daniel. But he begged to differ.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2865/10002675453_c07576c102_h.jpg"
      alt="Bad boy with us"
      datasrcset="https://farm3.staticflickr.com/2865/10002675453_25f35073db_n.jpg 320w, https://farm3.staticflickr.com/2865/10002675453_25f35073db.jpg 500w, https://farm3.staticflickr.com/2865/10002675453_25f35073db_z.jpg 640w, https://farm3.staticflickr.com/2865/10002675453_25f35073db_c.jpg 800w, https://farm3.staticflickr.com/2865/10002675453_25f35073db_b.jpg 1024w, https://farm3.staticflickr.com/2865/10002675453_c07576c102_h.jpg 1600w" %}

    <p>Here we find a pack of locals in an uncontrolled environment, leaning in for a photograph. One tries to use his phone to assist in finding a bright spot for the camera to focus while another makes an attempt to photo bomb.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2861/10002590435_760db00398_h.jpg"
      alt="Focus gone bad"
      datasrcset="https://farm3.staticflickr.com/2861/10002590435_659f1254c9_n.jpg 320w, https://farm3.staticflickr.com/2861/10002590435_659f1254c9.jpg 500w, https://farm3.staticflickr.com/2861/10002590435_659f1254c9_z.jpg 640w, https://farm3.staticflickr.com/2861/10002590435_659f1254c9_c.jpg 800w, https://farm3.staticflickr.com/2861/10002590435_659f1254c9_b.jpg 1024w, https://farm3.staticflickr.com/2861/10002590435_760db00398_h.jpg 1600w" %}

    <p>The beautiful couple once again, sharing a moment.</p>

   {% include image.html
      loc="https://farm4.staticflickr.com/3780/10002644005_fef8889629_h.jpg"
      alt="Favorite couple"
      datasrcset="https://farm4.staticflickr.com/3780/10002644005_a2a51b4928_n.jpg 320w, https://farm4.staticflickr.com/3780/10002644005_a2a51b4928.jpg 500w, https://farm4.staticflickr.com/3780/10002644005_a2a51b4928_z.jpg 640w, https://farm4.staticflickr.com/3780/10002644005_a2a51b4928_c.jpg 800w, https://farm4.staticflickr.com/3780/10002644005_a2a51b4928_b.jpg 1024w, https://farm4.staticflickr.com/3780/10002644005_fef8889629_h.jpg 1600w" %}

    <p>Later that night, Daniel joined in the fun and provided us with some notes of his own.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2880/10002721444_ed4e85605b_h.jpg"
      alt="Daniel joins in"
      datasrcset="https://farm3.staticflickr.com/2880/10002721444_bbc681c9e3_n.jpg 320w, https://farm3.staticflickr.com/2880/10002721444_bbc681c9e3.jpg 500w, https://farm3.staticflickr.com/2880/10002721444_bbc681c9e3_z.jpg 640w, https://farm3.staticflickr.com/2880/10002721444_bbc681c9e3_c.jpg 800w, https://farm3.staticflickr.com/2880/10002721444_bbc681c9e3_b.jpg 1024w, https://farm3.staticflickr.com/2880/10002721444_ed4e85605b_h.jpg 1600w" %}

    <p>White balancing.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7427/10002916693_360d979230_h.jpg"
      alt="White balance"
      datasrcset="https://farm8.staticflickr.com/7427/10002916693_6b6344a653_n.jpg 320w, https://farm8.staticflickr.com/7427/10002916693_6b6344a653.jpg 500w, https://farm8.staticflickr.com/7427/10002916693_6b6344a653_z.jpg 640w, https://farm8.staticflickr.com/7427/10002916693_6b6344a653_c.jpg 800w, https://farm8.staticflickr.com/7427/10002916693_6b6344a653_b.jpg 1024w, https://farm8.staticflickr.com/7427/10002916693_360d979230_h.jpg 1600w" %}

    <p>Super Glen also flew by later and spent some quality time with us.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2843/10002830714_e8f2e0da24_h.jpg"
      alt="Glen &amp; Daniel"
      datasrcset="https://farm3.staticflickr.com/2843/10002830714_750311d656_n.jpg 320w, https://farm3.staticflickr.com/2843/10002830714_750311d656.jpg 500w, https://farm3.staticflickr.com/2843/10002830714_750311d656_z.jpg 640w, https://farm3.staticflickr.com/2843/10002830714_750311d656_c.jpg 800w, https://farm3.staticflickr.com/2843/10002830714_750311d656_b.jpg 1024w, https://farm3.staticflickr.com/2843/10002830714_e8f2e0da24_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm8.staticflickr.com/7383/10002857414_d2046470ac_h.jpg"
      alt="Nash, Glen &amp; Daniel"
      datasrcset="https://farm8.staticflickr.com/7383/10002857414_bf22df0cb5_n.jpg 320w, https://farm8.staticflickr.com/7383/10002857414_bf22df0cb5.jpg 500w, https://farm8.staticflickr.com/7383/10002857414_bf22df0cb5_z.jpg 640w, https://farm8.staticflickr.com/7383/10002857414_bf22df0cb5_c.jpg 800w, https://farm8.staticflickr.com/7383/10002857414_bf22df0cb5_b.jpg 1024w, https://farm8.staticflickr.com/7383/10002857414_d2046470ac_h.jpg 1600w" %}

    <p>And here we have the class act, Priya Ramachandran, doing what she does best. Sticking her tongue out at people.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2894/10002983676_022c79f35e_h.jpg"
      alt="Priya Toungachandran"
      datasrcset="https://farm3.staticflickr.com/2894/10002983676_d2d177e69d_n.jpg 320w, https://farm3.staticflickr.com/2894/10002983676_d2d177e69d.jpg 500w, https://farm3.staticflickr.com/2894/10002983676_d2d177e69d_z.jpg 640w, https://farm3.staticflickr.com/2894/10002983676_d2d177e69d_c.jpg 800w, https://farm3.staticflickr.com/2894/10002983676_d2d177e69d_b.jpg 1024w, https://farm3.staticflickr.com/2894/10002983676_022c79f35e_h.jpg 1600w" %}

    <p>While our good man Glen decides to check what was going on on Facebook.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7395/10002946695_ab5b902ddf_h.jpg"
      alt="Glen on Facebook"
      datasrcset="https://farm8.staticflickr.com/7395/10002946695_3e8024ba20_n.jpg 320w, https://farm8.staticflickr.com/7395/10002946695_3e8024ba20.jpg 500w, https://farm8.staticflickr.com/7395/10002946695_3e8024ba20_z.jpg 640w, https://farm8.staticflickr.com/7395/10002946695_3e8024ba20_c.jpg 800w, https://farm8.staticflickr.com/7395/10002946695_3e8024ba20_b.jpg 1024w, https://farm8.staticflickr.com/7395/10002946695_ab5b902ddf_h.jpg 1600w" %}

    <p>Now for some photos of that narcissistic handsome guy.</p>

   {% include image.html
      loc="https://farm4.staticflickr.com/3767/10002998034_a2420db8da_h.jpg"
      alt="Lovell D'souza"
      datasrcset="https://farm4.staticflickr.com/3767/10002998034_5fd71f05ea_n.jpg 320w, https://farm4.staticflickr.com/3767/10002998034_5fd71f05ea.jpg 500w, https://farm4.staticflickr.com/3767/10002998034_5fd71f05ea_z.jpg 640w, https://farm4.staticflickr.com/3767/10002998034_5fd71f05ea_c.jpg 800w, https://farm4.staticflickr.com/3767/10002998034_5fd71f05ea_b.jpg 1024w, https://farm4.staticflickr.com/3767/10002998034_a2420db8da_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm8.staticflickr.com/7322/10003033724_07c08fba6e_h.jpg"
      alt="Lovell D'souza"
      datasrcset="https://farm8.staticflickr.com/7322/10003033724_0f3d3b619a_n.jpg 320w, https://farm8.staticflickr.com/7322/10003033724_0f3d3b619a.jpg 500w, https://farm8.staticflickr.com/7322/10003033724_0f3d3b619a_z.jpg 640w, https://farm8.staticflickr.com/7322/10003033724_0f3d3b619a_c.jpg 800w, https://farm8.staticflickr.com/7322/10003033724_0f3d3b619a_b.jpg 1024w, https://farm8.staticflickr.com/7322/10003033724_07c08fba6e_h.jpg 1600w" %}

    <p>Don&#8217;t know what went wrong here, but Glen flashed us a cute smile.</p>

   {% include image.html
      loc="https://farm6.staticflickr.com/5476/10003124636_268af8cabf_h.jpg"
      alt="Glen Dias"
      datasrcset="https://farm6.staticflickr.com/5476/10003124636_a3b0fbe6ed_n.jpg 320w, https://farm6.staticflickr.com/5476/10003124636_a3b0fbe6ed.jpg 500w, https://farm6.staticflickr.com/5476/10003124636_a3b0fbe6ed_z.jpg 640w, https://farm6.staticflickr.com/5476/10003124636_a3b0fbe6ed_c.jpg 800w, https://farm6.staticflickr.com/5476/10003124636_a3b0fbe6ed_b.jpg 1024w, https://farm6.staticflickr.com/5476/10003124636_268af8cabf_h.jpg 1600w" %}

    <p>And here are a couple of very joyful people.</p>

   {% include image.html
      loc="https://farm3.staticflickr.com/2832/10003223813_f7a126ed12_h.jpg"
      alt="Daniel &amp; Priya"
      datasrcset="https://farm3.staticflickr.com/2832/10003223813_dae9f966ed_n.jpg 320w, https://farm3.staticflickr.com/2832/10003223813_dae9f966ed.jpg 500w, https://farm3.staticflickr.com/2832/10003223813_dae9f966ed_z.jpg 640w, https://farm3.staticflickr.com/2832/10003223813_dae9f966ed_c.jpg 800w, https://farm3.staticflickr.com/2832/10003223813_dae9f966ed_b.jpg 1024w, https://farm3.staticflickr.com/2832/10003223813_f7a126ed12_h.jpg 1600w" %}

    <p>I shall now end this post with a few photos of some very happy people.</p>

   {% include image.html
      loc="https://farm8.staticflickr.com/7436/10003126454_cb40aa8f6f_h.jpg"
      alt="Glen Dias"
      datasrcset="https://farm8.staticflickr.com/7436/10003126454_eb3ab2ed66_n.jpg 320w, https://farm8.staticflickr.com/7436/10003126454_eb3ab2ed66.jpg 500w, https://farm8.staticflickr.com/7436/10003126454_eb3ab2ed66_z.jpg 640w, https://farm8.staticflickr.com/7436/10003126454_eb3ab2ed66_c.jpg 800w, https://farm8.staticflickr.com/7436/10003126454_eb3ab2ed66_b.jpg 1024w, https://farm8.staticflickr.com/7436/10003126454_cb40aa8f6f_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3743/10003297863_5ef1391804_h.jpg"
      alt="Lovell &amp; Priya"
      datasrcset="https://farm4.staticflickr.com/3743/10003297863_bf27958b06_n.jpg 320w, https://farm4.staticflickr.com/3743/10003297863_bf27958b06.jpg 500w, https://farm4.staticflickr.com/3743/10003297863_bf27958b06_z.jpg 640w, https://farm4.staticflickr.com/3743/10003297863_bf27958b06_c.jpg 800w, https://farm4.staticflickr.com/3743/10003297863_bf27958b06_b.jpg 1024w, https://farm4.staticflickr.com/3743/10003297863_5ef1391804_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm8.staticflickr.com/7332/10003213665_a7b0fee3df_h.jpg"
      alt="Nash, Melanie &amp; Priya"
      datasrcset="https://farm8.staticflickr.com/7332/10003213665_47673deb78_n.jpg 320w, https://farm8.staticflickr.com/7332/10003213665_47673deb78.jpg 500w, https://farm8.staticflickr.com/7332/10003213665_47673deb78_z.jpg 640w, https://farm8.staticflickr.com/7332/10003213665_47673deb78_c.jpg 800w, https://farm8.staticflickr.com/7332/10003213665_47673deb78_b.jpg 1024w, https://farm8.staticflickr.com/7332/10003213665_a7b0fee3df_h.jpg 1600w" %}

    <p>You can find out more about Music Fever on <strong><a href="https://fb.com/musicfevergoa" title="Music Fever (Goa) on Facebook" target="_blank">Facebook</a></strong> and <strong><a href="https://www.reverbnation.com/musicfevergoa" title="Music Fever on Reverbnation" target="_blank">Reverbnation</a></strong>. Stay tuned for their music video, it is in the making!</p>
  </div>
</section>