---
layout: post
comments: true
author: lovell
categories: goa

title: A walk around Parra
excerpt: Rise and shine! Back to the waking-up-early-morning routine finally! This time for a walk around Parra.

image: https://farm6.staticflickr.com/5456/10013212564_cddffcac59_h.jpg

tags:
- Morning
- My Tracks
- Parra
- Village
- Walk

dsq_thread_id: 2874580407
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Rise and shine! Back to the waking-up-early-morning routine finally! This time for a walk around Parra.</p>

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7320/10014135584_b502151230_h.jpg'
       alt = 'A walk around Parra' %}

    {% include image.html
       loc = 'https://farm4.staticflickr.com/3751/10014096824_564284f547_h.jpg'
       alt = 'A walk around Parra'
       caption = 'Through the fields and along the hills it was.' %}

    {% include image.html
       loc = 'https://farm4.staticflickr.com/3714/10014173843_fe2f4816e1_h.jpg'
       alt = 'A walk around Parra'
       caption = 'We passed by this bus which has been parked here since forever. They should turn it into a bar or restaurant and make some good use of it.' %}

    {% include image.html
       loc = 'https://farm6.staticflickr.com/5448/10014024545_6aad7abbad_h.jpg'
       alt = 'A walk around Parra'
       caption = 'Nothing like the fresh morning air, green fields, peacocks and their mating calls.' %}

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7303/10013973265_b35eb44f9d_h.jpg'
       alt = 'A walk around Parra'
       caption = 'We passed by the Parra football ground. One of the more cooler grounds in Goa, nicely cut into the hill.' %}

    {% include image.html
       loc = 'https://farm4.staticflickr.com/3744/10014000133_ea9d8e4967_h.jpg'
       alt = 'A walk around Parra'
       caption = 'We trespassed church property. While a huge load of people got their daily dose of propaganda inside.' %}

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7334/10013844664_05f31d6da9_h.jpg'
       alt = 'A walk around Parra'
       caption = 'The road where a lot of car ads are shot.' %}

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7408/10013466386_58edf4ce35_h.jpg'
       alt = 'A walk around Parra'
       caption = 'And this is that good looking house that was resurrected from ruins.' %}

    {% include image.html
       loc = 'https://farm4.staticflickr.com/3739/10013307155_ca0a3acf23_h.jpg'
       alt = 'A walk around Parra'
       caption = 'Finally, the last part of the walk back home.' %}

    {% include image.html
       loc = 'https://farm6.staticflickr.com/5456/10013212564_cddffcac59_h.jpg'
       alt = 'A walk around Parra' %}
  </div>
</section>