---
layout: post
author: lovell
categories: goa

title: Recording Songs at Nashvin&apos;s Studio
excerpt: Our dear friend Nashvin finally has his recording studio
    open and running at Mapusa. A bunch of us decided to visit him and put the studio
    to test.
long_excerpt: Our dear friend Nashvin finally has his recording studio open and running
  at Mapusa. A big step for him and an even bigger step for us good people (with great
  singing ambitions), who decided to visit him and put the studio to test.

image: https://farm4.staticflickr.com/3752/12287651703_ea4b9cafc6_h.jpg

tags:
- Fun
- Goa
- Music
- Nashvin
- Recording Studio
- Songs

geo:
  geo_address: Mapusa, Goa, India
  geotag_country: India
  geo_latitude: '15.591874'
  geo_longitude: '73.812584'
  geo_public: '1'

dsq_thread_id: 2214760040
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Our dear friend Nashvin finally has his recording studio open and running at Mapusa. A big step for him and an even bigger step for us good people (with great singing ambitions), who decided to visit him and put the studio to test.</p>

    <p>Here are some photos. The good ones clicked by me, the not-so-good ones clicked by other folks.</p>

    {% include image.html
       loc = "https://farm8.staticflickr.com/7315/12287495183_545eaf914f_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Daniel tries his hand at singing" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7310/12287904056_0094ff3a2a_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "But later on, decided to stick to the guitar" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7425/12287769374_dcbfa2032c_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Priya decides to croon away" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3770/12287348145_0ccf22e3ec_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Nash &mdash; Trying hard to make us sound good" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3832/12287502533_78981fe570_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Priya maaroing pose" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3685/12287774024_9f583efe41_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "While I took a nap" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7386/12287504413_24e2e31816_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Melanie oversaw the proceedings holding back laughter the entire while" %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3752/12287505563_58e9dd0ba6_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "Adrian acted as lyric prompter and provided some in-audible backing vocals too" %}

    <div class="row">
      <div class="col-md-6">
        {% include image.html
           loc = "https://farm8.staticflickr.com/7424/12287913996_72089c8aee_h.jpg"
           alt = "Recording at Nash's Studio"
           caption = "Priya recording <strong>Drops of Jupiter</strong>" %}
      </div>
      <div class="col-md-6">
        {% include image.html
           loc = "https://farm8.staticflickr.com/7312/12287778464_34f528dbdf_h.jpg"
           alt = "Recording at Nash's Studio"
           caption = "Daniel provided some backing guitars" %}
      </div>
    </div>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5510/12287346645_177730b16d_h.jpg"
       alt = "Recording at Nash's Studio"
       caption = "And Nash did his magic later" %}

    <p><strong>Looking to record a song?</strong> You can find <a target="_blank" href="https://www.facebook.com/nashvincunhagomes" title="Nashvin on Facebook">Nashvin on Facebook</a>.</p>
  </div>
</section>