---
layout: post
author: priya
categories: goa

title: Ganesh Visarjan at the Mapusa Market
excerpt: What started out as an evening of shopping in Mapusa got hijacked by a beautiful display of fireworks, loud music and an assault of lights in the distance.
long_excerpt: What started out as an ordinary evening of grocery shopping in Mapusa got completely hijacked by a beautiful display of fireworks, loud music and an assault of bright lights in the distance. We decided to investigate and landed up in the colourful and chaotic Mapusa market, where the Ganesh idol, erected by the merchants of Mapusa, was being taken on a procession before its immersion.

image: https://farm4.staticflickr.com/3841/14999892600_4f49569d50_h.jpg

tags:
- Basvanappa Brass Band
- Ganesh
- Ganesh Chaturthi
- Ganesh Visarjan
- Goa
- Hindu Festival
- Mapusa
- Mapusa Market
- Market 
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>What started out as an ordinary evening of grocery shopping in Mapusa got completely hijacked by a beautiful display of fireworks, loud music and an assault of bright lights in the distance. We decided to investigate and landed up in the colourful and chaotic Mapusa market, where the Ganesh idol, erected by the merchants of Mapusa, was being taken on a procession before its immersion. I had almost forgotten it was Visarjan (Immersion) Day, that falls on the 11th day of the Ganesh Chaturthi festivities.</p>

    <p>Coming from Hyderabad, I was used to all the grand displays and fanfare leading up to the <a href="http://happyfeet.us/andhra-pradesh/faith-ganesh-charurthi-hyderabad/" title="Faith – Ganesh Chaturthi, Hyderabad" target="_blank">Ganesh Visarjan</a>, when thousands and thousands of idols would be immersed in the Tank Bund. But in Goa, you don’t see a Ganesh idol on every street and things are less loud and ostentatious. So just when I thought the Ganesh Chaturthi festivities has passed us by for the year, we ended up getting a glimpse of the Ganesh mania in the Mapusa market. There were explosions in the sky. There was a brass band from Belgaum performing to ‘Lungi Dance’ with the same enthusaism with which they belted out a Ganesh ballad. There was a gathering crowd — All the ingredients of India’s famous public display of devotion!</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5562/15186170722_3895229032_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "The Basvanappa Band from Belgaum totally knew how to work the crowd with his mix of Bollywood hits and festive bhajans." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3836/15186178062_01457b2287_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "A reveller dances with abandon as Lord Ganesha is carried through the market in a procession." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3911/14999997847_0dd8b962d7_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "A member of the Basvanappa Brass Band, clad in a bright purple uniform, makes people dance to his saxophone’s tunes." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3921/15183536961_ff397cbad6_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "It’s not a celebration until it is documented!" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5574/15186188262_5ff58b9e90_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "A member of the Basvanappa Brass Band, clad in a bright purple uniform, makes people dance to his saxophone’s tunes." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3841/14999892600_4f49569d50_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "Lord Ganesh aka Vinyaka aka Ganapathi makes his way through the Mapusa Market in style." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3837/15183553211_e6abc4583e_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "An awe-struck reveller looks at Lord Ganesh." %}

    {% include image.html
       loc = "https://farm4.staticflickr.com/3898/15000001468_5cfce70473_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = " The Chhota Bheem balloon seller cashes in on the gathering crowd." %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5556/15183563361_a89c82c5f5_h.jpg"
       alt = "Ganesh Chaturthi at the Mapusa Market"
       caption = "Lord Ganesh, leaves the market and all its madness, behind." %}
  </div>
</section>