---
layout: post
author: lovell
categories: goa

title: Rains at Parra
excerpt: There was a time when it rained at Parra. It rained. And then it rained. And after that, it rained again.

image: https://farm8.staticflickr.com/7279/7509290664_96689848be_h.jpg

blockquote: There was a time when it rained at Parra. It rained. And then it rained. And after that, it rained again.

tags:
- Gama Vaddo
- Goa
- Monsoon
- Parra
- Rains
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    {% include image.html
       loc = "https://farm9.staticflickr.com/8144/7509288808_037a307c20_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8422/7509289382_c7109aee21_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8015/7509289716_534ad412b3_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7266/7509290254_00fa693a3e_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7279/7509290664_96689848be_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8292/7509291092_0851c96b51_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8157/7509291542_60b9c58024_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7116/7509292070_e12e06265a_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7263/7509292702_61e043cfb9_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7269/7509293240_14d267c073_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8013/7509293672_880361aaca_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7248/7509294010_ca09e65e01_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8166/7509294526_b044585655_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7278/7509294910_20b18951e2_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7266/7509295902_8cfc9989a9_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7122/7509295436_16763355e3_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8018/7509296240_c54544da29_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8019/7509296598_dbe1808770_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7139/7509296918_30e5ef2a86_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7113/7509297670_975e93b186_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8153/7509298266_679ea58030_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8150/7509298598_262ffec703_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8141/7509299106_ad259cf3a4_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8163/7509299412_e2ea0d381b_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8427/7509299744_79a870f618_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7246/7509300224_469005259c_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8148/7509300722_d20e090886_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8285/7509301072_0d69fa8a06_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm9.staticflickr.com/8024/7509301502_d3a4cdace7_h.jpg"
       alt = "Rains at Parra" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7271/7509301842_5880f58425_h.jpg"
       alt = "Rains at Parra" %}
  </div>
</section>