.DS_Store
.firebaserc
.jekyll-metadata
_site
_site/amp
_drafts
amp_site
delete
Gemfile.lock
helper
imagefetcher.php
imagefetcher2.php
firebase-debug.log
phpinfo.php
public
resources.txt
sublime.sublime-project
Thumbs.db
workflow.txt
.vscode