---
layout: default
title: All Posts
excerpt: Here are all the posts we&apos;ve made so far. All sorted out neatly by location or category.
permalink: /all
changefreq: weekly
priority: 1.0
---

{% assign pageauthor = page.author %}

<div id="post-sections">
<section class="banner style1 orient-left content-align-left image-position-center fullscreen">
  <div class="content">
    <h1>All Posts</h1>
    <p class="major">Here are all the posts we&apos;ve made so far.</p>
    <p>All sorted out neatly by location or category. If you&apos;d rather search by tags, head to our <a href="{{ site.baseurl }}/tags/">tags page</a> instead.</p>
  </div>
  <div class="image">
    <img class="lazyload" alt="Priya, tying her laces in Mongolia." title="Priya, tying her laces in Mongolia."
         srcset="{{ site.preloadimage }}" data-sizes="auto"
         src="https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e.jpg"
         data-srcset="https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_b.jpg 1024w, https://farm6.staticflickr.com/5773/31306997811_18af7fea99_h.jpg 1600w" />
  </div>
</section>

<section class="wrapper style1 align-left" id="allposts">
  <div class="inner">
    <h2>All Posts</h2>
    {% for category in site.categories %}

    {% assign words = category | first | remove: '["' | remove: '"]' | split: '-' %}
    {% capture catname %}
      {% for word in words %}{{ word | capitalize }} {% endfor %}
    {% endcapture %}

    <h3>{{ catname }}</h3>
    <ul>
      {% for posts in category %}
        {% for post in posts %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endfor %}
    <ul>
    {% for post in site.categories.pageauthor %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ site.baseurl }}{{ post.url }}">Read on</a></p>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>