---
layout: default
title: Authors
excerpt: Here are all the stories written by us so far. Categorized by author name.
permalink: /authors
priority: 0.8

sectiontitle: Authors
sectionexcerpt: The folks who make this website.

image:
  main: https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_c.jpg
  datasrcset: 'https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_n.jpg 320w, https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e.jpg 500w, https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_z.jpg 640w, https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_c.jpg 800w, https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_b.jpg 1024w, https://farm6.staticflickr.com/5773/31306997811_18af7fea99_h.jpg 1600w, https://farm6.staticflickr.com/5773/31306997811_d7a66b9cc2_k.jpg 2048w'
---

{% assign pageauthor = page.author %}
{% assign grouped_author_posts = site.posts | group_by: 'author' | reverse %}

<div id="post-sections">
<section class="banner style1 orient-left content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h1>Authors</h1>
    <p class="major">Stories, photographs, thoughts and haikus from a couple taking walks, mapping routes and experiencing the world, one adventure at a time.</p>
    <p>Here are posts sorted by the author names.</p>
  </div>
  <div class="image">
    <img class="lazyload" alt="Priya, tying her laces in Mongolia." title="Priya, tying her laces in Mongolia."
         srcset="{{ site.preloadimage }}" data-sizes="auto"
         src="https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e.jpg"
         data-srcset="https://farm6.staticflickr.com/5773/31306997811_866dc4bd7e_b.jpg 1024w, https://farm6.staticflickr.com/5773/31306997811_18af7fea99_h.jpg 1600w" />
  </div>
</section>
<section>
  <div class="items style1 onscroll-fade-in big">
    {% for group in grouped_author_posts %}
    <section>
      <div class="inner">
        <h3 id="{{ group.name }}">{{ site[group.name].name }}</h3>
        <ul>
          {% assign items = group.items | sort: 'date' | reverse %}
          {% for item in items  %}
            <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %}
  </div>
</section>