---
layout: default
priority: 1.0
changefreq: weekly
---

{% include latestposts.html %}

<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Hello There!</h2>
    <p class="major">This is not a traditional travel blog. It&apos;s just a collection of stories, <a href="{{ site.baseurl }}/big-picture/">photographs</a> and <a href="{{ site.baseurl }}/thoughts/">thoughts</a> from our everyday adventures and occasional travels, that we share with the world, once in a while.</p>
    <p>Feel free to click around, read, share or leave us a comment to just say hi.</p>
    <ul class="actions">
      <li><a href="{{ site.baseurl }}/all" class="button special icon fa-list">All Posts</a></li>
      <li><a href="{{ site.baseurl }}/about" class="button icon   fa-user-secret">About Us</a></li>
    </ul>
  </div>
</section>

{% include related-posts.html %}

{% include sitemap.html %}