---
layout: default
---

{% include latestpost.html %}

<div id="featured-categories" class="post-sections">
<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2>Russia</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <ul class="actions vertical">
      <li><a href="{{ site.baseurl }}/russia/" class="button">View posts</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="https://c2.staticflickr.com/8/7578/30233782991_fb078dafe0_b.jpg" alt="Photo stories from Russia">
  </div>
</section>

<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Goa</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <ul class="actions vertical">
      <li><a href="{{ site.baseurl }}/goa/" class="button">View posts</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="https://c2.staticflickr.com/4/3885/14738590494_20a2a6b137_h.jpg" alt="Photo stories from Goa">
  </div>
</section>
</div>

<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Hello There!</h2>
    <p class="major">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
    <a href="#" class="button">Button</a>
  </div>
</section>

{% include sitemap.html %}