---
layout: post
comments: true
author: priya
categories: andhra-pradesh

title: Faith - Ganesh Chaturthi, Hyderabad
excerpt: Faith by Priya Ramachandran, narrates the underlying irony of the frenzied public display of devotion during Ganesh immersions every single year.

amp: true
amp-img: https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_n.jpg

image:
  main: https://farm9.staticflickr.com/8181/8038575197_ff5edd9382.jpg
  datasrcset: 'https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_n.jpg 320w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382.jpg 500w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_z.jpg 640w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_c.jpg 800w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_b.jpg 1024w, https://farm9.staticflickr.com/8181/8038575197_b8f966a9c0_h.jpg 1600w'

tags:
- Andhra Pradesh
- Faith
- Ganesh
- Ganesh Chaturthi
- Hussain Sagar
- Hyderabad
- Immersion
- Tank Bund

geo:
  geotag_region: Hyderabad, Andhra Pradesh
  geotag_country: India
  geo_address: Hyderabad, Andhra Pradesh, India
  geo_latitude: '17.411396'
  geo_longitude: '78.476973'
  geo_public: '1'

dsq_thread_id: '1827117667'
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">

   {% include image.html
      loc="https://farm9.staticflickr.com/8462/8038576438_5a3fd30042_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8462/8038576438_5a3fd30042_n.jpg 320w, https://farm9.staticflickr.com/8462/8038576438_5a3fd30042.jpg 500w, https://farm9.staticflickr.com/8462/8038576438_5a3fd30042_z.jpg 640w, https://farm9.staticflickr.com/8462/8038576438_5a3fd30042_c.jpg 800w, https://farm9.staticflickr.com/8462/8038576438_5a3fd30042_b.jpg 1024w, https://farm9.staticflickr.com/8462/8038576438_07af757253_h.jpg 1600w" %}

    <p>Faith and frenzy go hand in hand in a country like ours. We, as people, feel the need to believe. In a higher power. In a God that is often cruel, but has a ‘plan’.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8030/8038576586_e02449d4b7_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8030/8038576586_e02449d4b7_n.jpg 320w, https://farm9.staticflickr.com/8030/8038576586_e02449d4b7.jpg 500w, https://farm9.staticflickr.com/8030/8038576586_e02449d4b7_z.jpg 640w, https://farm9.staticflickr.com/8030/8038576586_e02449d4b7_c.jpg 800w, https://farm9.staticflickr.com/8030/8038576586_e02449d4b7_b.jpg 1024w, https://farm9.staticflickr.com/8030/8038576586_79d656c029_h.jpg 1600w" %}

    <p>That’s what we keep saying to ourselves. There is a plan for us. A role in a grander scheme of things. And we have to believe this illusion because not believing it is scarier. Not believing it makes all the bad things around us seem pointless. Like everything is happening for no reason and is actually nothing but a sorry accident. And that idea of truth terrifies us. So we believe. With fervour. With blind faith. With a madness that is always unexplainable, but sometimes understandable.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2_n.jpg 320w, https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2.jpg 500w, https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2_z.jpg 640w, https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2_c.jpg 800w, https://farm9.staticflickr.com/8456/8038576772_dc65aa21a2_b.jpg 1024w, https://farm9.staticflickr.com/8456/8038576772_b776539d23_h.jpg 1600w" %}

    <p>We are a sea of people. Hungry, not for happiness, but approval.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca_n.jpg 320w, https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca.jpg 500w, https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca_z.jpg 640w, https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca_c.jpg 800w, https://farm9.staticflickr.com/8179/8038572897_7e422dc9ca_b.jpg 1024w, https://farm9.staticflickr.com/8179/8038572897_09b086b1ef_h.jpg 1600w" %}

    <p>Approval from that one divine presence. One that we have to please at all costs.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8181/8038573071_5d94a8f790_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8181/8038573071_5d94a8f790_n.jpg 320w, https://farm9.staticflickr.com/8181/8038573071_5d94a8f790.jpg 500w, https://farm9.staticflickr.com/8181/8038573071_5d94a8f790_z.jpg 640w, https://farm9.staticflickr.com/8181/8038573071_5d94a8f790_c.jpg 800w, https://farm9.staticflickr.com/8181/8038573071_5d94a8f790_b.jpg 1024w, https://farm9.staticflickr.com/8181/8038573071_2cd92a217d_h.jpg 1600w" %}

    <p>So we do everything it takes to appease this entity. This magical creature. Who is an apparition to some. A daydream to others, but an idol to us.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b_n.jpg 320w, https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b.jpg 500w, https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b_z.jpg 640w, https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b_c.jpg 800w, https://farm9.staticflickr.com/8169/8038573231_7ea032bb4b_b.jpg 1024w, https://farm9.staticflickr.com/8169/8038573231_0da8446b49_h.jpg 1600w" %}

    <p>He sits on our heads and watches our every move so that we don’t err.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8310/8038577450_21bd741a8c_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8310/8038577450_21bd741a8c_n.jpg 320w, https://farm9.staticflickr.com/8310/8038577450_21bd741a8c.jpg 500w, https://farm9.staticflickr.com/8310/8038577450_21bd741a8c_z.jpg 640w, https://farm9.staticflickr.com/8310/8038577450_21bd741a8c_c.jpg 800w, https://farm9.staticflickr.com/8310/8038577450_21bd741a8c_b.jpg 1024w, https://farm9.staticflickr.com/8310/8038577450_9363603ec3_h.jpg 1600w" %}

    <p>But err, we do. We err and pray for instant forgiveness. We hold our ears and break coconuts. And then we err some more.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd_n.jpg 320w, https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd.jpg 500w, https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd_z.jpg 640w, https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd_c.jpg 800w, https://farm9.staticflickr.com/8316/8038573651_dc5ef231cd_b.jpg 1024w, https://farm9.staticflickr.com/8316/8038573651_a93a865c27_h.jpg 1600w" %}

    <p>We wait patiently for our prayers to come true. We watch and do nothing as everything around us burns, self-destructs and disappears. But we keep waiting. For miracles. Every single day.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8176/8038577814_a4df83e419_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8176/8038577814_a4df83e419_n.jpg 320w, https://farm9.staticflickr.com/8176/8038577814_a4df83e419.jpg 500w, https://farm9.staticflickr.com/8176/8038577814_a4df83e419_z.jpg 640w, https://farm9.staticflickr.com/8176/8038577814_a4df83e419_c.jpg 800w, https://farm9.staticflickr.com/8176/8038577814_a4df83e419_b.jpg 1024w, https://farm9.staticflickr.com/8176/8038577814_e62aca924a_h.jpg 1600w" %}

    <p>And when we look back, we don’t see what we lost when we were busy being blinded. But we see stories. Of how our faith actually changed our lives and made us better people.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8035/8038577944_a44fb09b19_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8035/8038577944_a44fb09b19_n.jpg 320w, https://farm9.staticflickr.com/8035/8038577944_a44fb09b19.jpg 500w, https://farm9.staticflickr.com/8035/8038577944_a44fb09b19_z.jpg 640w, https://farm9.staticflickr.com/8035/8038577944_a44fb09b19_c.jpg 800w, https://farm9.staticflickr.com/8035/8038577944_a44fb09b19_b.jpg 1024w, https://farm9.staticflickr.com/8035/8038577944_b5fc16aa03_h.jpg 1600w" %}

    <p>And we truly believe those stories.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8042/8038574101_3bceee21b3_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8042/8038574101_3bceee21b3_n.jpg 320w, https://farm9.staticflickr.com/8042/8038574101_3bceee21b3.jpg 500w, https://farm9.staticflickr.com/8042/8038574101_3bceee21b3_z.jpg 640w, https://farm9.staticflickr.com/8042/8038574101_3bceee21b3_c.jpg 800w, https://farm9.staticflickr.com/8042/8038574101_3bceee21b3_b.jpg 1024w, https://farm9.staticflickr.com/8042/8038574101_2c3e2c0599_h.jpg 1600w" %}

    <p>Because it’s these stories of hope and the promise of redemption that make us want to keep hanging on.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8032/8038574253_7a20bca778_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8032/8038574253_7a20bca778_n.jpg 320w, https://farm9.staticflickr.com/8032/8038574253_7a20bca778.jpg 500w, https://farm9.staticflickr.com/8032/8038574253_7a20bca778_z.jpg 640w, https://farm9.staticflickr.com/8032/8038574253_7a20bca778_c.jpg 800w, https://farm9.staticflickr.com/8032/8038574253_7a20bca778_b.jpg 1024w, https://farm9.staticflickr.com/8032/8038574253_da8784c8fa_h.jpg 1600w" %}

    <p>Because believing in these stories is easier than believing in ourselves.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f_n.jpg 320w, https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f.jpg 500w, https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f_z.jpg 640w, https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f_c.jpg 800w, https://farm9.staticflickr.com/8459/8038578578_dbdb1ddb4f_b.jpg 1024w, https://farm9.staticflickr.com/8459/8038578578_092586526d_h.jpg 1600w" %}

    <p>After all, we say, we are mere mortals. Helpless at the hand of fate and the mercy of divine power. Faceless devotees of that Omnipresent being.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8455/8038574803_26b8cddd90_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8455/8038574803_26b8cddd90_n.jpg 320w, https://farm9.staticflickr.com/8455/8038574803_26b8cddd90.jpg 500w, https://farm9.staticflickr.com/8455/8038574803_26b8cddd90_z.jpg 640w, https://farm9.staticflickr.com/8455/8038574803_26b8cddd90_c.jpg 800w, https://farm9.staticflickr.com/8455/8038574803_26b8cddd90_b.jpg 1024w, https://farm9.staticflickr.com/8455/8038574803_599cab56e7_h.jpg 1600w" %}

    <p>We are actually just floating along our lives powerlessly like a piece of debris. With no control over anything. With no free will.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8460/8038578948_bef855f068_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8460/8038578948_bef855f068_n.jpg 320w, https://farm9.staticflickr.com/8460/8038578948_bef855f068.jpg 500w, https://farm9.staticflickr.com/8460/8038578948_bef855f068_z.jpg 640w, https://farm9.staticflickr.com/8460/8038578948_bef855f068_c.jpg 800w, https://farm9.staticflickr.com/8460/8038578948_bef855f068_b.jpg 1024w, https://farm9.staticflickr.com/8460/8038578948_370eca0a67_h.jpg 1600w" %}

    <p>But we don’t know this yet. Because in our subconscious battle between faith and free will, it’s faith that wins.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_n.jpg 320w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382.jpg 500w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_z.jpg 640w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_c.jpg 800w, https://farm9.staticflickr.com/8181/8038575197_ff5edd9382_b.jpg 1024w, https://farm9.staticflickr.com/8181/8038575197_b8f966a9c0_h.jpg 1600w" %}

    <p>But maybe, that isn't so bad. Maybe this kind of faith is not all that blind and baffling. While some believe in magic, love and happiness, others believe in God.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8170/8038575329_ddb57ab852_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8170/8038575329_ddb57ab852_n.jpg 320w, https://farm9.staticflickr.com/8170/8038575329_ddb57ab852.jpg 500w, https://farm9.staticflickr.com/8170/8038575329_ddb57ab852_z.jpg 640w, https://farm9.staticflickr.com/8170/8038575329_ddb57ab852_c.jpg 800w, https://farm9.staticflickr.com/8170/8038575329_ddb57ab852_b.jpg 1024w, https://farm9.staticflickr.com/8170/8038575329_07bde613cf_h.jpg 1600w" %}

    <p>But either way, at the end of it all, we are all just hanging on to abstract ideas.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8315/8038579388_e684d67838_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8315/8038579388_e684d67838_n.jpg 320w, https://farm9.staticflickr.com/8315/8038579388_e684d67838.jpg 500w, https://farm9.staticflickr.com/8315/8038579388_e684d67838_z.jpg 640w, https://farm9.staticflickr.com/8315/8038579388_e684d67838_c.jpg 800w, https://farm9.staticflickr.com/8315/8038579388_e684d67838_b.jpg 1024w, https://farm9.staticflickr.com/8315/8038579388_e63b16c269_h.jpg 1600w" %}

    <p>So yes, the truth and the reality may be two different things for us. But till the day we keep believing, we can live unafraid. Reassured.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8177/8038579534_7bccd16f20_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8177/8038579534_7bccd16f20_n.jpg 320w, https://farm9.staticflickr.com/8177/8038579534_7bccd16f20.jpg 500w, https://farm9.staticflickr.com/8177/8038579534_7bccd16f20_z.jpg 640w, https://farm9.staticflickr.com/8177/8038579534_7bccd16f20_c.jpg 800w, https://farm9.staticflickr.com/8177/8038579534_7bccd16f20_b.jpg 1024w, https://farm9.staticflickr.com/8177/8038579534_be83d29169_h.jpg 1600w" %}

    <p>We live knowing that our actions &#8211; our very mortal deeds and human failings &#8211; will be evaluated fairly someday.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8457/8038579736_c358981c81_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8457/8038579736_c358981c81_n.jpg 320w, https://farm9.staticflickr.com/8457/8038579736_c358981c81.jpg 500w, https://farm9.staticflickr.com/8457/8038579736_c358981c81_z.jpg 640w, https://farm9.staticflickr.com/8457/8038579736_c358981c81_c.jpg 800w, https://farm9.staticflickr.com/8457/8038579736_c358981c81_b.jpg 1024w, https://farm9.staticflickr.com/8457/8038579736_841b7cf4db_h.jpg 1600w" %}

    <p>Not evaluated anytime in this life maybe, but in the afterlife by an all-seeing God who will divide the rights from the wrongs. The goods from the bads. No matter how many masks we wear in our lifetime, we believe, he will see right through us.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8456/8038575895_7454705f90_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8456/8038575895_7454705f90_n.jpg 320w, https://farm9.staticflickr.com/8456/8038575895_7454705f90.jpg 500w, https://farm9.staticflickr.com/8456/8038575895_7454705f90_z.jpg 640w, https://farm9.staticflickr.com/8456/8038575895_7454705f90_c.jpg 800w, https://farm9.staticflickr.com/8456/8038575895_7454705f90_b.jpg 1024w, https://farm9.staticflickr.com/8456/8038575895_2ade3573cc_h.jpg 1600w" %}

    <p>So, we hang on dearly to the idea of him.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5_n.jpg 320w, https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5.jpg 500w, https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5_z.jpg 640w, https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5_c.jpg 800w, https://farm9.staticflickr.com/8180/8038580022_93f6ec9ee5_b.jpg 1024w, https://farm9.staticflickr.com/8180/8038580022_a1ac941568_h.jpg 1600w" %}

    <p>Sometimes because of love.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8313/8038576213_7947e62c74_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8313/8038576213_7947e62c74_n.jpg 320w, https://farm9.staticflickr.com/8313/8038576213_7947e62c74.jpg 500w, https://farm9.staticflickr.com/8313/8038576213_7947e62c74_z.jpg 640w, https://farm9.staticflickr.com/8313/8038576213_7947e62c74_c.jpg 800w, https://farm9.staticflickr.com/8313/8038576213_7947e62c74_b.jpg 1024w, https://farm9.staticflickr.com/8313/8038576213_da2a09c6b0_h.jpg 1600w" %}

    Sometimes because of fear.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8462/8038580450_b06a413290_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8462/8038580450_b06a413290_n.jpg 320w, https://farm9.staticflickr.com/8462/8038580450_b06a413290.jpg 500w, https://farm9.staticflickr.com/8462/8038580450_b06a413290_z.jpg 640w, https://farm9.staticflickr.com/8462/8038580450_b06a413290_c.jpg 800w, https://farm9.staticflickr.com/8462/8038580450_b06a413290_b.jpg 1024w, https://farm9.staticflickr.com/8462/8038580450_cf3c512ae8_h.jpg 1600w" %}

    <p>Sometimes because of innocence.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8031/8038576579_488ec43ed9_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8031/8038576579_488ec43ed9_n.jpg 320w, https://farm9.staticflickr.com/8031/8038576579_488ec43ed9.jpg 500w, https://farm9.staticflickr.com/8031/8038576579_488ec43ed9_z.jpg 640w, https://farm9.staticflickr.com/8031/8038576579_488ec43ed9_c.jpg 800w, https://farm9.staticflickr.com/8031/8038576579_488ec43ed9_b.jpg 1024w, https://farm9.staticflickr.com/8031/8038576579_c8594cd939_h.jpg 1600w" %}

    <p>And most times, because we think we have to.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6_n.jpg 320w, https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6.jpg 500w, https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6_z.jpg 640w, https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6_c.jpg 800w, https://farm9.staticflickr.com/8319/8038580710_bdca3f22f6_b.jpg 1024w, https://farm9.staticflickr.com/8319/8038580710_6887987f26_h.jpg 1600w" %}

    <p>Seeing is not believing for us.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8172/8038576887_3f037eef6a_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8172/8038576887_3f037eef6a_n.jpg 320w, https://farm9.staticflickr.com/8172/8038576887_3f037eef6a.jpg 500w, https://farm9.staticflickr.com/8172/8038576887_3f037eef6a_z.jpg 640w, https://farm9.staticflickr.com/8172/8038576887_3f037eef6a_c.jpg 800w, https://farm9.staticflickr.com/8172/8038576887_3f037eef6a_b.jpg 1024w, https://farm9.staticflickr.com/8172/8038576887_8b971d87dc_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm9.staticflickr.com/8177/8038581134_872a129274_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8177/8038581134_872a129274_n.jpg 320w, https://farm9.staticflickr.com/8177/8038581134_872a129274.jpg 500w, https://farm9.staticflickr.com/8177/8038581134_872a129274_z.jpg 640w, https://farm9.staticflickr.com/8177/8038581134_872a129274_c.jpg 800w, https://farm9.staticflickr.com/8177/8038581134_872a129274_b.jpg 1024w, https://farm9.staticflickr.com/8177/8038581134_dd2fd174e8_h.jpg 1600w" %}

    <p>Believing is seeing.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5_n.jpg 320w, https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5.jpg 500w, https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5_z.jpg 640w, https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5_c.jpg 800w, https://farm9.staticflickr.com/8315/8038581352_3b5bea67e5_b.jpg 1024w, https://farm9.staticflickr.com/8315/8038581352_397719f183_h.jpg 1600w" %}


    <p>But if we are stripped of all pretense, all our conditioning and all that faith has drilled into us, we are in reality, just lost souls. We believe in the idea called God, but we stopped believing in goodness and humanity. In compassion and tolerance.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8034/8038577509_42e24892ae_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8034/8038577509_42e24892ae_n.jpg 320w, https://farm9.staticflickr.com/8034/8038577509_42e24892ae.jpg 500w, https://farm9.staticflickr.com/8034/8038577509_42e24892ae_z.jpg 640w, https://farm9.staticflickr.com/8034/8038577509_42e24892ae_c.jpg 800w, https://farm9.staticflickr.com/8034/8038577509_42e24892ae_b.jpg 1024w, https://farm9.staticflickr.com/8034/8038577509_fa97659382_h.jpg 1600w" %}

    <p>We hurt, plunder and kill everyone around us. Destroy everything around us with self-created weapons till it bleeds dry.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8309/8038577705_74340571c1_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8309/8038577705_74340571c1_n.jpg 320w, https://farm9.staticflickr.com/8309/8038577705_74340571c1.jpg 500w, https://farm9.staticflickr.com/8309/8038577705_74340571c1_z.jpg 640w, https://farm9.staticflickr.com/8309/8038577705_74340571c1_c.jpg 800w, https://farm9.staticflickr.com/8309/8038577705_74340571c1_b.jpg 1024w, https://farm9.staticflickr.com/8309/8038577705_2caba8e737_h.jpg 1600w" %}

    <p>And when it’s all done and when we are standing alone.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8314/8038574461_3de4bc3216_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8314/8038574461_3de4bc3216_n.jpg 320w, https://farm9.staticflickr.com/8314/8038574461_3de4bc3216.jpg 500w, https://farm9.staticflickr.com/8314/8038574461_3de4bc3216_z.jpg 640w, https://farm9.staticflickr.com/8314/8038574461_3de4bc3216_c.jpg 800w, https://farm9.staticflickr.com/8314/8038574461_3de4bc3216_b.jpg 1024w, https://farm9.staticflickr.com/8314/8038574461_4369217660_h.jpg 1600w" %}

    <p>We don't even stop to look at the empty shell of rubble and ruins we leave behind.</p>

   {% include image.html
      loc="https://farm9.staticflickr.com/8042/8038582146_a2579de24f_n.jpg"
      alt="Ganesh Chaturthi, Hyderabad (2012)"
      datasrcset="https://farm9.staticflickr.com/8042/8038582146_a2579de24f_n.jpg 320w, https://farm9.staticflickr.com/8042/8038582146_a2579de24f.jpg 500w, https://farm9.staticflickr.com/8042/8038582146_a2579de24f_z.jpg 640w, https://farm9.staticflickr.com/8042/8038582146_a2579de24f_c.jpg 800w, https://farm9.staticflickr.com/8042/8038582146_a2579de24f_b.jpg 1024w, https://farm9.staticflickr.com/8042/8038582146_a10e5da9b0_h.jpg 1600w" %}

    <p>We just turn our backs on everything and walk away like clean slates. Like nothing ever happened. Because it&#8217;s all in the name of God. And God forgives, doesn&#8217;t he?</p>
  </div>
</section>