---
layout: post
author: priya
categories: andhra-pradesh

title: Kurnool
excerpt: Vast open spaces, impressive roads, clear skies and an interesting mix of forts, caves and temples, a road trip to Kurnool offers a perfect quick getaway.

long_excerpt: Kurnool is surprisingly close to the city, has an interestingly diverse topography and impressive landscapes that you would never expect to see just 215 odd kilometres from Hyderabad. All you need is a car, some good company, a spirit of adventure, a little knowledge of Telugu to get by, and most importantly, the generous help from Google Maps.
image: https://c1.staticflickr.com/9/8109/8553895831_3e4f6c8283_h.jpg

blockquote: Silence is a phenomenon that we cubicle-dwellers don’t appreciate enough. We’ve forgotten how to live without noise. The chaos of the streets, commercials that scream for your attention everywhere you look, the intrusive technology that stalks your every move. From Facebook to your friendly neighborhood acquaintance, everyone wants to know what’s on your mind. But with your own thoughts constantly muddled up with all the cacophony around you, you don’t know either. So what if you want to just unplug everything, make a getaway and escape the commotion of the city? We decided to do just that and discovered that you don’t have to go too far to find that happy place.

tags:
- Andhra Pradesh
- Belum Caves
- Konda Reddy Buruju
- Kurnool
- Kurnool Fort
- Nawab's Summer Palace
- Orvakallu Rock Garden
- Rollapadu Bird Sanctuary
- Yaganti Caves
- Yaganti Temple

geo:
  geotag_region: Kurnool, Andhra Pradesh
  geotag_country: India
  geo_address: Kurnool, Andhra Pradesh, India
  geo_latitude: '15.828126'
  geo_longitude: '78.037279'
  geo_public: '1'
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">

    <p>Kurnool is surprisingly close to the city, has an interestingly diverse topography and impressive landscapes that you would never expect to see just 215 odd kilometres from Hyderabad. All you need is a car, some good company, a spirit of adventure, a little knowledge of Telugu to get by, and most importantly, the generous help from Google Maps.</p>

    <h2>Location</h2>
    <iframe src="https://www.google.com/maps/d/embed?mid=1bFuRy6NQd3X7DuToUEFWJeMGapY&hl=en_US" width="99%" height="480"></iframe>
    <small>You can find these locations marked out on this <a href="http://goo.gl/maps/pofH0" target="_hlank">map of Kurnool</a>.</small>

    <hr>

    <h2>Coles Centennial Baptist Church</h2>
    <p>For the spiritually and historically inclined, the ancient, beautiful Coles Centennial Baptist Church in Kurnool city.</p>
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8085/8555005770_e296d13047_h.jpg"
       alt = "Coles Centennial Baptist Church (Kurnool)" %}


    <h2>Konda Reddy Buruju (Kurnool Fort)</h2>
    <p>A 12th century bastion which was used as a watch tower by the rulers of the Vijayanagara Empire. There’s an underground passage, which is said to run from the fort to Alampur, a temple site, a few kilometres from Kurnool. Legend has it that the ruler of Gadwal Kingdom used this tunnel to make a getaway from the Muslim conquerors in 17th century. We also hear stories of treasure hunters trying to dig through this passage to find lost riches, forcing the government to seal off this passage.</p>
    <p>Bang in the middle of the city! You’ll face no difficulty in finding this one. Ask the locals for ‘Kurnool Fort’ and you’ll be there in a jiffy.</p>

    {% include image.html
       loc = "https://c1.staticflickr.com/9/8381/8555005614_8969db9afc_h.jpg"
       alt = "Konda Reddy Buruju (Kurnool Fort)" %}

    <p>The intimidating fort is quite a sight amidst the mad hustle bustle of the Kurnool city. One side you see life in all its chaos and on the other, this beautiful edifice that seems to be stuck in a time warp. Take your time to walk around and admire the ancient citadel, which has been maintained surprisingly well. There are clean benches to sit on,where you can stare at the noisy life outside, even as you wonder how life was like when the kings ruled the state.</p>
    <p>Check out the board put up at the entrance by the Archeological Survey of India, narrating the history of this fort. It sure has some interesting tidbits. Here’s a teaser: Story goes that in the time of the Western Chalukyas of Badami in the 11th century AD, the vadderas who carted stones for the construction of the temples at Alampur, used the site on which the city now stands, as a pitstop to grease their cartwheels with oil, which was supplied by some of the local oil mon gers. They called the place ‘Kanadanavolu’ (a city of grease), which soon became ‘Kurnool’.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8110/8553898753_e913ed5851_h.jpg"
       alt = "Konda Reddy Buruju (Kurnool Fort)" %}
    
    <p>Avoid visiting the fort late in the day or in the evenings when scores of idlers will be standing around, spoiling your view and also your attempt to enjoy some quiet. The fort opens at 10 am and if you could make it there just in time, you can have the historic experience all for yourself.</p>


    <h2>Orvakallu Rock Garden</h2>
    <p>A miniature Grand Canyon of sorts, Oravakallu is an interesting landscape of majestic rock formations around a long winding water body. This natural architectural wonder makes for a great trek as you climb up the red rock formations of all shapes and sizes. After a tiring walk up to the highest point, you are rewarded with an amazing view of the water body set against the backdrop of gorgeous open spaces and clear blue skies (if you are lucky).</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8531/8555004972_f80f09989a_h.jpg"
       alt = "Orvakallu Rock Garden (Kurnool)" %}
    
    <p>Located at just 25-odd kilometres from Kurnool, this rock garden on NH 18, is easy to find. Take shelter under one of the big rocks, spread out a blanket and enjoy a picnic under the skies. The rocks make for great postcards too for the photo-happy tourists.</p>
    
    <p>You must not forget to stock up on water and refreshments from the eatery below before you start. It is also recommended that you carry sunblock of you plan to get adventurous and trek across the rocks right to the end. While the landscape might be a sight to sore eyes, the sun won’t be as friendly.</p>

    <h2>Nawab’s Summer Palace</h2>
    <p>From the tourism officials to the locals, no one can really tell you who this beautiful, palatial bungalow that lies abandoned on top of a hillock, belongs to. But from what we hear, it was once the summer residence of the Nawab Mirfazal Alikhan Bahadur. Though it maybe crumbling from inside, the exteriors of this imposing structure, con- structed with the locally-available stone, has withstood the ravages of time and is still in impressive shape.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8521/8555004756_82272c13be_h.jpg"
       alt = "Nawab's Summer Palace (Kurnool)" %}

    <p>The iconic palace shown in the 2009 Tollywood hit “Arundathi” starring Anushka Shetty was shot here! The abandoned bungalow may just have been forgotten if the movie didn’t generate a renewed interest in it.</p>
    <p>A slight detour on the way to the Belum caves will lead you to this palace in Banaganapalli, which is approximately 80 kilometres from Kurnool. Refer to Google Maps for directions or just ask any local for “Arundathi Palace”. Apart from some enthusiastic directions, you might just hear a tale or two from mana film-crazy locals about the movie shoot- ing at the venue.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8251/8555004524_77569cd2e5_h.jpg"
       alt = "Nawab's Summer Palace (Kurnool)" %}
    
    <p>Though the inside of the palace is closed for visitors, take some time to walk around the structure and admire the beautiful details. Apart from the love- ly view of the Banaganapalli village and the rolling fields around, you can make this visit a pit-stop to just sit down and relax under the cool porch of this bungalow.</p>  
    <p>Try not to be alarmed if you see the villagers using the cool shade of the bungalow as a siesta spot or locals sitting on the ground and eating a full course meal right where you are walking.</p>


    <h2>Yaganti Temple</h2>
    <p>The Yaganti Temple, near Banaganapalli, requires a steep climb into ancient caves.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8085/8553897791_d99d1d0b20_h.jpg"
       alt = "Yaganti Temple (Kurnool)" %}
  

    <h2>Belum Caves</h2>
    <p>A fascinating network of caves that winds and trapezes across 3229 metres, making it the second largest natural caves in the Indian Subcontinent. Originally discovered in 1884 by a British surveyor Robert Bruce Foote, the cave was explored by a team of German speleologists in 1984. The historically important caves are said to have housed Jains and Buddhists monks who used it for meditation.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8373/8555004056_b8ca27c36e_h.jpg"
       alt = "Belum Caves (Kurnool)" %}
    
    <p>When you drive into the entrance of the site that houses the caves, you might think you landed up in the wrong place. The vast expanse of flat land betrays the presence of these impressive caves right beneath you. When you climb down the first 20 metres, the magnificence of this natural wonder will blow you away. You get to walk around 1.5 kilometres of the well-lit caves and even dip your foot in the Patala Ganga (underground Ganges), a natural perennial stream that flows through the caves. Hopefully,you won’t bump into over enthusiastic tourists who play loud music on their mobile phones!</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8109/8553897401_28f93eb9dc_h.jpg"
       alt = "Belum Caves (Kurnool)" %}
    
    <p>Located in the Belum Village of Kurnool District, the caves that are open till 5 pm is a 109 km-long drive from Kurnool. The roads are good. Using Google Maps will help or just ask the locals for “Belum Guhalu” as you drive by. Stop to click pics of the Owk reservoir on the way.</p>
    <p>Eat at the APTDC restaurant a little outside the caves for authentic, spicy Telugu meals served by a friendly staff. Pay a visit to the clean washrooms beside the entrance of the caves before you enter.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8094/8555003436_94837c5af8_h.jpg"
       alt = "Belum Caves (Kurnool)" %}
        
    <p>Avoid wearing jeans or tight clothing when you are visiting the caves. Comfortable shorts or loose cottons works best as you walk through the caves with 100 per cent humidity! Carrying a spare T-shirt is a sensible idea.</p>


    <h2>Rollapadu Bird Sanctuary</h2>
    <p>An almost unheard of bird sanctuary in the Kurnool district spread over an are of 6.14 kilometres that is the only habitat in the State for the rare and highly endangered Great Indian Bustard.</p>
    
  {% include image.html
     loc = "https://c1.staticflickr.com/9/8109/8553895831_3e4f6c8283_h.jpg"
     alt = "Rollapadu Bird Sanctuary (Kurnool)" %}
    
    <p>The open dry grasslands are reminiscent of a mini Africa. The billowing winds and the burnt-yellow grass in summer offer you landscapes that you will never get to see in a city. The sun shines golden here and the air is clear. You can make your way to the watch tower and leisurely look through the binoculars provided by the management and look for some leaping gazelles, black bucks, wolves and a variety of birds.</p>
    
    {% include image.html
       loc = "https://c1.staticflickr.com/9/8087/8555001940_0c97021649_h.jpg"
       alt = "Rollapadu Bird Sanctuary (Kurnool)" %}
    
    <p>This one’s a tricky one to find with hardly anyone in Kurnool aware of it. It is located around 46 kilometres from Kurnool near the village, Midtur. Google Maps is a saviour here. Follow the roads, ask the friendly locals for “Rallapadu” where there are “paksheelu” and if you get lucky, a villager might hop into your car and lead you there!</p>
    <p>Visit the sanctuary early in the morning or at sunset to spot the animals out of their comfortable hiding places. You can also take permission to rent a room at the forest rest house in Kurnool.</p>
    <p>Try not to be too lazy and do drive by a huge reservoir right next to the sanctuary that offers you breathtaking views of the landscape against the beautiful lake.</p>
    <p>This Kurnool travelogue was originally published in the <strong>Hyderabad Times</strong> supplement of the <strong>Times of India</strong> edition, dated June 9, 2012, in collaboration with the <strong>Andhra Pradesh Tourism Development Corporation (APTDC)</strong>.</p>

    <p><span class="icon style2 fa-external-link"></span> You can find additional details, where to stay and some more photos of Kurnool <a title="Kurnool!" href="http://www.lovelldsouza.com/travel/kurnool-andhra-pradesh/" target="_hlank">here</a>.</p>

  </div>
</section>