---
layout: post
comments: true
author: lovell
categories: andhra-pradesh

title: Borra Caves - Araku Valley
excerpt: The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh.
long_excerpt: The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh. William King the British geologist discovered the caves in 1807. Borra (which means hole in Oriya) caves are naturally formed and believed to be 150 Million years old.

amp: true
amp-img: https://farm9.staticflickr.com/8302/8012726945_cc69ac2260_n.jpg

image:
  main: https://farm9.staticflickr.com/8302/8012726945_cc69ac2260.jpg
  datasrcset: 'https://farm9.staticflickr.com/8302/8012726945_cc69ac2260_n.jpg 320w, https://farm9.staticflickr.com/8302/8012726945_cc69ac2260.jpg 500w, https://farm9.staticflickr.com/8302/8012726945_cc69ac2260_z.jpg 640w, https://farm9.staticflickr.com/8302/8012726945_cc69ac2260_c.jpg 800w, https://farm9.staticflickr.com/8302/8012726945_cc69ac2260_b.jpg 1024w, https://farm9.staticflickr.com/8302/8012726945_8118830c19_h.jpg 1600w'

tags:
- Andhra Pradesh
- Araku Valley
- Borra Caves
- India
- Travel

geo:
  geotag_region: borra caves, araku
  geotag_country: India
  geo_address: borra caves, araku, India
  geo_latitude: '18.241626'
  geo_longitude: '83.030351'
  geo_public: '1'

dsq_thread_id: 2748538577
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh. William King the British geologist discovered the caves in 1807. Borra (which means hole in Oriya) caves are naturally formed and believed to be 150 Mllion years old.</p>

    {% include image.html
       loc="https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e.jpg"
       alt="The Borra Caves"
       caption="Lit up using sunlight and focus lights."
       datasrcset="https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e_n.jpg 320w, https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e.jpg 500w, https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e_z.jpg 640w, https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e_c.jpg 800w, https://farm8.staticflickr.com/7226/7315416688_21ed9acd4e_b.jpg 1024w, https://farm8.staticflickr.com/7226/7315416688_07cf0295af_h.jpg 1600w" %}

    <p>The main entrance of Borra Caves is at an altitude of 705 meters while the interior goes to a depth of 625 meters. The total length of the caves is about 200 meters.</p>

    {% include image.html
       loc="https://farm8.staticflickr.com/7229/7279269074_8920292509.jpg"
       alt="Borra Caves"
       caption="Inside the Borra Caves, at the Araku Valley, India. More: <a href='http://en.wikipedia.org/wiki/Borra_Caves' rel='nofollow'>en.wikipedia.org/wiki/Borra_Caves</a>"
       datasrcset="https://farm8.staticflickr.com/7229/7279269074_8920292509_n.jpg 320w, https://farm8.staticflickr.com/7229/7279269074_8920292509.jpg 500w, https://farm8.staticflickr.com/7229/7279269074_8920292509_z.jpg 640w, https://farm8.staticflickr.com/7229/7279269074_8920292509_c.jpg 800w, https://farm8.staticflickr.com/7229/7279269074_8920292509_b.jpg 1024w, https://farm8.staticflickr.com/7229/7279269074_43a23f626f_h.jpg 1600w" %}
  </div>
</section>