---
layout: post
author: lovell
categories: andhra-pradesh

title: Borra Caves - Araku Valley
excerpt: The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh.
long_excerpt: The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh. William King the British geologist discovered the caves in 1807. Borra (which means hole in Oriya) caves are naturally formed and believed to be 150 Million years old.

image: https://farm9.staticflickr.com/8302/8012726945_8118830c19_h.jpg

tags:
- Andhra Pradesh
- Araku Valley
- Borra Caves
- India
- Travel

geo:
  geotag_region: borra caves, araku
  geotag_country: India
  geo_address: borra caves, araku, India
  geo_latitude: '18.241626'
  geo_longitude: '83.030351'
  geo_public: '1'

dsq_thread_id: 2748538577
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>The Borra Caves are located about 90 kms North of Visakhapatnam (Vizag), in the Ananthagiri hills range of the Eastern ghats in Andhra Pradesh. William King the British geologist discovered the caves in 1807. Borra (which means hole in Oriya) caves are naturally formed and believed to be 150 Mllion years old.</p>

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7226/7315416688_07cf0295af_h.jpg'
       alt = 'The Borra Caves' %}

    <p>The main entrance of Borra Caves is at an altitude of 705 meters while the interior goes to a depth of 625 meters. The total length of the caves is about 200 meters.</p>

    {% include image.html
       loc = 'https://farm8.staticflickr.com/7229/7279269074_43a23f626f_h.jpg'
       alt = 'Borra Caves' %}
  </div>
</section>