<amp-sidebar id="sidebar" layout="nodisplay" side="left">
  <amp-img class="amp-close-image"
    src="{{ site.baseurl }}/assets/img/close-x.png"
    width="20" height="20" alt="close sidebar"
    on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
  <section>
    <h2>Happy Feet!</h2>
    <h3>Pages</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/all">All Posts</a></li>
      <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
      <li><a href="{{ site.baseurl }}/big-picture/">Big Picture</a></li>
      <li><a href="{{ site.baseurl }}/thoughts/">Thoughts</a></li>
      <li><a href="{{ site.baseurl }}/on-the-road/">On The Road</a></li>
    </ul>
  </section>
  <section>
    <h3>India</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/andhra-pradesh/">Andhra Pradesh</a></li>
      <li><a href="{{ site.baseurl }}/goa/">Goa</a></li>
      <li><a href="{{ site.baseurl }}/jammu-kashmir/">Jammu &amp; Kashmir</a></li>
      <li><a href="{{ site.baseurl }}/karnataka/">Karnataka</a></li>
      <li><a href="{{ site.baseurl }}/kerala/">Kerala</a></li>
      <li><a href="{{ site.baseurl }}/maharashtra/">Maharashtra</a></li>
      <li><a href="{{ site.baseurl }}/tamil-nadu/">Tamil Nadu</a></li>
      <li><a href="{{ site.baseurl }}/uttarakhand/">Uttarakhand</a></li>
      <li><a href="{{ site.baseurl }}/west-bengal/">West Bengal</a></li>
    </ul>
    </div>
  </section>
  <section>
    <h3>World</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/france/">France</a></li>
      <li><a href="{{ site.baseurl }}/italy/">Italy</a></li>
      <li><a href="{{ site.baseurl }}/mongolia/">Mongolia</a></li>
      <li><a href="{{ site.baseurl }}/nepal/">Nepal</a></li>
      <li><a href="{{ site.baseurl }}/russia/">Russia</a></li>
    </ul>
  </section>
</amp-sidebar>