<div id="social">
  <h2>Share the love!</h2>
  <p>If you liked what you just read, share it with your friends, family, dentist, parish priest, bookie and CA.</p>
  <amp-social-share type="email"></amp-social-share>
  <amp-social-share type="facebook" data-param-app_id="220168524773983"></amp-social-share>
  <amp-social-share type="gplus"></amp-social-share>
  <amp-social-share type="linkedin"></amp-social-share>
  <amp-social-share type="pinterest"></amp-social-share>
  <amp-social-share type="tumblr"></amp-social-share>
  <amp-social-share type="twitter"></amp-social-share>
  <amp-social-share type="whatsapp"></amp-social-share>
</div>