<div id="banner-nav-container" class="">
<section id="banner-nav" class="banner style5 fullscreen image-position-center content-align-left">
  <div class="content">
    <h1>Happy Feet!</h1>
    <p class="major">Stories, photographs and thoughts from a travelling couple taking walks and mapping their routes, while backpacking around India, and parts of the world.</p>
    <div>
      <h3>Pages</h3>
      <ul class="ul-inline">
        <li> &middot; <a href="{{ site.baseurl }}/">Home</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/about">About</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/authors">Authors</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/all">All Posts</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/tags">Tags</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/search">Search</a></li><br>
        <li> &middot; <a href="{{ site.baseurl }}/big-picture/">Big Picture</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/thoughts/">Thoughts</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/on-the-road/">On The Road</a></li>
      </ul>
    </div>
    <div>
      <h3>India</h3>
      <ul class="ul-inline">
        <li> &middot; <a href="{{ site.baseurl }}/andhra-pradesh/">Andhra Pradesh</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/goa/">Goa</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/jammu-kashmir/">Jammu &amp; Kashmir</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/karnataka/">Karnataka</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/kerala/">Kerala</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/maharashtra/">Maharashtra</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/tamil-nadu/">Tamil Nadu</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/uttarakhand/">Uttarakhand</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/west-bengal/">West Bengal</a></li>
      </ul>
    </div>
    <div>
      <h3>World</h3>
      <ul class="ul-inline">
        <li> &middot; <a href="{{ site.baseurl }}/france/">France</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/italy/">Italy</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/mongolia/">Mongolia</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/nepal/">Nepal</a></li>
        <li> &middot; <a href="{{ site.baseurl }}/russia/">Russia</a></li>
      </ul>
    </div>
    <ul class="actions vertical" style="margin-top: 2rem;">
      <li><a id="search-nav" href="{{ site.baseurl }}/search" class="button small icon fa-search">Search</a></li>
      <li><a id="close-nav" href="javascript:void(0);" class="button special small icon fa-close">Close</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="https://farm9.staticflickr.com/8637/16691603885_8a81882c0b_b.jpg" alt="Priya and Lovell at Old Goa">
  </div>
</section>
</div>