<section id="comments" class="wrapper style1 align-center">
  <div class="inner">
    <span class="icon style2 major fa-comments"></span>
    <h3>Or leave us a comment</h3>
    <p>Because we would love to hear what you have to say!</p>
    <div id="disqus_thread"></div>
  </div>
 </section>
<script>

var disqus_config = function () {
  this.page.url = 'https://happyfeet.us{{ page.url }}';
  // this.page.identifier = '{{ page.url }}';
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://happyfeetus.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>