{% capture img_path %}{{ include.loc }}{% endcapture %}
{% capture img_alt %}{{ include.alt }}{% endcapture %}

{% if include.caption != null %}
  {% capture img_caption %}{{ include.caption }}{% endcapture %}
{% else %}
  {% capture img_caption %}{{ include.alt }}{% endcapture %}
{% endif %}

{% if include.srcset != null %}
  {% assign data_src = include.srcset %}
{% else %}
  {% assign data_src = include.loc %}
{% endif %}

<figure>
  <span class="image fit">
    <img src="{{ site.preloadimage }}" alt="{{ img_alt }}" title="{{ img_alt }}" class="lazyload" 
         data-srcset="{{ data_src }}"/>
    <figcaption>{{ img_caption }}</figcaption>
  </span>
</figure>