{% assign post = site.posts.first %}
{% assign content = post.content %}

{% if post.image.datasrcset %}
  {% assign src = post.image.main %}
  {% assign data_srcset = post.image.datasrcset %}
{% else %}
  {% assign src = post.image %}
  {% assign data_srcset = post.image %}
{% endif %}

<section id="first" class="banner style1 orient-left content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <postmeta>
      <time><i class="fa fa-clock-o"></i> Latest Post</time>
    </postmeta>
    <h2>{{ post.title }}</h2>
    <p>{{ post.excerpt }}</p>
    <ul class="actions vertical">
      <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read on</a></li>
    </ul>
  </div>
  <div class="image">
    <img class="lazyload" alt="{{ page.title }}" title="{{ page.title }}"
         srcset="{{ site.preloadimage }}" data-sizes="auto"
         src="{{ src }}"
         data-srcset="{{ data_srcset }}" >
  </div>
</section>