<section id="sitemap" class="wrapper style1 align-center">
  <div class="inner">
    <h2>Sitemap / Menu</h2>
    <p>We know we have a lot of content scattered around on our website.<br> Hence we've made this <strong>sitemap</strong> to help you navigate around. You could also use our <strong><a href="{{ site.baseurl }}/search" title="Search our website">Search</a></strong> page to find specific content.</p>
    <div class="items style1 medium">
      <section>
        <div class="inner">
          <span class="icon style2 major fa-home"></span>
          <h3>Pages</h3>
          <p>Links to help you find your way around here.</p>
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/authors">Authors</a></li>
            <li><a href="{{ site.baseurl }}/all">All Posts</a></li>
            <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
            <li><a href="{{ site.baseurl }}/search">Search</a></li>
            <li><a href="{{ site.baseurl }}/big-picture/">Big Picture</a></li>
            <li><a href="{{ site.baseurl }}/thoughts/">Thoughts</a></li>
            <li><a href="{{ site.baseurl }}/on-the-road/">On The Road</a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="inner">
          <span class="icon style2 major fa-inr"></span>
          <h3>India</h3>
          <p>Stories from the motherland.</p>
          <ul>
            <li><a href="{{ site.baseurl }}/andhra-pradesh/">Andhra Pradesh</a></li>
            <li><a href="{{ site.baseurl }}/goa/">Goa</a></li>
            <li><a href="{{ site.baseurl }}/jammu-kashmir/">Jammu &amp; Kashmir</a></li>
            <li><a href="{{ site.baseurl }}/karnataka/">Karnataka</a></li>
            <li><a href="{{ site.baseurl }}/kerala/">Kerala</a></li>
            <li><a href="{{ site.baseurl }}/maharashtra/">Maharashtra</a></li>
            <li><a href="{{ site.baseurl }}/tamil-nadu/">Tamil Nadu</a></li>
            <li><a href="{{ site.baseurl }}/uttarakhand/">Uttarakhand</a></li>
            <li><a href="{{ site.baseurl }}/west-bengal/">West Bengal</a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="inner">
          <span class="icon style2 major fa-globe"></span>
          <h3>World</h3>
          <p>Stories from around the world.</p>
          <ul>
            <li><a href="{{ site.baseurl }}/france/">France</a></li>
            <li><a href="{{ site.baseurl }}/italy/">Italy</a></li>
            <li><a href="{{ site.baseurl }}/mongolia/">Mongolia</a></li>
            <li><a href="{{ site.baseurl }}/nepal/">Nepal</a></li>
            <li><a href="{{ site.baseurl }}/russia/">Russia</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>