<section id="social-links" class="wrapper style1 align-center">
  <div class="inner">
    <span class="icon style2 major fa-heart-o"></span>
    <h3>Share the love</h3>
    <p>If you liked what you just read, share it with your friends, family, dentist, parish priest, garbage collector and CA.</p>
    <ul class="icons">
      <li><a title="Tweet this!" target="_blank" href="http://twitter.com/share?text={{ page.title }}&url={{ site.livesiteurl }}{{ page.url }}&via=happyfeetus&related=happyfeetus" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>

      <li><a title="Share on Facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.livesiteurl }}{{ page.url }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>

      <li><a title="Share on Whatsapp" target="_blank" href="whatsapp://send?text={{ site.livesiteurl }}{{ page.url }}" class="icon style2 fa-whatsapp" data-action="share/whatsapp/share"><span class="label">Whatsapp</span></a></li>

      <li><a title="Share on Google+" target="_blank" href="https://plus.google.com/share?url={{ site.livesiteurl }}{{ page.url }}" class="icon style2 fa-google-plus"><span class="label">Google+</span></a></li>

      <li><a title="Pin this!" target="_blank" href="http://pinterest.com/pin/create/button/?url={{ site.livesiteurl }}{{ page.url }}&description={{ page.title }}" class="icon style2 fa-pinterest"><span class="label">Pinterest</span></a></li>
      <!--
      <li><a title="Share on Tumblr" target="_blank" href="http://www.tumblr.com/share/link?url={{ site.livesiteurl }}{{ page.url }}&name={{ page.title }}&description={{ page.excerpt }}" class="icon style2 fa-tumblr"><span class="label">Tumblr</span></a></li>
      -->
      <li><a title="Reddit!" target="_blank" href="http://www.reddit.com/submit?url={{ site.livesiteurl }}{{ page.url }}&title={{ page.title }}" class="icon style2 fa-reddit"><span class="label">Reddit</span></a></li>

      <li><a title="Post on LinkedIn" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.livesiteurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt }}&source={{ site.livesiteurl }}" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
  </div>
</section>