---
layout: post
author: lovell
categories: maharashtra

title: A long time ago in Vengurla
excerpt: Some 5 years back, a few of us drove from Goa to Vengurla,
    a small beach side town in Sindhudurg, Maharashtra.

image: https://farm6.staticflickr.com/5760/20561646475_f7c6b2f934_h.jpg

tags:
- Beach
- Dog
- Evening
- Goa
- Maharashtra
- Rain
- Tide
- Vengurla
- Vengurla Beach

dsq_thread_id: 4033210901
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Five years ago, a few of us drove from Goa to <a href="https://en.wikipedia.org/wiki/Vengurla" target="_blank">Vengurla</a>, a small beachside town in Sindhudurg, Maharashtra.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5763/20373726310_f1f11f017b_h.jpg"
       alt = "Approaching the Vengurla beach" %}

    <p>It would take you a couple of hours to reach the Vengurla beach, depending on where you depart from, and how fast you intend to drive. It is around an hour's drive from Mapusa.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5727/20568220461_6f399727ce_h.jpg"
       alt = "Happy Dog" %}

    <p>Borders crossed, to the beach it was! We were greeted by some of the local strays, who were all too happy to see us. A bow wow wow here, a bow wow wow there.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5750/19940844033_4ad229e8d9_h.jpg"
       alt = "Vengurla Beach" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5671/20561722295_f23d297823_h.jpg"
       alt = "Vengurla Beach" %}

    <p>We were caught off guard, by a sudden downpour. </p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5633/20552779552_d1d49d29e4_h.jpg"
       alt = "Vengurla Beach" %}

    <p>But then there was the smell of wet mud. Wet mud.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5679/20552774702_e00d0df347_h.jpg"
       alt = "A dog at the Vengurla Beach" %}

    <p>There were more strays. Some came close.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5770/19939092224_6721069a2b_h.jpg"
       alt = "A dog at the Vengurla Beach" %}

    <p>While others stayed away, giving us their looks of disapproval.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5639/19939086894_d8d7f29a64_h.jpg"
       alt = "Poker at Vengurla" %}

    <p>The afternoon was spent playing poker.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5668/20568191151_d4678d0988_h.jpg"
       alt = "Vengurla Beach" %}

    <p>The air smelt fresh.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5812/20374982969_09bcc562e1_h.jpg"
       alt = "Vengurla Beach" %}
   
    <p>The waves crashed in the distance.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5812/20374982969_09bcc562e1_h.jpg"
       alt = "Vengurla Beach" %}

    <p>Footprints were left.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5793/20373665710_6f7dad5d6f_h.jpg"
       alt = "Vengurla Beach" %}

    <p>The tides moved back.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5707/20568156291_a5bb9849be_h.jpg"
       alt = "Vengurla Beach" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5622/19940773593_d10848458f_h.jpg"
       alt = "Vengurla Beach" %}


    {% include image.html
       loc = "https://farm6.staticflickr.com/5760/20561646475_f7c6b2f934_h.jpg"
       alt = "Vengurla Beach" %}

    <p>Just another evening at the Vengurla beach.</p>
  </div>
</section>