---
layout: post
comments: true
author: priya
categories: kerala

title: The journey of our travelling books
excerpt: What is reading but a form of travelling. An instant journey into a world full of places and people you had no idea about but are now madly in love with.
long_excerpt: Train journeys however, are always spent with my nose buried in a book, if not looking out of the bars of the windows at the speeding world outside, moving forward or backward, depending on which side of the berth you are sitting. The fleetingness of everything beautiful and ugly, just passing by relentlessly, is sometimes unsettling. Like a life on fast forward with you playing the role of an inconsequential observer with absolutely no control over anything. A tiny speck of insignificance hurtling through the labyrinth of humankind.

image: https://farm8.staticflickr.com/7331/13989642989_632e1e2072_h.jpg

tags:
- Fort Kochi
- Book sellers
- Book Store
- Books
- Cochin
- Fort Kochi
- Idiom
- India
- Kerala
- Kochi
- Travel

geo:
  geotag_region: Kochi, Kerala
  geotag_country: India
  geo_address: Kochi, Kerala, India
  geo_latitude: '9.965779'
  geo_longitude: '76.242115'
  geo_public: '1'

dsq_thread_id: 2696361522
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>What is reading but a form of travelling. An instant journey into a world filled with wonderful places and people you had no idea about, but are now madly in love with. Maybe, that’s why I’m not a big fan of reading when I’m on the road. There’s too much happening around me to want to escape into another dimension. For where I am is actually where I want to be.</p>

    <p>Train journeys however, are always spent with my nose buried in a book, if not looking out of the bars of the windows at the speeding world outside, moving forward or backward, depending on which side of the berth you are facing. The fleetingness of everything beautiful and ugly, just passing by relentlessly, is sometimes unsettling. Like a life on fast forward with you playing the role of an inconsequential observer with absolutely no control over anything. A tiny speck of insignificance hurtling through the labyrinth of humankind. Of course, with all the recent 3AC journeys denying me the joy of the howling wind lashing at my face and eardrums with a delicious ferocity, I prefer to fill the muteness of the landscapes rapidly passing by with words of all shapes and sizes on pages, comforting and familiar.</p>

    <p>But once I reach my destination, I’m too overwhelmed with the sight, sounds and tastes of new worlds to open the pages of my tiny time machines. The road is the premise, the motley bunch of strangers on it become the characters, the landscape becomes the mood and my imagination, the story.</p>

    <p>So, naturally, the thoughtful service offered by quaint little book shop in Fort Kochi runs, on a recent trip to Kerala, was fascinating, to say the least. This bright and inviting store painted in a glorious indigo blue offers to help you “shed some weight” and “take a load off” your luggage by shipping the books you’ve finished reading to any address you like.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5530/14153148106_077ccb3b01_h.jpg"
       alt = "Idiom Booksellers" %}

    <p>You can not only buy books from them — new, second hand or even rare — and ship them to your home address, but also hand over all the ones you are lugging around despite finishing with them. A blessing for backpackers.</p>

    <p>As suspected, the store was evidently a haven for foreign travellers in India. They tend to be on the road for months together and usually end up leaving their books at hostels and home-stays across the country, as I’ve come to observe. Idiom Booksellers ship their books to any part of the world for the nominal prices charged by the Indian postal service. What’s not to love? So, we decided it peek inside this lovely grotto of books.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5151/14173003471_18ecab81e8_h.jpg"
       alt = "Idiom Booksellers" %}

    <p>The store had a lovely collection of new fiction and non-fiction publications from across the world. Alluring travel books, beautiful coffee table editions, books in regional languages  and pretty postcards overflowed the shelves of the cosy bookstore delightfully. The second-hand section however, was where I spent most of my time. Books smelling of different places, revealing stories of all the different hands that have caressed it, sat invitingly on shelves, neatly labelled alphabetically.</p>

    {% include image.html
       loc = "https://farm8.staticflickr.com/7437/14153168006_f11a51fab3_h.jpg"
       alt = "Idiom Booksellers" %}

    {% include image.html
       loc = "https://farm6.staticflickr.com/5523/13989654549_417f82c549_h.jpg"
       alt = "Idiom Booksellers" %}

    <p>The section reserved for Indian writing was a pleasure to browse through. Housing many books on Indian mythology and history, the kitschy books were clearly aimed to entice the foreign traveller on his journey across ‘exotic’ India.</p>

    {% include image.html
       loc = "https://farm8.staticflickr.com/7357/11293848374_e6ebddaa5e_h.jpg"
       alt = "India — Where the adventure never ends"
       caption = "We&apos;ve been on the road for a while now. A couple of states covered so far, while backpacking around this country which always had something new to offer. This photograph was clicked at the Idiom Booksellers in Fort Kochi while on our latest trip around Kerala. A ton of photo stories are in the making, so stay tuned!"  %}

    <p>We picked five books — <em>Mr Muo’s Travelling Couch</em> (A Freud-like character’s quest to save his love) by Dai Sijie and translated from French by Ina Rilke, <em>1Q84</em> (as deliciously surreal as Murakami novels get) by Haruki Murakami, <em>Kochi - a Pictorial Perspective</em> (filled with lovely images of a charming city) by Ramji Madambi and Shaji Joseph Arakkal, <em>The Reader</em> (made famous by the Kate Winslet movie) by Bernhard Schlink and <em>The Little Prince</em> (Sigh!) by ‎Antoine de Saint-Exupéry. This along with a book I had finished reading on the train to Kerala was to be packed and sent to our home in Goa.</p>

    {% include image.html
       loc = "https://farm6.staticflickr.com/5576/13989675458_1bbddc8f04_h.jpg"
       alt = "Idiom Booksellers" %}

    {% include image.html
       loc = "https://farm8.staticflickr.com/7416/14196437603_2464e30e1f_h.jpg"
       alt = "Idiom Booksellers" %}

    <p>The friendly proprietor, a Mr Shyam, who started this book store a decade ago with an Englishman (who had to return to his homeland), says that most of his customers are European travellers who keep him busy with their mail order requests. He said our books would reach us in a week’s time, waiting for us at Goa, even before we return from our 10-day trip across Kerala.</p>

    <p>It didn’t. We greeted them instead when they finally reached Goa almost a fortnight later (<em>The Little Prince</em> had to be specially ordered as it was out of stock, said Shyam when we called him to check about the delay). I wouldn’t complain though. Looking at the state of the weather-beaten brown paper package, I could only imagine that the books had an adventure of their own as they travelled the length of the Konkan Coast, adding new tales to the creases in their pages. Just the kind of books I enjoy.</p>

    {% include image.html
       loc = "https://farm8.staticflickr.com/7453/13989668909_ea455a323f_h.jpg"
       alt = "Idiom Booksellers" %} 
  </div>
</section>