---
layout: post
comments: true
author: priya
categories: italy
tags:
- Italy
- Travel
- Venice

title: Our Clichéless Venice
excerpt: Venezia &mdash; The blue green waters reflected the overcast skies to paint pretty postcard pictures just for us.
image: /assets/img/postimages/venice-river.jpg

blockquote: Venezia &mdash; The blue green waters reflected the overcast skies to paint pretty postcard pictures just for us. We threw aside our maps, escaped the tourist traps and walked on the rain-washed streets. Our umbrellas didn't survive, our feet were soaking wet and the wind almost pushed us off our feet, but the city's canals joined forces with the fall colors to make us fall in love. Sigh.

meta:
  geotag_region: Venice
  geotag_country: Italy
  geo_address: Venice, Italy
  geo_latitude: '45.440847'
  geo_longitude: '12.315515'
  geo_public: '1'
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <h2>Venice</h2>
    <p>They told you Venice is gorgeous. They sold you perfectly packaged postcard pictures of this "romantic city." It's all there in your head already - montages of fluttering hearts,  the summer sun dancing on the sparkling canals, honeymooners holding hands in gondola rides by the moonlight, gushing serenaders  blushing serenades  All this set to syrupy-sweet, cloying violin tunes that makes everything seem more whimsical than it could have been.</p>
    
    <p>This was the show-reel of Venice in my head too as we sat on the Eurail, a one hour journey from Milano to Venezia. All too excited to spot these all-too-familiar clichés.</p>
    
    <p>But nothing prepared us for rain-soaked Venezia. That one day, the drenched city decided  to take the whole list of carefully-established-over-centuries clichés, make a neat little paper boat of it and set it to sail in the The Canal Grande. Just for us.</p>
    
    <p>As we walked out of the station, following the sound of heavy rain pouring on cobbled streets, Venezia greeted us, not with those comforting postcard pictures we have in our minds, but with cold, unforgiving rain, coupled with the kind of wind that slaps you on your face. Yes, it was undoubtedly beautiful. But one can hardly expect two, tired and always-hungry backpackers to find the idea of trudging along in bad weather romantic. Plus unprepared travelers that we were, we had only one umbrella between us. So, after buying a violently orange umbrella for two euros, after haggling it down from five, from the omnipresent Bangladeshi hawker , we stepped out to brave this not-of-our-dreams Venice.</p>

    {% include image.html
       loc = '/assets/img/postimages/venice-river.jpg'
       caption = 'Deeply Darkly Beautiful'
       alt = 'Venice River, Italy' %}

    <p>We walked. From the Stazione di Venezia Santa Lucia to everywhere. We were not honeymooners blinded by the novelty of the 100-euros-a-ride, gondolas. So we walked all over the same city that other rich, vacation-happy and love-struck couples usually sail through. Wet and shabby, we may have been, among a sea of dressed-up honeymooners, but with no pair of eyes to gaze into, we were definitely more adventurous.</p>
    
    <p>We walked till we discovered a new Venezia. Our very own clichéless version, the one no one told you about. We lazily walked past the tourists traps selling Venetian dreams made of glass and porcelain. Down the cobbled streets, across quaint glass blowers' stores, past those mysterious Venetian masks that bring with visions of ancient carnivals and magical masquerade balls. We followed the old yellow boards on the many, winding alleys, that kept promising us that Piazza San Marco was right around the corner, only to turn into more twisting alleys with more yellow boards. Stopping only to admire some exquisite trinkets through glass window displays or to click pictures of pretty window sills with potted plants.</p>

    <div class="row">
      <div class="col-md-6">
        {% include image.html
           loc = '/assets/img/postimages/venice-window.jpg'
           alt = 'A window in Venice'
           caption = 'A window-shaped poem' %}
      </div>
      <div class="col-md-6">
        {% include image.html
           loc = '/assets/img/postimages/venice-umbrella.jpg'
           alt = 'Umbrella in Venice'
           caption = 'Our candy-coloured saviour' %}
      </div>
    </div>

    <p>We measured the breadth of the tiny, tiny alleys with our outstretched hands. We laughed and posed for pictures by the blue-green waters. And all the while it rained. It poured so hard that the chill seeped into our shoes, socks and bones. But we didn't care. The wind turned our poor umbrellas upside down, but we walked on. We lost ourselves in those little alleys only to find ourselves again. Rain-washed, bright orange blossoms begged to be the background of our pictures, the obscurest of streets led us to the prettiest of churches with imposing bell towers that looked more ominous against the overcast skies.</p>

    {% include image.html
       loc = '/assets/img/postimages/venice.jpg'
       alt = 'Venice'
       caption = 'Rainwashed Perspectives' %}

    <p>We ogled at handsome Italian gondoliers, lusted after the sounds of their throaty, sexy language. It was hours of walking for us, before we stopped to sit, only to pull out our shoes and see our wet feet that looked like prunes had turned blue. The wind was unforgiving and threatened to push us off our feet. We watched a gondola battle that wind, as it bobbed around in a small canal which lay under the Bridge of Sighs. The gloomy overcast skies we were seeing must have been the same skies that 17th century prisoners must have looked at wistfully, as they walked on the bridge. For the last times in their lives. Leaving behind nothing but sighs before their execution. Their last sighs still seem to be echoing all over Venice, especially on rainy days, mindless of any tourist cacophony or packaged prettiness.</p>

    <p>Feeling strange pangs of sorrow-struck happiness in this city of love, we trudged along, braving the harsh winds to find a cosy, warm Italian café and two mugs of hot chocolate. We sat there, watching the Venetian sunset — the sky turned the Prussian Blue of paintings, reflecting itself on the blue waters, lined up with blue boats. It was this mood-altering blue that forced us out of that warmth, back into the rain. We had a train to catch to Rome. So, we decided to take a 'bus' back to the station. A bus that runs on water of course, like everything else in Venezia.</p>

    {% include image.html
       loc = '/assets/img/postimages/venice-boats.jpg'
       alt = 'Boats docked in Venice'
       caption = 'The blue of dreams' %}

    {% include image.html
       loc = '/assets/img/postimages/venice-evening.jpg'
       alt = 'An evening in Venice'
       caption = 'The blue of melancholy' %}

    <p>Cold, wet and yet feeling a strange sort of love for this damp city, we stood on the deck of our bus on the way to the station, looking out at the gloomy blue waters, noticing something that enamoured tourists and pampered honeymooners refuse to see — the arched bridges, the ancient paths and the fading, crumbly-looking old buildings were so weather beaten by the unforgiving canals, that they were dying a slow, painless death. Venice is sinking. Little by little. Every year. And there's a strange, macabre beauty to this fact. Like the unexplainable beauty of a tragedy. Like the beauty of unrequited love.</p>
  </div>
</section>