---
layout: post
comments: true
author: priya
categories: russia

title: How the World&apos;s largest swimming pool turned into the Cathedral of Christ the Saviour
excerpt: The Cathedral has a long, troubled and fascinating past that dates all the way back to the 19th century. A story as complex as the history of Russia itself.

amp: true
amp-components: [ youtube, facebook ]
amp-img: https://farm9.staticflickr.com/8898/28637566091_ce54711b87_n.jpg

image:
  main: https://farm9.staticflickr.com/8898/28637566091_ce54711b87.jpg
  datasrcset: 'https://farm9.staticflickr.com/8898/28637566091_ce54711b87_n.jpg 320w, https://farm9.staticflickr.com/8898/28637566091_ce54711b87.jpg 500w, https://farm9.staticflickr.com/8898/28637566091_ce54711b87_z.jpg 640w, https://farm9.staticflickr.com/8898/28637566091_ce54711b87_c.jpg 800w, https://farm9.staticflickr.com/8898/28637566091_ce54711b87_b.jpg 1024w, https://farm9.staticflickr.com/8898/28637566091_ed93d8ca64_h.jpg 1600w, https://farm9.staticflickr.com/8898/28637566091_4589b23247_k.jpg 2048w'

tags: [ Cathedral, Cathedral of Christ the Saviour, Christ the Saviour, Moscow, Russia, Москва, Россия ]
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Towering over the landscape of the heart of Moscow are the shiny, golden domes of the Cathedral of Christ the Saviour. It is not as ancient as it looks, having been completed as recently as 2000. But it has a long, troubled and fascinating past that dates all the way back to the 19th century. A story as complex as the history of Russia itself.</p>

    <p>The original cathedral was built in 1812, commissioned by Tsar Alexander I, when Napoleon Bonaparte retreated from Moscow after a long, devastating battle. The intention was to build a cathedral in honor of Christ the Savior and, as his original proclamation read, "to signify Our gratitude to Divine Providence for saving Russia from the doom that overshadowed Her."</p>

    <p>The grandiose <a href="https://en.wikipedia.org/wiki/Neoclassical_architecture" target="_blank">Neoclassical church</a> was to stand imposingly on top of the Sparrow Hills. Construction work had also begun, but due to the instability of the fragile soil in that location, the work had to be abandoned. Meanwhile, Alexander I died, leaving his brother Nicholas I as the successor. Now, the new Tsar, who was profoundly Orthodox, decided to do away with the freemasonry of the original design and commissioned a new church, modelled after the <a href="https://www.hagiasophia.com/" target="_blank">Hagia Sophia</a> in Constantinople. The first cornerstone was laid on 1839 on the Moskva River embankment and the cathedral was eventually consecrated in 1883. A vision in golden domes that dominated the skyline.</p>

    {% include image.html
       loc = "//i.imgur.com/kpnhmW5h.jpg"
       alt = "The Original Christ the Saviour Cathedral"
       caption = 'The Original Christ the Saviour Cathedral, before the demolition. Source: <a href="https://commons.wikimedia.org/wiki/File:OldMoscow_archive_img07_Christ_Saviour_Cathedral.jpg" target="_blank">Wikimedia</a>.' %}

    <p>Now, cut to almost a century later and we are in Soviet Russia, where the state, led by Joseph Stalin, rejected everything religious with a vengeance. In an era where industrial advancement was worshipped, they believed there was no room for illusions. And religion was considered the biggest illusion of them all. So, as part of the USSR espoused state atheism, prominent churches and religious institutions were systematically destroyed. For quite obvious reasons, the Cathedral of Christ the Saviour was picked by the Soviet government for destruction. In fact, they believed that the gold from the church's domes were an unnecessary luxury and could make a significant contribution to the industrialization of the country. Stalin also had grand plans to build a mammoth monument to socialism — Palace of the Soviets — on the same site. It would have stood over 400 meters high, with a gigantic statue of Lenin at its peak.</p>

    {% include youtube.html id = 'YFlx55OANg8' %}

    <p>On December 5, 1931, the Cathedral of Christ the Saviour was ruthlessly reduced to a rubble by dynamites. The debris took more than a year to clear and the foundation for the Palace of the Soviets laid bare, like a gaping hole. But the construction of the Palace never took off, for a variety of reasons ranging from lack of funds, flooding from the Moskva River, and of course, the outbreak of World War II.</p>

    <p>More than 20 years later, the flooded foundation site was interestingly enough transformed into the world's largest open air swimming pool, under Nikita Khrushchev's rule. And that's how a glorious cathedral became the Moskva Pool, which had heating all year round so that the locals could swim in cold weather.</p>

    <div class="max-width-800">
    {% include image.html
       loc = '//i.imgur.com/U8WPfm1.jpg'
       alt = 'Swimming Pool - Cathedral of Christ the Saviour'
       caption = 'Swimming Pool - Cathedral of Christ the Saviour. Source: <a target="_blank" href="https://oldmos.ru" target="_blank">https://oldmos.ru</a>.' %}
    </div>

    <p>But the people did not forget what they had to give up in Russia's murkier times. To mark the end of the Soviet era in 1991, the Russian Orthodox Church finally got permission to rebuild the cathedral — a $360-million reconstruction project.</p>

    {% if jekyll.environment == 'amp' %}
      {% include embed.html type='facebook' src='https://www.facebook.com/lovelldsouzaphotography/videos/1232686030077450/' %}
    {% else %}
    <div class="max-width-560">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Flovelldsouzaphotography%2Fvideos%2F1232686030077450%2F&show_text=1&width=560" width="100%" height="425" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    {% endif %}

    <p>The current Cathedral of Christ the Saviour is more than just a church. It's a  symbolic victory of faith for the masses. Ancient and young at the same time, it is exactly what Russia is today.</p>
  </div>
</section>