---
layout: post
comments: true
author: lovell
categories: russia

title: Lunch at Cape Khoboi (Olkhon Island)
excerpt: There is a really funny story behind this photo. Everyone is all smiles now, but that wasn't the case, just moments before.
blockquote: There is a really funny story behind this photo. Everyone is all smiles now, but that wasn't the case, just moments before.

amp: true
amp-components: [ youtube ]
amp-img: https://farm5.staticflickr.com/4444/37256976230_bcec361ecb.jpg

image:
  main: https://farm5.staticflickr.com/4444/37256976230_bcec361ecb.jpg
  datasrcset: 'https://farm5.staticflickr.com/4444/37256976230_bcec361ecb_n.jpg 320w, https://farm5.staticflickr.com/4444/37256976230_bcec361ecb.jpg 500w, https://farm5.staticflickr.com/4444/37256976230_bcec361ecb_z.jpg 640w, https://farm5.staticflickr.com/4444/37256976230_bcec361ecb_c.jpg 800w, https://farm5.staticflickr.com/4444/37256976230_bcec361ecb_b.jpg 1024w, https://farm5.staticflickr.com/4444/37256976230_591bc5d162_h.jpg 1600w, https://farm5.staticflickr.com/4444/37256976230_b938fd34b4_k.jpg 2048w'

tags: [ Baikal, Baikal Lake, Ben, Cape, Cliff, Communication, Day Trip, Fun, Island, Khoboi, Lake, Lake Baikal, Language, Olkhon, Olkhon Island, Priya, Russia, Travel, Yorely, Cape Khoboi, Байкал, озеро Байкал, Бен, мыс, скала, общение, однодневная поездка, развлечения, остров, хобой, озеро, озеро Байкал, язык, Ольхон, остров Ольхон, Прия, Россия, путешествия, Йорели, мыс Хобой ]
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>The evening before, our Aussie tent &#x201C;mate&#x201D; &ndash; <a href="https://www.instagram.com/benpstanton/" rel="nofollow" target="_blank">Ben</a>, Miss Columbia &ndash; <a href="https://www.instagram.com/yorelyotty/" rel="nofollow" target="_blank">Yorely</a>, and the two of us &ndash; brown people, decided to do a day trip to the Northernmost point of the <a href="{{ site.baseurl }}/search?q=olkhon+island" target="_blank">Olkhon Island</a>, also known as <strong>Cape Khoboi</strong>. Getting there involved procuring a seat on one of those solid <a href="https://www.flickr.com/search/?text=russian%20minivan" rel="nofollow" target="_blank">Russian minivans</a>, which would navigate us 40-odd kilometres up North, from the town centre at Khuzhir.</p>

    <p>Dirt roads, rolling hills and a nice long bumpy ride ensured that our bums got a bit sore. Communication, or may I say &#x201C;miscommunication&#x201D; was the highlight of this trip. Our driver was a local chap, who spoke only Russian. Along with him, we had a Russian couple (the ones in the camouflage gear). The other lady (seen smiling in the photo), was also a Russian lady, but we were not really sure about that. Lets call her Devushka, which means &#x2018;Girl/Lady&#x2019; in English.</p>

    <p>Between the four of us, communication was as follows &ndash; Ben, Priya &#x26; I were able to communicate with each other in fluent English. Yorely &#x26; Ben were able to speak to each other in rudimentary Spanish. Since Ben knew a bit of Yorely&#x2019;s mother tongue, he ended up becoming the only communication link between her and us. Yorely (a student in the Moscow University), who knew a little bit of Russian, was our communication link with the Russian folks. Priya &#x26; I also knew a handful of Russian words, but not that this knowledge made any difference. So here we are, the eight of us, bumping up and down in our van, cross communicating in our various tongues.</p>

    <p>We reach Cape Khoboi sometime just after 1:30 pm (local time), and our driver informs Yorely that we can hike around, but need to be back in &#x201C;two and half hours&#x201D;. He would have our meal, the much-anticipated <a href="https://en.wikipedia.org/wiki/Omul" target="_blank" rel="nofollow">Omul</a> Soup ready by then. So off we were, soaking in the fresh air and letting our jaws drop at the beautiful view of the <a href="https://happyfeet.us/russia/overlooking-baikal-lake" target="_blank">Baikal Lake</a> that engulfed us, with a couple of hours and a half to kill!</p>
  </div>
</section>

{% include image.html
  loc="https://cdn-images-1.medium.com/max/400/1*Xi9w-SGI3ClVqusuSgaYag.jpeg"
  alt="Ben, looking at the Baikal Lake, from Cape Khoboi."
  caption="Ben, looking at the Baikal Lake, from Cape Khoboi."
  imageratio="wide"
  datasrcset="https://cdn-images-1.medium.com/max/320/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 320w, https://cdn-images-1.medium.com/max/500/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 500w, https://cdn-images-1.medium.com/max/640/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 640w, https://cdn-images-1.medium.com/max/800/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 800w, https://cdn-images-1.medium.com/max/1024/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 1024w, https://cdn-images-1.medium.com/max/1600/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 1600w, https://cdn-images-1.medium.com/max/2048/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 2048w" %}

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>The day was spectacular. A clear blue sky, with crisp clouds floating around. There was a chill in the air, and a really strong breeze which could probably blow all the underweight folks right off the cliff.</p>

    {% include youtube.html id='YiVN87t98JQ' %}

    <p>And here we are taking a lazy stroll towards Northernmost point of the cape, walking like we had all the time in the world, discussing the narcotics and drug wars in Columbia (which Yorely insisted don&#x2019;t exist), taking breaks to eat a few bananas and other snacks, wondering why the other folks are sprinting their way to the top and back.</p>
  </div>
</section>

{% include image.html
  loc="https://cdn-images-1.medium.com/max/400/1*i-tTElAV4TRtYs-1XRlpSw.jpeg"
  alt="Yorely & Ben, relaxing at the cliff."
  caption="Yorely & Ben, relaxing at the cliff."
  imageratio="wide"
  datasrcset="https://cdn-images-1.medium.com/max/320/1*Xi9w-SGI3ClVqusuSgaYag.jpeg 320w, https://cdn-images-1.medium.com/max/500/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 500w, https://cdn-images-1.medium.com/max/640/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 640w, https://cdn-images-1.medium.com/max/800/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 800w, https://cdn-images-1.medium.com/max/1024/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 1024w, https://cdn-images-1.medium.com/max/1600/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 1600w, https://cdn-images-1.medium.com/max/2048/1*i-tTElAV4TRtYs-1XRlpSw.jpeg 2048w" %}

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>After around a couple of hours, we start heading back to our ride. By now, the four of us were the only souls hanging out at the cape. We took our own sweet time, stopping everywhere, appreciating the scale and beauty of this Russian landscape.</p>

    <p>As we trace our way back, we see Devushka walking towards us, with a sense of purpose. She reaches us and say, in English, &#x201C;Where have you guys been? Everyone is waiting for you. We thought something bad happened.&#x201D; We all were like, &#x201C;Wow, this woman speaks really good English. What is she all upset about?&#x201D;</p>

    <p>We picked up the pace and head back as quickly as we could. Once we reach our spot, the driver very animatedly points to his watch and goes on a tirade in Russian. Yorely starts conversing with him in Russian, Ben plays his &#x2018;I&#x2019;m just an Australian mate, I don&#x2019;t know what you are saying&#x2019; card. And we just smile and bob our heads, Indian-style.</p>

    <p>So here&#x2019;s what had happened. Prior to us starting our hike, the driver said, we need to be back by 2:30 pm. Yorely deciphered that as, &#x201C;You need to be back in two and half hours&#x201D;. The driver conveyed this to her by pointing to his wrist watch. Yorely thought we had two and half hours to roam around. Hence all the chaos.</p>

    <p>But we were back in one piece. And all the translations, from English to Spanish to Russian, back to English, some more Spanish, some English, a few curse words in Russian, some Australian slang, absolutely no Hindi, more English mixed with a little Russian and then some Spanish mixed with Russian, and a little more Russian, gave us all a good laugh.</p>

    <p>I don&#x2019;t know how Priya consumed the fish soup!</p>
  </div>
</section>