---
layout: post
comments: true
categories: thoughts
author: priya

title:  "Le Livre"
excerpt: My book is my time machine. It has the power to push away the ground beneath my feet, to let me stay fearlessly suspended in a place that has no past.

long_excerpt: My book is my time machine. It has the power to push away the ground beneath my feet to let me stay fearlessly suspended in a place that has no past, present or future. Where no space and time exist. A limbo that frees me of the world. I can go anywhere from here. When I want to be anywhere but here. My escape.
image: https://c2.staticflickr.com/8/7262/7433365644_cfb2063706_h.jpg

geo:
  geotag_region: Hyderabad, Telangana
  geotag_country: India
  geo_address: Hyderabad, Telangana, India
  geo_latitude: '17.414667'
  geo_longitude: '78.438427'
  geo_public: '1'

dsq_thread_id: '1592501691'
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    {% include image.html 
      loc="https://c2.staticflickr.com/8/7106/7433367306_c7b4b64bd6_h.jpg"
      caption="Le Livre" %}

    <p>My book is my time machine. It has the power to push away the ground beneath my feet to let me stay fearlessly suspended in a place that has no past, present or future. Where no space and time exist. A limbo that frees me of the world. I can go anywhere from here. When I want to be anywhere but here. My escape.</p>

    {% include image.html 
      loc="https://c2.staticflickr.com/8/7121/7433367070_72533e46cc_h.jpg"
      caption="Commencer" %}

    <p>My book is my temptress. She seductively stares me at in the eye with the promise of infinite possibilities draped over her alluring form. My gypsy queen. My crystal ball reader. She smells of nostalgia. Tastes of tears shed in secret. And feels like the familiar skin of my lover. She knows that I’ll always come back. And I do.</p>

    {% include image.html 
      loc="https://c1.staticflickr.com/9/8154/7433366682_b2ca0f2ded_h.jpg"
      caption="For a week, Farouq didn't call" %}

    <p>My book is an illusionist. From a point of nothingness, it brings alive an explosion of lives and colours and worlds. Fantasies appear and disappear in the blink of an eye. Beginnings turn into ends here. And ends into beginnings. The illusions don’t lie in cheap trickery. But in the alchemy of life. And the magic of stories.</p>

    {% include image.html 
      loc="https://c2.staticflickr.com/8/7127/7433366294_0a88191b01_h.jpg"
      caption="Only Goodness" %}

    <p>My book is my mask. Speaking words I’m afraid to speak and narrating tales I don’t know how to tell. My dreamcatcher. Taking the mad hues and wild thoughts from my head and making it real on a blank canvas. Black and white, yet colourful.</p>

    {% include image.html 
      loc="https://c1.staticflickr.com/9/8147/7433366870_f5e9592be0_h.jpg"
      caption="Fin" %}

    <p>My book has no endings. The almost invisible line between one story and another is now a smudged blur, a mish-mash of two different worlds. There is no last page. Everytime someone’s tears end, another’s laughter begins.</p>

    <p>I see you now… walking around the edge of my tale, caressing the beginning of my script with your curious eyes. You are enchanted with my fables of other worlds and the mystery of my blank pages.</p>

    <p>Is it time for your story to meet mine?</p>

    {% include image.html 
      loc="https://c2.staticflickr.com/8/7262/7433365644_cfb2063706_h.jpg"
      caption="À votre tour" %}
  </div>
</section>