---
layout: post
author: priya
categories: goa

title: The only moment we were alone
excerpt: The poetry of silence is in the magic of its escape.
long_excerpt: The sudden shutting out of the world’s chaos, madness, sorrow, joy, laughter, commotion, celebrations and everything else in between. A million screaming noises that constantly vie for your attention every living second, rendered powerless in a single moment. A bubble of nothingness, where life should have been.

image: https://farm9.staticflickr.com/8262/8680521203_2c453e302a_h.jpg

tags:
- Agonda
- Beach
- Dog
- Fun
- Goa
- Holiday
- Sand
- Shack
- Silence
- Solitude
- South Goa
- Sunset
- Vacation

geo:
  geotag_region: Agonda, Goa
  geotag_country: India
  geo_address: Agonda, Goa, India
  geo_latitude: '15.044078'
  geo_longitude: '73.985882'
  geo_public: '1'

dsq_thread_id: 1592529552
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    {% include image.html
       loc = 'https://farm9.staticflickr.com/8255/8680520829_631b51d117_h.jpg'
       alt = 'Hazy horizons' %}

    <p>The poetry of silence is in the magic of escape. The sudden shutting out of the world’s chaos, madness, sorrow, joy, laughter, commotion, celebrations and everything else in between. A million screaming noises that constantly vie for your attention every living second, rendered powerless in a single moment. A bubble of nothingness, where life should have been.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8387/8681630592_8523015956_h.jpg'
       alt = 'The three legged superhero' %}

    <p>The poetry of silence is in its ability to show. Your own world like you’ve never seen before. In all its glorious magnificence. When you separate the cacophony of the world from your being, you truly see. The lights, the beauty, the wonder and magic of it all. The mad merry-go-round, we call life.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8529/8681630712_146c0c359b_h.jpg'
       alt = 'And there were only footsteps' %}

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8536/8681630362_7ba42e59ab_h.jpg'
       alt = 'The light of the night' %}

    <p>The poetry of silence is in its comforting presence. Not a word said, not a sigh exchanged. It falls into the chasm between you and me like a warm summer shower. A hush that seeps through all the spaces that were rendered sterile by all the empty words and soundlessly resurrects them. A fuzzy blanket that envelopes the universe.</p>

    <p>The poetry of silence is in its nothingness. Silence isn’t happy nor is it sad. It’s not angry or questioning. It demands nothing from you and it promises nothing. Silence is a refreshing lack of all emotions. A tranquil vacuum in the anarchy of the mind and the heart. And in that, lies its intoxication.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8253/8680520573_3b58dbbf3d_h.jpg'
       alt = 'The fiery ghost' %}

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8530/8681630060_9bc4707a24_h.jpg'
       alt = 'John Peter Edward the IV' %}

    <p>The poetry of silence is in its solitude. That single moment when you look up at the stars on a silent night with nothing but the moon to bathe you in a mystical light, with nothing but the breeze whispering silent secrets in your ears. And a kind of stillness that seems to know the answers to all the questions of life. The kind of absolute motionlessness that brings with it a realisation that you are alive and you are beautiful. The silence that celebrates the unbearable lightness of your being.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8397/8680520347_cb12bee1aa_h.jpg'
       alt = 'The silent sentinel' %}

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8254/8681629862_0404958395_h.jpg'
       alt = 'Moonlighters' %}

    <p>The poetry of silence is in its companionship. For is it not true that it’s in the greatest of quietness, you find the truest of company. You can scream out to the world and the echoes that it brings back will have the voices of all the people, you have either willingly or reluctantly collected in your lifetime. And amidst all that, you can still feel alone. But one day, when you least expect it, when you finally stop fighting the need to fill the spaces in your life with the noise of the world, you will hear it. That silence inside you which you have always muffled with cacophony finally breaks free and starts coursing through your veins frantically. Like rain. Yearning to finally say what it never could.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8393/8681629614_a3fe76b570_h.jpg'
       alt = 'What then shall we choose &#8211; weight or lightness?' %}

    {% include image.html
       loc = '8681629662'
       alt = 'The invisible holidayer' %}

    <p>The poetry of the kind of silence that flows through every part of you breathlessly till it reaches a crescendo so loud that you can actually hear it. A silence so resounding that it pours into the tiny gaps and rifts inside of your being till you can hear nothing but silence. A silence so loud that you will never be alone again.</p>

    {% include image.html
       loc = 'https://farm9.staticflickr.com/8113/8680519949_98580727d8_h.jpg'
       alt = 'Siesta' %}
  </div>
</section>