---
layout: post
author: priya
categories: thoughts

title: Why travelling feels like falling in love.
excerpt: I believe that the act of travelling &mdash; the process of truly absorbing the world one road at a time &mdash; is a way to return to innocence.
long_excerpt: There&apos;s a certain emotion that my soul wells up with everytime I see a place I&apos;ve never seen before. And I&apos;m not just talking about stumbling upon some virgin waterfalls in the middle of nowhere or standing atop an awe-inspiring cliff that makes you feel like you are at the edge of the universe.

image:
  main: https://farm9.staticflickr.com/8283/7856009868_2b7ad2dad2_h.jpg
  datasrcset: 'https://farm9.staticflickr.com/8283/7856009868_e63ba89520_n.jpg 320w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520.jpg 500w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_z.jpg 640w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_c.jpg 800w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_b.jpg 1024w, https://farm9.staticflickr.com/8283/7856009868_2b7ad2dad2_h.jpg 1600w'

blockquote: There&apos;s a certain emotion that my soul wells up with everytime I see a place I&apos;ve never seen before. And I&apos;m not just talking about stumbling upon some virgin waterfalls in the middle of nowhere or standing atop an awe-inspiring cliff that makes you feel like you are at the edge of the universe. But about the joy of seeing newness in everyday places too. The feeling of being jostled around a chaotic market place you never stepped into earlier. Or suddenly noticing an old cafe with an ancient-looking man who looks like he has been there, doing the same thing, since the beginning of time.

tags:
- Fun
- HappyFeet
- Innocence
- Love
- Road
- Travel
- World

geo:
  geo_public: '1'
  geo_longitude: '73.78327'
  geotag_region: Parra, Goa 403519
  geotag_country: India
  geo_address: Parra, Goa 403519, India
  geo_latitude: '15.568348'
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>It&apos;s that sense of amazement that comes with discovering something your mind never lingered on. Something that goes beyond the confines of your air-conditioned, cubicles, cars and cribs. A feeling that is so real. Not coloured by the glaring, screaming lights that come out of your computer screen.</p>

    <p>If I had to describe this emotion, maybe I would place it — this very strong physical sensation — somewhere between unabashed wonder and the promise of a new experience, in the spectrum of life. Actually, to be more precise, it&apos;s a feeling akin to love.</p>

    <p>You know that absolutely crazy weak-kneed-breathless-giddy-headed-with-joy-and-maddened-with-bittersweet heartache-kind-of-a feeling that envelops your senses when love takes over your life? Well, I get that happy high when I&apos;m travelling.</p>

    {% include image.html
       loc="https://farm9.staticflickr.com/8262/8680521203_2c453e302a_h.jpg"
       alt="Agonda"
       datasrcset="https://farm9.staticflickr.com/8262/8680521203_84eb1341c4_n.jpg 320w, https://farm9.staticflickr.com/8262/8680521203_84eb1341c4.jpg 500w, https://farm9.staticflickr.com/8262/8680521203_84eb1341c4_z.jpg 640w, https://farm9.staticflickr.com/8262/8680521203_84eb1341c4_c.jpg 800w, https://farm9.staticflickr.com/8262/8680521203_84eb1341c4_b.jpg 1024w, https://farm9.staticflickr.com/8262/8680521203_2c453e302a_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm9.staticflickr.com/8381/8571583729_365871d127_h.jpg"
       alt="The Buddha at Hussain Sagar"
       datasrcset="https://farm9.staticflickr.com/8381/8571583729_365871d127_n.jpg 320w, https://farm9.staticflickr.com/8381/8571583729_365871d127.jpg 500w, https://farm9.staticflickr.com/8381/8571583729_365871d127_z.jpg 640w, https://farm9.staticflickr.com/8381/8571583729_365871d127_c.jpg 800w, https://farm9.staticflickr.com/8381/8571583729_365871d127_b.jpg 1024w, https://farm9.staticflickr.com/8381/8571583729_59dac1b530_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm7.staticflickr.com/6203/6038685931_9881d55e11_b.jpg"
       alt="Road Trip with the Pedditys"
       datasrcset="https://farm7.staticflickr.com/6203/6038685931_9881d55e11_n.jpg 320w, https://farm7.staticflickr.com/6203/6038685931_9881d55e11.jpg 500w, https://farm7.staticflickr.com/6203/6038685931_9881d55e11_z.jpg 640w, https://farm7.staticflickr.com/6203/6038685931_9881d55e11_b.jpg 1000w" %}

    {% include image.html
       loc="https://farm9.staticflickr.com/8305/7856010614_12efb2a1ae_h.jpg"
       alt="Gokarna Station"
       datasrcset="https://farm9.staticflickr.com/8305/7856010614_cdd1619639_n.jpg 320w, https://farm9.staticflickr.com/8305/7856010614_cdd1619639.jpg 500w, https://farm9.staticflickr.com/8305/7856010614_cdd1619639_z.jpg 640w, https://farm9.staticflickr.com/8305/7856010614_cdd1619639_c.jpg 800w, https://farm9.staticflickr.com/8305/7856010614_cdd1619639_b.jpg 1024w, https://farm9.staticflickr.com/8305/7856010614_12efb2a1ae_h.jpg 1600w" %}

    <p>Encountering a thing of beauty on any journey fills me with extreme joy and an intense sort of melancholy on knowing that it&apos;s here, but it&apos;s not mine to keep. It&apos;s not my destination, just a part of the journey and I have to be back on the road. And knowing that I will be gone, but that the thing of beauty will stay there — just like it always has — forever, leaving me with just a memory or maybe a photograph, is the most happy-sad feeling ever. It&apos;s the feeling of love lost. And found. And goodbyes. And I&apos;m sure anyone who has ever experienced extreme pangs of wanderlust will have a similar story to share.</p>

    {% include image.html
       loc="https://farm5.staticflickr.com/4010/4416813983_c7db9833bd_b.jpg"
       alt="We met a one eyed putty cat"
       datasrcset="https://farm5.staticflickr.com/4010/4416813983_c7db9833bd_n.jpg 320w, https://farm5.staticflickr.com/4010/4416813983_c7db9833bd.jpg 500w, https://farm5.staticflickr.com/4010/4416813983_c7db9833bd_z.jpg 640w, https://farm5.staticflickr.com/4010/4416813983_c7db9833bd_b.jpg 1024w" %}

    <p>That&apos;s the poetry of travelling. It takes you to a world (that has always been there, but you have failed to notice) where you can feel that emotion every single day. It displaces you from everything you know, all things familiar and all things mundane and sets you afloat like a driftwood on the rapids of the exciting unknown.</p>

    {% include image.html
       loc="https://farm7.staticflickr.com/6202/6127324949_b88f5daca9_b.jpg"
       alt="Valley of Flowers"
       datasrcset="https://farm7.staticflickr.com/6202/6127324949_b88f5daca9_n.jpg 320w, https://farm7.staticflickr.com/6202/6127324949_b88f5daca9.jpg 500w, https://farm7.staticflickr.com/6202/6127324949_b88f5daca9_z.jpg 640w, https://farm7.staticflickr.com/6202/6127324949_b88f5daca9_b.jpg 1000w" %}
    
    <p>But most importantly, I believe that the act of travelling — the process of truly absorbing the world one road at a time — is a way to return to innocence.</p>

    {% include image.html
       loc="https://farm9.staticflickr.com/8085/8553897791_d99d1d0b20_h.jpg"
       alt="Yaganti Temple (Kurnool)"
       caption="The Yaganti Temple, near Banaganapalli, requires a steep climb into ancient caves."
       datasrcset="https://farm9.staticflickr.com/8085/8553897791_60cc4fd79c_n.jpg 320w, https://farm9.staticflickr.com/8085/8553897791_60cc4fd79c.jpg 500w, https://farm9.staticflickr.com/8085/8553897791_60cc4fd79c_z.jpg 640w, https://farm9.staticflickr.com/8085/8553897791_60cc4fd79c_c.jpg 800w, https://farm9.staticflickr.com/8085/8553897791_60cc4fd79c_b.jpg 1024w, https://farm9.staticflickr.com/8085/8553897791_d99d1d0b20_h.jpg 1600w" %}

    <p>This thought had first occurred to me on a very quiet, chilly evening three autumns ago in a charming hamlet called Valdelavilla in Soria, Spain (were I was a teaching volunteer for a week-long spoken English programme for Spaniards). I had a free hour from the everyday schedule and I decide to spend it outdoors, listening to music, seated on a cosy chair amidst magnificently green hillside, enjoying the sharp nip in the air. All I could think about was how that very moment that I was relishing was wonderfully different from life back home. I felt like I was light years away from every experience I ever had. And while my heart was overwhelmed with an unbearable sense of love, well-being and joy at the fact that I was currently a speck in the universe, soaking in the beauty of some Spanish hillside — an experience made possible only by the magic of travel — I realised why this emotion is so exhilarating. </p>

    {% include image.html
       loc="https://farm7.staticflickr.com/6074/6127328053_d38c213f0a_b.jpg"
       alt="A Sunset Somewhere"
       datasrcset="https://farm7.staticflickr.com/6074/6127328053_d38c213f0a_n.jpg 320w, https://farm7.staticflickr.com/6074/6127328053_d38c213f0a.jpg 500w, https://farm7.staticflickr.com/6074/6127328053_d38c213f0a_z.jpg 640w, https://farm7.staticflickr.com/6074/6127328053_d38c213f0a_b.jpg 1000w" %}

    <p>Travelling allows you to become a child again. All-accepting. All-encompassing. Ever ready to learn, It lets you experience that extreme sense of wonder and amazement that you felt before only as a child when everything around you fascinated you endlessly. But then you grow up. And with every passing year, you feel the stripping away of the allure that the world offers. The starry-eyed surprise makes way for a weary sense of ennui. You become jaded, cynical and faithless. You don&apos;t believe anymore. Not in miracles. Nor magic. That bubble where your world was awe-inspiring and wonder-filled world bursts in your face.</p>

    {% include image.html
       loc="https://farm9.staticflickr.com/8283/7856009868_2b7ad2dad2_h.jpg"
       alt="Stroll on the beach"
       datasrcset="https://farm9.staticflickr.com/8283/7856009868_e63ba89520_n.jpg 320w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520.jpg 500w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_z.jpg 640w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_c.jpg 800w, https://farm9.staticflickr.com/8283/7856009868_e63ba89520_b.jpg 1024w, https://farm9.staticflickr.com/8283/7856009868_2b7ad2dad2_h.jpg 1600w" %}

    <p>But I believe that only travelling can bring you back to that state of childlike awe all over again. And unburst that bubble. When you are in a completely new place, where all the monotony and knowledge of your everyday patterns and life is futile and is taken away from you, you enter every situation, every moment and every second with a same sense of astonishment as a little baby would. Travelling is a sort of return to innocence. Everything you encounter is new. Everywhere you look is impressive. Every sight is breathtaking.</p>

    {% include image.html
       loc="https://farm8.staticflickr.com/7137/7706032072_828b820696_h.jpg"
       alt="That Place We Call Home"
       datasrcset="https://farm8.staticflickr.com/7137/7706032072_69486175cd_n.jpg 320w, https://farm8.staticflickr.com/7137/7706032072_69486175cd.jpg 500w, https://farm8.staticflickr.com/7137/7706032072_69486175cd_z.jpg 640w, https://farm8.staticflickr.com/7137/7706032072_69486175cd_c.jpg 800w, https://farm8.staticflickr.com/7137/7706032072_69486175cd_b.jpg 1024w, https://farm8.staticflickr.com/7137/7706032072_828b820696_h.jpg 1600w" %}

    {% include image.html
       loc="https://farm9.staticflickr.com/8300/7944350402_c9068b4a50_h.jpg"
       alt="Kudle Beach, Gokarna"
       datasrcset="https://farm9.staticflickr.com/8300/7944350402_6b4bc13899_n.jpg 320w, https://farm9.staticflickr.com/8300/7944350402_6b4bc13899.jpg 500w, https://farm9.staticflickr.com/8300/7944350402_6b4bc13899_z.jpg 640w, https://farm9.staticflickr.com/8300/7944350402_6b4bc13899_c.jpg 800w, https://farm9.staticflickr.com/8300/7944350402_6b4bc13899_b.jpg 1024w, https://farm9.staticflickr.com/8300/7944350402_c9068b4a50_h.jpg 1600w" %}

    <p>And isn&apos;t this feeling just like being in love?</p>

    {% include image.html
       loc="https://farm7.staticflickr.com/6076/6127327623_61a901f948_b.jpg"
       alt="Wing View"
       datasrcset="https://farm7.staticflickr.com/6076/6127327623_61a901f948_n.jpg 320w, https://farm7.staticflickr.com/6076/6127327623_61a901f948.jpg 500w, https://farm7.staticflickr.com/6076/6127327623_61a901f948_z.jpg 640w, https://farm7.staticflickr.com/6076/6127327623_61a901f948_b.jpg 1000w" %}
  </div>
</section>