---
layout: post
comments: true
author: lovell
categories: big-picture

title: Priya at Top Station
excerpt: In the morning we headed to Top Station, passing under, through and above clouds as we made our way there.

image: https://farm3.staticflickr.com/2810/11619194566_e6e574b3d1_o.jpg

tags:
- Clouds
- Kerala
- Priya
- Top Station
- Travel

geo:
  geotag_region: Bodi Hill North, Tamil Nadu
  geotag_country: India
  geo_address: Bodi Hill North, Tamil Nadu, India
  geo_latitude: '10.120186'
  geo_longitude: '77.244948'
  geo_public: '1'

dsq_thread_id: 2079371674
---

<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>Munnar was filthy. The town was just loaded with dust, tourists who kept littering and speakers blaring out noise, trying to keep all the gods from sleeping. We decided to stay in <a href="https://en.wikipedia.org/wiki/Devikulam" title="Devikulam on Wikipedia" target="_blank" rel="nofollow">Devikulam</a>, a small town some 8 kilometers away. The next morning we headed to <a href="https://en.wikipedia.org/wiki/Top_Station" title="Top Station on Wikipedia" target="_blank" rel="nofollow">Top Station</a>, passing under, through and above clouds as we made our way there.</p>
    <p>40 odd kilometers later we were there. Here are a few photos clicked during our ride.</p>

    {% include image.html
       loc = 'https://lh5.googleusercontent.com/-_4mQwioflVA/Upgwjmwu9fI/AAAAAAABgt8/ypNDB26LRiw/s1920/IMG_20131123_145724.jpg'
       alt = 'Trees and clouds'
       caption = 'Trees and clouds' %}
  </div>
  {% include image.html
     loc = 'https://lh5.googleusercontent.com/-Ru2xotVGbG8/UpgtsEpQ2NI/AAAAAAABgtg/Z73GPzpZWNw/s1920/IMG_20131123_144547.jpg'
     alt = 'Riding through the clouds'
     caption = 'Riding through the clouds' %}
  <div class="inner">
    {% include image.html
       loc = 'https://lh6.googleusercontent.com/-e_GMEdD70K4/Upgv3_Qu3FI/AAAAAAABgtw/3U8Q7XX5n1o/s1920/IMG_20131123_145529.jpg'
       alt = 'Horse in the clouds!'
       caption = 'Horse in the clouds!' %}
  </div>
</section>