---
layout: post
comments: true
author: lovell
categories: big-picture

title: Kitten in the sunlight
excerpt: We took a walk along the Fort Kochi jetty early one morning. This kitten sat quietly in the sunlight, not bothered by the scores of feet that passed by it.

image: https://farm8.staticflickr.com/7455/11704011045_c8f23cd939_h.jpg

tags:
- Cat
- Fort Kochi
- Jetty
- Kerala
- Kitten
- Kochi
- Sunlight

geo:
  geotag_region: Kochi, Kerala
  geotag_country: India
  geo_address: Kochi, Kerala, India
  geo_latitude: '9.968203'
  geo_longitude: '76.242113'
  geo_public: '1'

dsq_thread_id: 
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>We took a walk along the Fort Kochi jetty early one morning. On the way, we met a lot of stray animals. This little kitten sat quietly in the sunlight, not bothered by the scores of feet that passed by it.</p>

{% include image.html
   loc = "https://farm6.staticflickr.com/5498/11703990815_244472f8d6_h.jpg"
   alt = "Kitten in the sunlight"
   caption = "Little kitten unaffected by our presence." %}

{% include image.html
   loc = "https://farm8.staticflickr.com/7333/11703997545_7740f5085c_h.jpg"
   alt = "Kitten in the sunlight"
   caption = "Has a look at the stranger who stopped next to it." %}

{% include image.html
   loc = "https://farm8.staticflickr.com/7455/11704011045_c8f23cd939_h.jpg"
   alt = "Kitten in the sunlight"
   caption = "Does not bother, continues to enjoy the morning sun." %}

{% include image.html
   loc = "https://farm4.staticflickr.com/3697/11704362634_97889cab28_h.jpg"
   alt = "Kitten in the sunlight"
   caption = "Elder sibling cat (I assume), comes and joins the party." %}

{% include image.html
   loc = "https://farm4.staticflickr.com/3790/11704326564_1d096dce71_h.jpg"
   alt = "Priya and the kitten"
   caption = "Little kitten gets love forced on it." %} 

<p>And that's the story of the little kitten we met one morning.</p>
  </div>
</section>