---
layout: default
---

{% assign cat = page.category %}

<div class="post-sections">
{% for post in site.categories[cat] %}

{% if post.image.datasrcset %}
  {% assign src = post.image.main %}
  {% assign data_srcset = post.image.datasrcset %}
{% else %}
  {% assign src = post.image %}
  {% assign data_srcset = post.image %}
{% endif %}

<section class="spotlight style1 content-align-left image-position-center {% cycle 'orient-right', 'orient-left' %}">
  <div class="content">
    <h2>{{ post.title }}</h2>
    <p>{% if post.long_excerpt != null %}
         {{ post.long_excerpt }}
       {% else %}
         {{ post.excerpt }}</p>
       {% endif %}
    <ul class="actions vertical">
      <li><a href="{{ post.url }}" class="button">Read on</a></li>
    </ul>
  </div>
  <div class="image">
    <a href="{{ post.url }}">
      <img class="lazyload" alt="{{ post.title }}" title="{{ post.title }}"
           srcset="{{ site.preloadimage }}" data-sizes="auto"
           src="{{ src }}"
           data-srcset="{{ data_srcset }}" >
    </a>
  </div>
</section>
{% endfor %}
</div>