---
layout: default
---

{% assign cat = page.category %}

<div class="post-sections">
{% for post in site.categories[cat] %}
<section class="spotlight style1 content-align-left image-position-center {% cycle 'orient-right', 'orient-left' %}">
  <div class="content">
    <h2>{{ post.title }}</h2>
    <p>{% if post.long_excerpt != null %}
         {{ post.long_excerpt }}
       {% else %}
         {{ post.excerpt }}</p>
       {% endif %}
    <ul class="actions vertical">
      <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read on</a></li>
    </ul>
  </div>
  <div class="image">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <img data-src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}" class="lazyload">
    </a>
  </div>
</section>
{% endfor %}
</div>