---
layout: default
---
{% assign cat = page.categories limit:1 %}

{% assign words = cat | remove: '["' | remove: '"]' | split: '-' %}
{% capture catname %}
  {% for word in words %}{{ word | capitalize }} {% endfor %}
{% endcapture %}

{% assign author = page.author %}

{% if page.image.datasrcset %}
  {% assign src = page.image.main %}
  {% assign data_srcset = page.image.datasrcset %}
{% else %}
  {% assign src = page.image %}
  {% assign data_srcset = page.image %}
{% endif %}

<span class="image fit">
  <img class="lazyload" alt="{{ page.title }}" title="{{ page.title }}"
       srcset="{{ site.preloadimage }}" data-sizes="auto"
       src="{{ src }}"
       data-srcset="{{ data_srcset }}" >
</span>

<section class="wrapper style1 align-left">
  <div class="inner">
    <postmeta>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <i class="fa fa-clock-o"></i> {{ page.date | date: '%B %d, %Y' }}
      </time> <br>
      Posted in <category>
        <a href="/{{ cat }}/" title="Category">{{ catname }}</a>
      </category> by
      <author>
        <a href="/authors/#{{ author }}/" title="Author">{{ site[author].name }}</a>.
      </author>
    </postmeta>
    <h1>{{ page.title }}</h1>
    {% if page.blockquote %}<blockquote>{{ page.blockquote }}</blockquote>{% endif %}
  </div>
</section>

{% if page.blockquote %}
  <hr>
{% endif %}

{{ content }}

{% include social-links.html %}
{% if page.comments %}
  {% include comments.html %}
{% endif %}
{% include tags.html %}
{% include related-posts.html %}
{% include sitemap.html %}