---
layout: default
---

{% assign cat = page.categories limit:1 %}

<span class="image fit">
  <img src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
</span>

<section class="wrapper style1 align-left">
  <div class="inner">
    <postmeta>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <i class="fa fa-clock-o"></i> {{ page.date | date: '%B %d, %Y' }}
      </time> <br>
      Posted in <category>
        <a href="{{ site.baseurl }}/{{ cat }}/" title="Category">
          {{ cat }}</a>
      </category> by
      <author>
        <a href="{{ site.baseurl }}/author/{{ author }}/" title="Author">
          {{ site[author].name }}</a>.
      </author>
    </postmeta>
    <h1>{{ page.title }}</h1>
    {% if page.blockquote %}
      <blockquote>{{ page.blockquote }}</blockquote>
    {% endif %}
  </div>
</section>

{% if page.blockquote %}
  <hr>
{% endif %}

{{ content }}

{% include social-links.html %}
{% include comments.html %}
{% include tags.html %}
{% include related-posts.html %}
{% include sitemap.html %}