---
layout: post
author: priya
categories: west-bengal

title: Durga Pujo at 200/3B &mdash; Bringing the idol from Kumortuli
excerpt: We got an intimate look into the Durga Pujo celebrated in
    a 100+ year-old home, bang in the heart of Gariahat, a booming bazaar in South
    Calcutta.
long_excerpt: During the 10-day Durga Pujo, the chaos and colours of Calcutta animate to
  life to become this colossal pulsating being that is buzzing powerfully and constantly
  to the rhythm of the festivities. The Durga pandals across neighbourhoods are larger
  than life, dazzlingly brilliant, delightfully bizarre and flamboyant. It’s all great
  fun, of course. But we were fortunate enough to experience the actual essence of
  the festival by being part of a Durga Pujo in a home in Calcutta.

image:
  main: https://farm6.staticflickr.com/5597/15253673077_a6b77d1c37_h.jpg
  datasrcset: 'https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_n.jpg 320w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695.jpg 500w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_z.jpg 640w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_c.jpg 800w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_b.jpg 1024w, https://farm6.staticflickr.com/5597/15253673077_a6b77d1c37_h.jpg 1600w'


blockquote: The imagery of the carnival spirit of the Durga Pujo celebrations in Calcutta which was painted by every Bengali friend’s repertoire of stories had always remained just that for me — stories. Stories of colour, chaos, beauty, spirituality, camaraderie and food. Delicious tales that embody the spirit of this mad, wonderful city. But the stories finally came to life for me in the most intense way possible this year, when Lovell and I decided to book our train tickets to Calcutta two months in advance so that we could witness the Durga Pujo fervour with some of our closest and craziest friends who gave us the most intimate look into the heart of the Pujo and the celebratory joy that surrounds it.

tags:
- 2014
- Artisan
- Calcutta
- Durga Puja
- Durga Pujo
- Dusshera
- Festival
- Gariahat
- God
- Idol
- India
- Kolkatta
- Kumortuli
- Pujo 2014
- Sculptors
- West Bengal 
---
<section class="wrapper wrapper-inner style1 align-left">
  <div class="inner">
    <p>We realised the stories pale in comparison to the real deal. No form of expression or storytelling does justice to the intense experiences we had over the span of our stay here. Words pale in comparison, pictures hardly capture the hysteria that envelops the city and its people during this time. But we will still attempt to tell our story. For what Calcutta has offered us today will turn into the most intense nostalgia tomorrow. And we want to chronicle this experience the best way we can.</p>

    <p>During the 10-day Durga Pujo, the chaos and colours of Calcutta animate to life to become this colossal pulsating being that is buzzing powerfully and constantly to the rhythm of the festivities. The Durga pandals across neighbourhoods are larger than life, dazzlingly brilliant, delightfully bizarre and flamboyant. It’s all great fun, of course. But we were fortunate enough to experience the actual essence of the festival by being part of a Durga Pujo inside a home in Calcutta. Not just any home, but the ancestral home of my precious <a href="https://www.lovelldsouza.com/people/madhurima-and-rahul/" title="Madhurima and Rahul" target="_blank">Mad Chatter</a>, whose insane, noisy and an immensely affectionate family welcomed us warmly into their home like we are one of their own. We got an upclose and personal look into how this large family celebrates the Pujo in their 100+ year-old home, bang in the heart of Gariahat, a booming bazaar area in South Calcutta.</p>

    <p>It was Chaturthi (the fourth day of the 10-day Dussehra celebrations) when the family packed a whole bunch of us on a tempo and head on a trip to Kumortuli in North Calcutta to fetch their Durga Maa who would preside over the frenzy that would ensue over the next one week in their household. ‘Kumor’ literally translates into ‘potter’, making this place the ‘The Potter’s Lane’. The artisans from this village have been shaping the Durga idols from mud and clay for the whole of Calcutta for centuries now. In fact, Kumortuli has over the years become a hot destination for photowalks or for anyone who is looking to capture the flavour of the Pujo. And when it’s not Durga Pujo, the God-makers of Kumortoli are creating everything from idols for different festivities to even bizarre zoo zoo sculptures! Such is their life. And here are some snapshots of our early morning journey into this fascinating place.</p>

    <div class="row">
      <div class="col-md-6">
       {% include image.html
          loc="https://farm3.staticflickr.com/2946/15253459699_8875beaee0_h.jpg"
          alt="Departing at the break of dawn"
          datasrcset="https://farm3.staticflickr.com/2946/15253459699_49007695b8.jpg 333w, https://farm3.staticflickr.com/2946/15253459699_49007695b8_z.jpg 427w, https://farm3.staticflickr.com/2946/15253459699_49007695b8_c.jpg 534w, https://farm3.staticflickr.com/2946/15253459699_49007695b8_b.jpg 683w, https://farm3.staticflickr.com/2946/15253459699_8875beaee0_h.jpg 1067w" %}
      </div>
      <div class="col-md-6">
       {% include image.html
          loc="https://farm3.staticflickr.com/2941/15417153656_8ad733aae2_h.jpg"
          alt="Lokkhi mashi patiently enjoys the ride"
          datasrcset="https://farm3.staticflickr.com/2941/15417153656_37a3e2db23_n.jpg 320w, https://farm3.staticflickr.com/2941/15417153656_37a3e2db23.jpg 500w, https://farm3.staticflickr.com/2941/15417153656_37a3e2db23_z.jpg 640w, https://farm3.staticflickr.com/2941/15417153656_37a3e2db23_c.jpg 800w, https://farm3.staticflickr.com/2941/15417153656_37a3e2db23_b.jpg 1024w, https://farm3.staticflickr.com/2941/15417153656_8ad733aae2_h.jpg 1600w" %}

       {% include image.html
          loc="https://farm3.staticflickr.com/2948/15253524420_a41abf5577_h.jpg"
          alt="Tinni and Tua bask in the morning light"
          datasrcset="https://farm3.staticflickr.com/2948/15253524420_b34250c420_n.jpg 320w, https://farm3.staticflickr.com/2948/15253524420_b34250c420.jpg 500w, https://farm3.staticflickr.com/2948/15253524420_b34250c420_z.jpg 640w, https://farm3.staticflickr.com/2948/15253524420_b34250c420_c.jpg 800w, https://farm3.staticflickr.com/2948/15253524420_b34250c420_b.jpg 1024w, https://farm3.staticflickr.com/2948/15253524420_a41abf5577_h.jpg 1600w" %}
      </div>
    </div>

   {% include image.html
      loc="https://farm3.staticflickr.com/2950/15440239745_9c58d18a43_h.jpg"
      alt="Breaking News"
      datasrcset="https://farm3.staticflickr.com/2950/15440239745_0467b7b07f_n.jpg 320w, https://farm3.staticflickr.com/2950/15440239745_0467b7b07f.jpg 500w, https://farm3.staticflickr.com/2950/15440239745_0467b7b07f_z.jpg 640w, https://farm3.staticflickr.com/2950/15440239745_0467b7b07f_c.jpg 800w, https://farm3.staticflickr.com/2950/15440239745_0467b7b07f_b.jpg 1024w, https://farm3.staticflickr.com/2950/15440239745_9c58d18a43_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm6.staticflickr.com/5600/15417156616_173bd27095_h.jpg"
      alt="Rohini amazed at the morning sights"
      datasrcset="https://farm6.staticflickr.com/5600/15417156616_bc8a218d3c_n.jpg 320w, https://farm6.staticflickr.com/5600/15417156616_bc8a218d3c.jpg 500w, https://farm6.staticflickr.com/5600/15417156616_bc8a218d3c_z.jpg 640w, https://farm6.staticflickr.com/5600/15417156616_bc8a218d3c_c.jpg 800w, https://farm6.staticflickr.com/5600/15417156616_bc8a218d3c_b.jpg 1024w, https://farm6.staticflickr.com/5600/15417156616_173bd27095_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2941/15437038141_ba9ec97da2_h.jpg"
      alt="Yellow Taxi"
      datasrcset="https://farm3.staticflickr.com/2941/15437038141_b192999384_n.jpg 320w, https://farm3.staticflickr.com/2941/15437038141_b192999384.jpg 500w, https://farm3.staticflickr.com/2941/15437038141_b192999384_z.jpg 640w, https://farm3.staticflickr.com/2941/15437038141_b192999384_c.jpg 800w, https://farm3.staticflickr.com/2941/15437038141_b192999384_b.jpg 1024w, https://farm3.staticflickr.com/2941/15437038141_ba9ec97da2_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3928/15253528460_9f141f1eff_h.jpg"
      alt="The haat (bazaar) on Chittaranjan Avenue"
      datasrcset="https://farm4.staticflickr.com/3928/15253528460_0b922b1820_n.jpg 320w, https://farm4.staticflickr.com/3928/15253528460_0b922b1820.jpg 500w, https://farm4.staticflickr.com/3928/15253528460_0b922b1820_z.jpg 640w, https://farm4.staticflickr.com/3928/15253528460_0b922b1820_c.jpg 800w, https://farm4.staticflickr.com/3928/15253528460_0b922b1820_b.jpg 1024w, https://farm4.staticflickr.com/3928/15253528460_9f141f1eff_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3929/15253529570_9be343c735_h.jpg"
      alt="Yellow Taxi at the junction"
      datasrcset="https://farm4.staticflickr.com/3929/15253529570_0a7de61be9_n.jpg 320w, https://farm4.staticflickr.com/3929/15253529570_0a7de61be9.jpg 500w, https://farm4.staticflickr.com/3929/15253529570_0a7de61be9_z.jpg 640w, https://farm4.staticflickr.com/3929/15253529570_0a7de61be9_c.jpg 800w, https://farm4.staticflickr.com/3929/15253529570_0a7de61be9_b.jpg 1024w, https://farm4.staticflickr.com/3929/15253529570_9be343c735_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3936/15417160116_bc1e6bb2bb_h.jpg"
      alt="The Chatterjee clan walk into an alley in Kumortuli"
      datasrcset="https://farm4.staticflickr.com/3936/15417160116_e2273f7d6b_n.jpg 320w, https://farm4.staticflickr.com/3936/15417160116_e2273f7d6b.jpg 500w, https://farm4.staticflickr.com/3936/15417160116_e2273f7d6b_z.jpg 640w, https://farm4.staticflickr.com/3936/15417160116_e2273f7d6b_c.jpg 800w, https://farm4.staticflickr.com/3936/15417160116_e2273f7d6b_b.jpg 1024w, https://farm4.staticflickr.com/3936/15417160116_bc1e6bb2bb_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm6.staticflickr.com/5597/15253673077_a6b77d1c37_h.jpg"
      alt="Madhurima and Rahul inspect the unfinished idols"
      datasrcset="https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_n.jpg 320w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695.jpg 500w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_z.jpg 640w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_c.jpg 800w, https://farm6.staticflickr.com/5597/15253673077_cb2cf07695_b.jpg 1024w, https://farm6.staticflickr.com/5597/15253673077_a6b77d1c37_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3929/15253674287_a3e7f2f1c0_h.jpg"
      alt="Maa Durga"
      datasrcset="https://farm4.staticflickr.com/3929/15253674287_d29ce432ea_n.jpg 320w, https://farm4.staticflickr.com/3929/15253674287_d29ce432ea.jpg 500w, https://farm4.staticflickr.com/3929/15253674287_d29ce432ea_z.jpg 640w, https://farm4.staticflickr.com/3929/15253674287_d29ce432ea_c.jpg 800w, https://farm4.staticflickr.com/3929/15253674287_d29ce432ea_b.jpg 1024w, https://farm4.staticflickr.com/3929/15253674287_a3e7f2f1c0_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3936/15253634618_429e403fba_h.jpg"
      alt="Karthikeya pouts for the camera"
      datasrcset="https://farm4.staticflickr.com/3936/15253634618_9f7418f306_n.jpg 320w, https://farm4.staticflickr.com/3936/15253634618_9f7418f306.jpg 500w, https://farm4.staticflickr.com/3936/15253634618_9f7418f306_z.jpg 640w, https://farm4.staticflickr.com/3936/15253634618_9f7418f306_c.jpg 800w, https://farm4.staticflickr.com/3936/15253634618_9f7418f306_b.jpg 1024w, https://farm4.staticflickr.com/3936/15253634618_429e403fba_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2947/15439896452_d1ea24e8bc_h.jpg"
      alt="Friends and family share a joke in the presence of Maa Durga"
      datasrcset="https://farm3.staticflickr.com/2947/15439896452_47618bf150_n.jpg 320w, https://farm3.staticflickr.com/2947/15439896452_47618bf150.jpg 500w, https://farm3.staticflickr.com/2947/15439896452_47618bf150_z.jpg 640w, https://farm3.staticflickr.com/2947/15439896452_47618bf150_c.jpg 800w, https://farm3.staticflickr.com/2947/15439896452_47618bf150_b.jpg 1024w, https://farm3.staticflickr.com/2947/15439896452_d1ea24e8bc_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm6.staticflickr.com/5600/15253472269_0f645160fc_h.jpg"
      alt="Postmodern Maa Durga"
      datasrcset="https://farm6.staticflickr.com/5600/15253472269_1a9d0192a1_n.jpg 320w, https://farm6.staticflickr.com/5600/15253472269_1a9d0192a1.jpg 500w, https://farm6.staticflickr.com/5600/15253472269_1a9d0192a1_z.jpg 640w, https://farm6.staticflickr.com/5600/15253472269_1a9d0192a1_c.jpg 800w, https://farm6.staticflickr.com/5600/15253472269_1a9d0192a1_b.jpg 1024w, https://farm6.staticflickr.com/5600/15253472269_0f645160fc_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3927/15253678057_6eb13f3452_h.jpg"
      alt="Idol makers sip on chai, smoke some beedis and discuss the local news"
      datasrcset="https://farm4.staticflickr.com/3927/15253678057_5e8dcc1a3c_n.jpg 320w, https://farm4.staticflickr.com/3927/15253678057_5e8dcc1a3c.jpg 500w, https://farm4.staticflickr.com/3927/15253678057_5e8dcc1a3c_z.jpg 640w, https://farm4.staticflickr.com/3927/15253678057_5e8dcc1a3c_c.jpg 800w, https://farm4.staticflickr.com/3927/15253678057_5e8dcc1a3c_b.jpg 1024w, https://farm4.staticflickr.com/3927/15253678057_6eb13f3452_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2941/15253638068_c63b7aa034_h.jpg"
      alt="Puppies prance around"
      datasrcset="https://farm3.staticflickr.com/2941/15253638068_405892fba1_n.jpg 320w, https://farm3.staticflickr.com/2941/15253638068_405892fba1.jpg 500w, https://farm3.staticflickr.com/2941/15253638068_405892fba1_z.jpg 640w, https://farm3.staticflickr.com/2941/15253638068_405892fba1_c.jpg 800w, https://farm3.staticflickr.com/2941/15253638068_405892fba1_b.jpg 1024w, https://farm3.staticflickr.com/2941/15253638068_c63b7aa034_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3927/15253473609_b1fc66b3a9_h.jpg"
      alt="Poser dog and her malnourshed pup"
      datasrcset="https://farm4.staticflickr.com/3927/15253473609_18902e4c19_n.jpg 320w, https://farm4.staticflickr.com/3927/15253473609_18902e4c19.jpg 500w, https://farm4.staticflickr.com/3927/15253473609_18902e4c19_z.jpg 640w, https://farm4.staticflickr.com/3927/15253473609_18902e4c19_c.jpg 800w, https://farm4.staticflickr.com/3927/15253473609_18902e4c19_b.jpg 1024w, https://farm4.staticflickr.com/3927/15253473609_b1fc66b3a9_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2941/15253474399_c8b16a2194_h.jpg"
      alt="Porters get a grip"
      datasrcset="https://farm3.staticflickr.com/2941/15253474399_ba95c20dc6_n.jpg 320w, https://farm3.staticflickr.com/2941/15253474399_ba95c20dc6.jpg 500w, https://farm3.staticflickr.com/2941/15253474399_ba95c20dc6_z.jpg 640w, https://farm3.staticflickr.com/2941/15253474399_ba95c20dc6_c.jpg 800w, https://farm3.staticflickr.com/2941/15253474399_ba95c20dc6_b.jpg 1024w, https://farm3.staticflickr.com/2941/15253474399_c8b16a2194_h.jpg 1600w" %}

    <div class="row">
      <div class="col-md-6">
       {% include image.html
          loc="https://farm6.staticflickr.com/5601/15440252665_8c7e9b6e5e_h.jpg"
          alt="Local artisans strike a pose"
          datasrcset="https://farm6.staticflickr.com/5601/15440252665_f40b9688e1_z.jpg 365w, https://farm6.staticflickr.com/5601/15440252665_f40b9688e1_c.jpg 456w, https://farm6.staticflickr.com/5601/15440252665_f40b9688e1_b.jpg 584w, https://farm6.staticflickr.com/5601/15440252665_8c7e9b6e5e_h.jpg 912w" %}
      </div>
      <div class="col-md-6">
       {% include image.html
          loc="https://farm4.staticflickr.com/3929/15253477739_69e52b6236_h.jpg"
          alt="A lady washes a her clothes in the alley"
          datasrcset="https://farm4.staticflickr.com/3929/15253477739_272024ac52_z.jpg 365w, https://farm4.staticflickr.com/3929/15253477739_272024ac52_c.jpg 456w, https://farm4.staticflickr.com/3929/15253477739_272024ac52_b.jpg 584w, https://farm4.staticflickr.com/3929/15253477739_69e52b6236_h.jpg 912w" %}
      </div>
    </div>

   {% include image.html
      loc="https://farm4.staticflickr.com/3932/15253475089_4250abb214_h.jpg"
      alt="Masks"
      datasrcset="https://farm4.staticflickr.com/3932/15253475089_10bb3d5ca8_n.jpg 320w, https://farm4.staticflickr.com/3932/15253475089_10bb3d5ca8.jpg 500w, https://farm4.staticflickr.com/3932/15253475089_10bb3d5ca8_z.jpg 640w, https://farm4.staticflickr.com/3932/15253475089_10bb3d5ca8_c.jpg 800w, https://farm4.staticflickr.com/3932/15253475089_10bb3d5ca8_b.jpg 1024w, https://farm4.staticflickr.com/3932/15253475089_4250abb214_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2948/15439900532_c18896542d_h.jpg"
      alt="Unfinised works of art"
      datasrcset="https://farm3.staticflickr.com/2948/15439900532_90146c453b_n.jpg 320w, https://farm3.staticflickr.com/2948/15439900532_90146c453b.jpg 500w, https://farm3.staticflickr.com/2948/15439900532_90146c453b_z.jpg 640w, https://farm3.staticflickr.com/2948/15439900532_90146c453b_c.jpg 800w, https://farm3.staticflickr.com/2948/15439900532_90146c453b_b.jpg 1024w, https://farm3.staticflickr.com/2948/15439900532_c18896542d_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm6.staticflickr.com/5598/15253681617_01dad0dd0b_h.jpg"
      alt="Raise your hands for Maa Durga"
      datasrcset="https://farm6.staticflickr.com/5598/15253681617_6c77050356_n.jpg 320w, https://farm6.staticflickr.com/5598/15253681617_6c77050356.jpg 500w, https://farm6.staticflickr.com/5598/15253681617_6c77050356_z.jpg 640w, https://farm6.staticflickr.com/5598/15253681617_6c77050356_c.jpg 800w, https://farm6.staticflickr.com/5598/15253681617_6c77050356_b.jpg 1024w, https://farm6.staticflickr.com/5598/15253681617_01dad0dd0b_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2947/15253540310_cdc0505c93_h.jpg"
      alt="Baba Loknath relaxes on a rooftop"
      datasrcset="https://farm3.staticflickr.com/2947/15253540310_e30cf09268_n.jpg 320w, https://farm3.staticflickr.com/2947/15253540310_e30cf09268.jpg 500w, https://farm3.staticflickr.com/2947/15253540310_e30cf09268_z.jpg 640w, https://farm3.staticflickr.com/2947/15253540310_e30cf09268_c.jpg 800w, https://farm3.staticflickr.com/2947/15253540310_e30cf09268_b.jpg 1024w, https://farm3.staticflickr.com/2947/15253540310_cdc0505c93_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3934/15437051971_067bdc1e41_h.jpg"
      alt="Rahul frowns on an old man walking"
      datasrcset="https://farm4.staticflickr.com/3934/15437051971_d08b7b8405_n.jpg 320w, https://farm4.staticflickr.com/3934/15437051971_d08b7b8405.jpg 500w, https://farm4.staticflickr.com/3934/15437051971_d08b7b8405_z.jpg 640w, https://farm4.staticflickr.com/3934/15437051971_d08b7b8405_c.jpg 800w, https://farm4.staticflickr.com/3934/15437051971_d08b7b8405_b.jpg 1024w, https://farm4.staticflickr.com/3934/15437051971_067bdc1e41_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2942/15417172486_edc8197c70_h.jpg"
      alt="An open door"
      datasrcset="https://farm3.staticflickr.com/2942/15417172486_c98ff8fc35.jpg 333w, https://farm3.staticflickr.com/2942/15417172486_c98ff8fc35_z.jpg 427w, https://farm3.staticflickr.com/2942/15417172486_c98ff8fc35_c.jpg 534w, https://farm3.staticflickr.com/2942/15417172486_c98ff8fc35_b.jpg 683w, https://farm3.staticflickr.com/2942/15417172486_edc8197c70_h.jpg 1067w" %}

    <div class="row">
      <div class="col-md-6">
       {% include image.html
          loc="https://farm3.staticflickr.com/2947/15437054491_d7ea82f207_h.jpg"
          alt="Priya walks through the alleys of Kumortuli"
          datasrcset="https://farm3.staticflickr.com/2947/15437054491_a40834c441.jpg 333w, https://farm3.staticflickr.com/2947/15437054491_a40834c441_z.jpg 427w, https://farm3.staticflickr.com/2947/15437054491_a40834c441_c.jpg 534w, https://farm3.staticflickr.com/2947/15437054491_a40834c441_b.jpg 683w, https://farm3.staticflickr.com/2947/15437054491_d7ea82f207_h.jpg 1067w" %}
      </div>
      <div class="col-md-6">
       {% include image.html
          loc="https://farm4.staticflickr.com/3929/15417173136_665cd201f4_h.jpg"
          alt="Stutues in the sun"
          datasrcset="https://farm4.staticflickr.com/3929/15417173136_cedf710b2e.jpg 333w, https://farm4.staticflickr.com/3929/15417173136_cedf710b2e_z.jpg 427w, https://farm4.staticflickr.com/3929/15417173136_cedf710b2e_c.jpg 534w, https://farm4.staticflickr.com/3929/15417173136_cedf710b2e_b.jpg 683w, https://farm4.staticflickr.com/3929/15417173136_665cd201f4_h.jpg 1067w" %}
      </div>
    </div>

   {% include image.html
      loc="https://farm3.staticflickr.com/2949/15253646258_77c3824d4c_h.jpg"
      alt="Superhero Zoo zoo"
      datasrcset="https://farm3.staticflickr.com/2949/15253646258_8a0a24c25e_z.jpg 365w, https://farm3.staticflickr.com/2949/15253646258_8a0a24c25e_c.jpg 456w, https://farm3.staticflickr.com/2949/15253646258_8a0a24c25e_b.jpg 584w, https://farm3.staticflickr.com/2949/15253646258_77c3824d4c_h.jpg 912w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2944/15253686317_fec4ba8494_h.jpg"
      alt="Unfinised idols look at Priya menacingly"
      datasrcset="https://farm3.staticflickr.com/2944/15253686317_957aebef21_n.jpg 320w, https://farm3.staticflickr.com/2944/15253686317_957aebef21.jpg 500w, https://farm3.staticflickr.com/2944/15253686317_957aebef21_z.jpg 640w, https://farm3.staticflickr.com/2944/15253686317_957aebef21_c.jpg 800w, https://farm3.staticflickr.com/2944/15253686317_957aebef21_b.jpg 1024w, https://farm3.staticflickr.com/2944/15253686317_fec4ba8494_h.jpg 1600w" %}

    {% include image.html
      loc="https://farm4.staticflickr.com/3936/15437056471_e1e27acf81_h.jpg"
      alt="A sun-kissed street at Kumortuli"
      datasrcset="https://farm4.staticflickr.com/3936/15437056471_b90106a056_n.jpg 320w, https://farm4.staticflickr.com/3936/15437056471_b90106a056.jpg 500w, https://farm4.staticflickr.com/3936/15437056471_b90106a056_z.jpg 640w, https://farm4.staticflickr.com/3936/15437056471_b90106a056_c.jpg 800w, https://farm4.staticflickr.com/3936/15437056471_b90106a056_b.jpg 1024w, https://farm4.staticflickr.com/3936/15437056471_e1e27acf81_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm3.staticflickr.com/2949/15437056961_1f1c57cc85_h.jpg"
      alt="Durga Maa begins her journey to Gariahat"
      datasrcset="https://farm3.staticflickr.com/2949/15437056961_e87a55d3cc_n.jpg 320w, https://farm3.staticflickr.com/2949/15437056961_e87a55d3cc.jpg 500w, https://farm3.staticflickr.com/2949/15437056961_e87a55d3cc_z.jpg 640w, https://farm3.staticflickr.com/2949/15437056961_e87a55d3cc_c.jpg 800w, https://farm3.staticflickr.com/2949/15437056961_e87a55d3cc_b.jpg 1024w, https://farm3.staticflickr.com/2949/15437056961_1f1c57cc85_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3929/15253688977_6218406edf_h.jpg"
      alt="Saraswati's dark secret"
      datasrcset="https://farm4.staticflickr.com/3929/15253688977_e83a8cd795_n.jpg 320w, https://farm4.staticflickr.com/3929/15253688977_e83a8cd795.jpg 500w, https://farm4.staticflickr.com/3929/15253688977_e83a8cd795_z.jpg 640w, https://farm4.staticflickr.com/3929/15253688977_e83a8cd795_c.jpg 800w, https://farm4.staticflickr.com/3929/15253688977_e83a8cd795_b.jpg 1024w, https://farm4.staticflickr.com/3929/15253688977_6218406edf_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3933/15253649148_8da95628b0_h.jpg"
      alt="Up close and personal with Durga Maa"
      datasrcset="https://farm4.staticflickr.com/3933/15253649148_31eab6452f_n.jpg 320w, https://farm4.staticflickr.com/3933/15253649148_31eab6452f.jpg 500w, https://farm4.staticflickr.com/3933/15253649148_31eab6452f_z.jpg 640w, https://farm4.staticflickr.com/3933/15253649148_31eab6452f_c.jpg 800w, https://farm4.staticflickr.com/3933/15253649148_31eab6452f_b.jpg 1024w, https://farm4.staticflickr.com/3933/15253649148_8da95628b0_h.jpg 1600w" %}

    <div class="row">
      <div class="col-md-6">
       {% include image.html
          loc="https://farm6.staticflickr.com/5598/15439909802_ad90ac1523_h.jpg"
          alt="Durga Maa takes the stage"
          datasrcset="https://farm6.staticflickr.com/5598/15439909802_b3dd3f2cd3.jpg 333w, https://farm6.staticflickr.com/5598/15439909802_b3dd3f2cd3_z.jpg 427w, https://farm6.staticflickr.com/5598/15439909802_b3dd3f2cd3_c.jpg 534w, https://farm6.staticflickr.com/5598/15439909802_b3dd3f2cd3_b.jpg 683w, https://farm6.staticflickr.com/5598/15439909802_ad90ac1523_h.jpg 1067w" %}
      </div>
      <div class="col-md-6">
       {% include image.html
          loc="https://farm4.staticflickr.com/3930/15253548530_ffb0ff2509_h.jpg"
          alt="Decoration of the home commences"
          caption="Decoration of the home commences"
          datasrcset="https://farm4.staticflickr.com/3930/15253548530_f39f6cfc0f_n.jpg 320w, https://farm4.staticflickr.com/3930/15253548530_f39f6cfc0f.jpg 500w, https://farm4.staticflickr.com/3930/15253548530_f39f6cfc0f_z.jpg 640w, https://farm4.staticflickr.com/3930/15253548530_f39f6cfc0f_c.jpg 800w, https://farm4.staticflickr.com/3930/15253548530_f39f6cfc0f_b.jpg 1024w, https://farm4.staticflickr.com/3930/15253548530_ffb0ff2509_h.jpg 1600w" %}

       {% include image.html
          loc="https://farm4.staticflickr.com/3927/15253651188_ed12137005_h.jpg"
          alt="Rohini uses her attack eyebrows"
          datasrcset="https://farm4.staticflickr.com/3927/15253651188_aa0160efbd_n.jpg 320w, https://farm4.staticflickr.com/3927/15253651188_aa0160efbd.jpg 500w, https://farm4.staticflickr.com/3927/15253651188_aa0160efbd_z.jpg 640w, https://farm4.staticflickr.com/3927/15253651188_aa0160efbd_c.jpg 800w, https://farm4.staticflickr.com/3927/15253651188_aa0160efbd_b.jpg 1024w, https://farm4.staticflickr.com/3927/15253651188_ed12137005_h.jpg 1600w" %}
      </div>
    </div>

   {% include image.html
      loc="https://farm3.staticflickr.com/2947/15253485969_4dcd496055_h.jpg"
      alt="Lovell helps with the decoration"
      datasrcset="https://farm3.staticflickr.com/2947/15253485969_1b0c0f89e8_n.jpg 320w, https://farm3.staticflickr.com/2947/15253485969_1b0c0f89e8.jpg 500w, https://farm3.staticflickr.com/2947/15253485969_1b0c0f89e8_z.jpg 640w, https://farm3.staticflickr.com/2947/15253485969_1b0c0f89e8_c.jpg 800w, https://farm3.staticflickr.com/2947/15253485969_1b0c0f89e8_b.jpg 1024w, https://farm3.staticflickr.com/2947/15253485969_4dcd496055_h.jpg 1600w" %}

   {% include image.html
      loc="https://farm4.staticflickr.com/3935/15440265645_e2f8ae7b4c_h.jpg"
      alt="An aunt watches over the proceedings"
      datasrcset="https://farm4.staticflickr.com/3935/15440265645_caca81cd82_n.jpg 320w, https://farm4.staticflickr.com/3935/15440265645_caca81cd82.jpg 500w, https://farm4.staticflickr.com/3935/15440265645_caca81cd82_z.jpg 640w, https://farm4.staticflickr.com/3935/15440265645_caca81cd82_c.jpg 800w, https://farm4.staticflickr.com/3935/15440265645_caca81cd82_b.jpg 1024w, https://farm4.staticflickr.com/3935/15440265645_e2f8ae7b4c_h.jpg 1600w" %}
  </div>
</section>